.about-section {
  margin: $spacing-small auto;
  width: 100%;
  max-height: 480px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.about-card {
  display: inline-block;
  padding: $spacing-medium;
  width: 100%;

  &:nth-child(2n) {
    float: right;
  }

  a {
    display: block;
  }

  span {
    font-size: $base-small-font-size;
    color: $type-grey;
  }
}

.progress-card {
  padding: 20px;

  h5 {
    display: inline-block;
    margin-bottom: 0;
  }

  span {
    font-size: $base-small-font-size;
    color: $type-grey;
    margin-left: 5px;
  }
}

@include media($tablet-portrait-up) {
  .about-section {
    width: 560px;
    height: 480px;
  }

  .about-card {
    margin-bottom: $spacing-medium;
  }
}

@include media($tablet-landscape-up) {
  .about-section {
    width: 853px;
  }

  .about-card {
    width: 414px;
  }


}
