.about-section {
  width: 853px;
  margin: $spacing-small auto;
}

.about-card {
  width: 414px;
  display: inline-block;
  padding: 20px;
  margin-top: $spacing-medium;

  &:nth-child(2n) {
    float: right;
  }

  a {
    display: block;
  }

  span {
    font-size: $base-small-font-size;
    color: $type-grey;
  }
}

.progress-card {
  padding: 20px;

  h5 {
    display: inline-block;
    margin-bottom: 0;
  }

  span {
    font-size: $base-small-font-size;
    color: $type-grey;
    margin-left: 5px;
  }
}
