.about-section {
  width: 853px;
  margin: $spacing-small auto;
}

.about-card {
  width: 414px;
  display: inline-block;
  padding: 20px;
  margin-top: $spacing-medium;

  &:nth-child(2n) {
    float: right;
  }

  a {
    display: block;
  }

  span {
    font-size: $base-small-font-size;
    color: $type-grey;
  }
}
