.carousel {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.preamble {
  .titles {
    @include row();
    margin-bottom: $spacing-medium;

    h2 {
      font-size: 32px;
      margin-bottom: 0;
      font-style: italic;

      &:last-child {
        float: right;
      }
    }
  }

  .content {
    margin-top: 100px;
    margin-left: $spacing-small;

    p {
      font-size: 16px;
    }
  }
}

.information {
  float: left;

  p {
    margin-bottom: $spacing-small;
    font-size: $base-small-font-size;
  }

  a {
    text-decoration: none;
    font-size: $base-small-font-size;
    font-weight: bold;
  }
}

.login-logo {
  display: block;
  margin-bottom: $spacing-large;
  @include span-columns(8 of 12);
  @include shift(2 of 12);

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 100px;
  }
}

label.login-checkbox {
  width: 100%;
  cursor:pointer;
  overflow: hidden;
  margin-top: $spacing-small;

  input[type=checkbox] {
    float:left;
    position:relative;
    margin-left:-9999px;
  }

  i {
    border-style: solid;
    border-radius: $border-radius;
    border-width: 1px;
    padding: 2.5px;
  }

  i:before {
    width: 25px;
  }

  span {
    padding-left: 3px;
  }
}

.invitation {
  position: relative;
  background-color: $ui-light-grey;
  @include outer-container(1000px);
  min-height: 1px;
  top: 100px;
  border-radius: ($border-radius * 2);

  .preamble {
    @include span-columns(7 of 12);
    padding: 80px;

    li {
      margin-left: $spacing-small;
      font-size: 16px;
      line-height: 24px;

      span {
        position: relative;
        left: -8px;
      }
    }
  }

  .register {
    @include span-columns(5 of 12);
    @include omega();
    background-color: $primary-red;
    float: right;
    border-radius: ($border-radius * 2);
    padding: 80px $spacing-large 40px $spacing-large;

    #error_explanation {
      background-color: $ui-white;
      border: 1px solid $primary-red;
      border-radius: $border-radius;
      padding: $spacing-small;
      margin: $spacing-small 0 0;

      h2, ul {
        color: $primary-red;
        font-size: $base-font-size;
        margin: 0;
      }
    }

    form {
      @include span-columns(12 of 12);

      input[type="submit"] {
        @include span-columns(12 of 12);
        font-weight: bold;
        padding: 4px;
        margin-top: $spacing-medium;
        margin-bottom: $spacing-large;
      }

      input[type="password"] {
        margin-bottom: 16px;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .invitation {
    margin-bottom: 100px;

    .preamble .content {
      margin-top: 60px;
    }

    .register .logo,
    .register form {
      @include span-columns(11 of 12);
      @include shift(0.5 of 12);
    }
  }
}

@include media($tablet-portrait-down) {
  .invitation {
    .preamble {
      @include span-columns(12 of 12);

      .content {
        margin-top: 0;
      }
    }

    .register {
      @include span-columns(12 of 12);
    }
  }
}
