.preamble {
  .titles {
    @include row();
    margin-bottom: $spacing-medium;
  }

  .content {
    margin-top: 100px;
    margin-left: $spacing-small;

    p {
      font-size: $base-font-size;
    }
  }
}

.information {
  width: 70%;

  p {
    margin-bottom: $spacing-small / 2;
    font-size: $ultra-small-font;
  }

  a {
    text-decoration: none;
    font-size: $ultra-small-font;
    font-weight: bold;
  }
}

.register {
  .external-copyright {
    padding-top: $spacing-medium;
  }
}

.login {
  color: $ui-white;
  border-color: $ui-white;
}

.login-logo {
  display: block;
  margin-bottom: $spacing-large;
  @include span-columns(8 of 12);
  height: 120px;

  img {
    margin-top: $spacing-small;
    display: block;
    max-width: 50%;
    max-height: 120px;
  }
}

.welcome-text h2 {
  margin-bottom: $spacing-large * 2;
}

label.login-checkbox {
  width: 65%;
  cursor:pointer;
  overflow: hidden;
  margin-top: $spacing-medium;
  margin-bottom: $spacing-small;

  span {
    display: block;
    margin-left: 30px;
    margin-top: -18px;
    margin-bottom: $spacing-small;
  }

  .emails {
    margin-top: $spacing-medium;
  }

  input[type=checkbox] {
    float:left;
    position:relative;
    margin-left:-9999px;
  }

  i {
    border-style: solid;
    border-width: 1px;
    padding: 2.5px;
  }

  i:before {
    width: 25px;
  }

  span {
    padding-left: 3px;
  }
}

.branded-left-box {
  height: 760px;
}

.login-icon {
  text-align: center;
  img {
    width: 40%;
    margin-bottom: $spacing-large;
  }
}

.branded-content-box {
  ::placeholder {
    font-size: $base-small-font-size;
  }
  :-ms-input-placeholder {
    font-size: $base-small-font-size;
  }
  ::-ms-input-placeholder {
    font-size: $base-small-font-size;
  }
}

.invitation {
  position: relative;
  background-image: linear-gradient(60deg, $primary-red-left, $primary-red-right);
  box-shadow: 0px 0px 20px 8px rgba(34,34,34,0.2);
  -webkit-box-shadow: 0px 0px 20px 8px rgba(34,34,34,0.2);
  -moz-box-shadow: 0px 0px 20px 8px rgba(34,34,34,0.2);
  @include outer-container(1100px);
  min-height: 1px;
  top: 100px;


  .preamble {
    @include span-columns(5 of 12);
    padding: 40px;

    li {
      font-size: $base-font-size;
      line-height: 24px;
    }

    .content p {
      font-size: $base-font-size;
    }

    .no-logo {
      margin-top: 50%;
      margin-bottom: auto;
    }
  }

  .branded-right-box {
    background-color: $ui-white;
    height: 100%;
  }

  .branded-submit {
    color: $primary-navy;
    border-color: $primary-navy;
    background-color: $ui-white;
    border-radius: 0;
  }

  .branded-submit:hover {
    background-color: $primary-navy;
    color: $ui-white;
    border-color: $primary-navy;
  }

  .register {
    @include span-columns(7 of 12);
    @include omega();
    padding: $spacing-large;

    .welcome-text {
      width: 60%;
    }

    #error_explanation {
      background-color: $ui-white;
      border: 1px solid $primary-background;
      padding: $spacing-small;
      margin: $spacing-small 0 0;

      h2, ul {
        color: $primary-background;
        font-size: $base-font-size;
        margin: 0;
      }
    }

    form {
      @include span-columns(12 of 12);

      input[type="submit"] {
        width: 30%;
        font-weight: bold;
        padding: 4px;
        margin-top: $spacing-large * 2;
        margin-bottom: $spacing-medium;
      }

      input[type="password"] {
        margin-bottom: 16px;
      }
    }
  }
}

.error_notification {
  color: $ui-white;
}
