.carousel {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.invitation {
  position: relative;
  background-color: $ui-light-grey;
  @include outer-container(1000px);
  min-height: 1px;
  margin-top: 160px;

  .preamble {
    @include span-columns(6 of 12);
    padding: 40px;

    .content {
      @include span-columns(9 of 12);
      @include shift(1.5 of 12);
      margin-top: 100px;
    }

    .title {
      @include row();

      * {
        font-style: italic;
      }

      h2 {
        color: $primary-cta-color;
      }

      h3 {
        color: $primary-red;
        float: right;
      }
    }

    li {
      list-style-type: none;
      font-weight: bold;
      margin-left: $spacing-small;
    }
  }

  .register {
    @include span-columns(6 of 12);
    background-color: $primary-red;
    padding: $spacing-large;
    color: $ui-white;

    #error_explanation {
      background-color: $ui-white;
      border: 1px solid $primary-red;
      border-radius: $border-radius;
      padding: $spacing-small;
      margin: $spacing-small 0 0;

      h2, ul {
        color: $primary-red;
        font-size: $base-font-size;
        margin: 0;
      }
    }

    .logo {
      display: block;
      margin: 0 auto;
      @include span-columns(8 of 12);
      @include shift(2 of 12);
    }

    form {
      @include span-columns(8 of 12);
      @include shift(2 of 12);

      input {
        background-color: $faded-red;
        border-color: $primary-red;
      }

      input[type="submit"] {
        @include span-columns(4 of 12);
        @include shift(4 of 12);
        color: $primary-red;
        background-color: $ui-white;
        font-weight: bold;
        padding: 4px;
      }

      p {
        color: $ui-white;
      }

      a {
        color: $ui-white;
        text-decoration: underline;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .invitation {
    margin: 160px 40px;

    .preamble .content {
      @include span-columns(11 of 12);
      @include shift(0.5 of 12);
      margin-top: 60px;
    }

    .register .logo,
    .register form {
      @include span-columns(11 of 12);
      @include shift(0.5 of 12);
    }

    .register form {
      input[type="submit"] {
        @include span-columns(8 of 12);
        @include shift(2 of 12);
      }
    }
  }
}

@include media($tablet-portrait-down) {
  .invitation {
    margin-top: 40px;

    .preamble {
      @include span-columns(12 of 12);

      .content {
        margin-top: 0;
      }
    }

    .register {
      @include span-columns(12 of 12);
    }
  }
}
