.app-download {
  .app-icon {
    margin-top: $spacing-medium;
  }

  img {
    padding: $spacing-medium - 8px;
    border: 4px solid rgba(200,200,200,0.1);
    border-bottom: 5px solid rgba(200,200,200,0.1);
    border-radius: 20px;
    width: 35%;
  }

  .app-download-title {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-small;
    font-size: $base-font-size;
  }

  .app-download-text {
    margin-bottom: $spacing-medium;
    font-family: $base-font-family !important;
  }
}

.is-blurred {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.app-download-dialog {
  border-radius: 10px;

  img {
    margin: 0 auto;
    display: block;
  }

  .ui-dialog-titlebar-close {
    margin-top: -24px;
  }

  .ui-dialog-titlebar {
    border: none;
    background: $ui-white;
    text-align: center;
  }

  .ui-dialog-buttonpane {
    padding: 1px;

    .ui-dialog-buttonset {
      float: none;
    }

    .app-dismiss {
      text-align: center;
      border: 0;
      width: 35px;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      border: 0 !important;
      background: none;

      .ui-button-text {
        font-family: FontAwesome;
      }

      .fa-times {
        padding: 5px;
        color: $primary-black;
        font-size: $title-font-size-3;
      }
    }
  }

  .ui-dialog-buttonset {
    width: 100%;
  }

  .text {
    font-size: 14px;
  }

  .app-download-footer {
    font-size: 14px;
    margin: 20px;

  }

  .dialog-second-btn {
    border: none;
    width: 100%;
    height: 20px;
    background-color: $ui-white;
    cursor: pointer;
    font-size: $ultra-small-font;
    font-weight: $semi-bold-font-weight;
  }

  #app-download-btn .branded-btn {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    display: block;

    .ui-button-text {
      padding: 7px;
      font-weight: $bold-font-weight;
    }
  }

  .app-download-footer {
    margin: $spacing-small;
  }
}
