.appliances {
  margin: $spacing-small auto;
  @include outer-container(860px);

  .appliance {
    @include row();
    margin-bottom: 20px;

    img {
      width: 100%;
      margin-top: $spacing-small;
    }

    .images {
      @include span-columns(4 of 12);
      @include omega();
      padding: $spacing-small;

      i.dummy-image {
        display: block;
        width: 86px;
        color: $ui-grey;
        margin-top: 0;

        & + span {
          text-align: center;
          display: block
        }
      }

      a {
        margin-top: $spacing-small;
      }
    }

    .details {
      @include span-columns(8 of 12);
      padding: $spacing-small;

      .detail {
        @include span-columns(6 of 12);
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .appliance {
    margin: $spacing-small 20px;
  }
}

@include media($tablet-portrait-down) {
  .appliances {
    .appliance {
      .images {
        @include span-columns(6 of 12);
      }

      .details {
        @include span-columns(6 of 12);

        .detail {
          @include span-columns(12 of 12);
        }
      }
    }
  }
}


@include media($mobile-down) {
  .appliances {
    .appliance {
      .images {
        @include span-columns(12 of 12);
      }

      .details {
        @include span-columns(12 of 12);
      }
    }
  }
}
