.appliances {
  margin: $spacing-small auto;
  @include outer-container(960px);

  .appliance {
    @include row();
    margin-bottom: 20px;
    padding-bottom: $spacing-medium;
    border-bottom: 2px solid $ui-light-grey;

    span {
      font-size: $base-font-size;
    }

    img {
      width: 100%;
      margin-top: $spacing-small;
      border-radius: 5px;
    }

    .images {
      @include span-columns(4 of 12);
      @include omega();
      padding: $spacing-small;
      text-align: center;

      .secondary-image {
        display: block;
        max-width: 80px;
        margin-bottom: $spacing-small;
      }

      i.dummy-image {
        display: block;
        width: 86px;
        color: $ui-grey;
        margin-top: 0;

        & + span {
          text-align: center;
          display: block
        }
      }

      a {
        margin-top: $spacing-medium;
      }
    }

    .details {
      @include span-columns(8 of 12);
      padding: $spacing-small;

      .detail {
        @include span-columns(6 of 12);

        label {
          margin-top: 12px;
        }

        span {
          width: 80%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .energy-rating {
        max-width: 260px;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .appliance {
    margin: $spacing-small 20px;
  }
}

@include media($tablet-portrait-down) {
  .appliances {
    .appliance {
      .images {
        @include span-columns(6 of 12);
      }

      .details {
        @include span-columns(6 of 12);

        .detail {
          @include span-columns(12 of 12);
        }
      }
    }
  }
}


@include media($mobile-down) {
  .appliances {
    .appliance {
      .images {
        @include span-columns(12 of 12);
      }

      .details {
        @include span-columns(12 of 12);
      }
    }
  }
}
