.branded-btn {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 $spacing-small;
  display: inline-block;
}

.branded-btn.alt {
  font-size: $base-small-font-size;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.branded-btn.second {
  background-color: $secondary-cta-color;
  border-color: $ui-white;
  color: $ui-white;
  font-size: $base-button-font-size;
}

.branded-hero {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.branded-body {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}

.branded-border {
  border-width: 1px;
  border-style: solid;
}

.branded-text {
  display: block;

  h1, h2, h3, h4, h5, h6, p, span {
    color: inherit;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
  }
}

.branded-primary-text {
  p, a, label {
    color: inherit;
  }
}

.invitation .register {
  background-color: inherit;
}

.login .sign-in {
  background-color: inherit;
}

.branded-primary-text {
  input[type=checkbox]:checked + i:before {
    color: $ui-white;
  }

  i {
    background-color: $ui-white;
  }
}

.branded-primary-btn {
  input {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    margin-bottom: $spacing-small;
  }
}
