.branded-btn {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 $spacing-small;
  display: inline-block;

  // Need to set defaults here for the sign-in page
  // They are set again in the branding template
  border-color: $primary-red;

  &:hover {
    color: $ui-white;
    background-color: $primary-red;
  }
}

.branded-hero {
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.branded-body {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}

.branded-border {
  border-width: 1px;
  border-style: solid;
}

.branded-text {
  display: block;

  h1, h2, h3, h4, h5, h6, p, span {
    color: inherit;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
  }
}

.branded-primary-text {
  color: $ui-white;

  p, a, label {
    color: inherit;

    i {
      color: $ui-white;
    }
  }
}

.invitation .register {
  background-color: inherit;
}

.login .sign-in {
  background-color: inherit;
}

.branded-primary-text {
  input[type=checkbox] {
    color: $ui-white;
  }

  input[type=checkbox]:checked + i:before {
    color: $primary-background;
  }

  i {
    background-color: $ui-white;
    border-color: $ui-white;
  }
}

// These colours will be over-ridden if branding is applied

.top-title {
  color: $primary-blue;
}

.second-title {
  color: $primary-red;
}
