.branded-content {
  border-radius: 5px/5px;
}

.branded-btn {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 $spacing-small;
  display: inline-block;

  &:hover {
    color: $ui-white;
    background-color: $primary-background;
  }
}

.branded-btn-inverted {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 0 $spacing-small;
  display: inline-block;
  color: $ui-white;
  background-color: $primary-red-left;
  border-color: $primary-red-left;

  &:hover {
    color: $primary-red-left;
    background-color: $ui-white;
  }
}

.branded-hero {
  margin-top: 110px; // needed to prevent fixed navigation obscuring
  height: 160px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.branded-body {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}

.branded-border {
  border-width: 1px;
  border-style: solid;
}

.branded-text {
  display: block;
  color: $primary-navy;

  h1, h2, h3, h4, h5, h6, p, span {
    color: inherit;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
  }
}

.branded-primary-text {
  color: $primary-navy;

  p, a, label {
    color: inherit;

    i {
      color: $ui-white;
    }
  }
}

.login, .sign-in {
  background-color: $ui-white;

  // Need to set defaults here for devise pages
  // They are set again in the branding template for all other pages
  .btn {
    border-color: $primary-navy;
    color: $primary-navy;
    background-color: $ui-white;
    border-radius: 0;
  }

  .btn:hover {
    color: $ui-white;
    border-color: $primary-navy;
    background-color: $primary-navy;
  }
}

.branded-primary-text {
  input[type=checkbox] {
    color: $ui-white;
  }

  input[type=checkbox]:checked + i:before {
    color: $primary-navy;
  }

  i {
    background-color: $ui-white;
    border-color: $primary-navy;
  }
}

// These colours will be over-ridden if branding is applied

.top-title {
  color: $primary-red-left;
  margin-bottom: $spacing-small;
}

.second-title {
  color: $primary-navy;
  margin-bottom: $spacing-large * 2 ;
}

// ensure hero is positioned correctly in tablet and mobile view

@include media($tablet-landscape-down) {
  .branded-hero {
    margin-top: 65px;
  }
}

// Show all of the sub-categories in mobile view

@include media($mobile-down) {
  .branded-hero {
    max-height: 180px;
  }
}

@include media($mobile-portrait-down) {
  .branded-hero {
    height: 170px;
  }
}
