$contact_thumb_size: 46px;

// Contact summary list on dashboard
.contact-list {
  font-size: $base-font-size;
  overflow-y: scroll;
  height: 100%;

  .avatar {
    height: $contact_thumb_size;
    width: $contact_thumb_size;
    font-size: $contact_thumb_size;
    color: $ui-dark-grey;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%;
    }
  }

  .name {
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: block;
    white-space: nowrap;
  }

  .primary {
    font-size: $title-font-size-5;
  }

  a {
    color: inherit;
    padding: 2px;
    font-size: $title-font-size-5;
  }
}

.contact {
  padding: 10px;
  height: 86px;
  border-top-style: solid;
  border-top-width: 1px;

  .three-fifths {
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.my-contacts {
  height: 482px;
  overflow: scroll;
}

// Contacts on contacts page
.full-contacts {
  width: 720px;
  margin-left: auto;
  margin-right: auto;

  .contact {
    width: 100%;
    height: 160px;
    font-size: $base-small-font-size;

    .name {
      font-size: $base-font-size;
    }

    .avatar {
      font-size: 48px;
      margin: $spacing-small auto $spacing-small/2 auto;
      color: $type-grey;
      text-align: center;
      width: 50px;
      height: 50px;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    .details {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.check-faqs {
  font-size: $base-font-size;
  text-align: center;
  margin-bottom: $spacing-medium;
}
