// Dashboard contacts component
.contacts-component {
  height: 482px;

  .contact {
    padding: 5px 10px;
    height: 108px;
    border-top: 1px solid $ui-grey;

    .contact-avatar {
      @include span-columns(3 of 12);
      padding-top: 15px;

      .avatar {
        margin: 0 auto;
        max-width: 55px;
        font-size: 55px;
        color: $ui-dark-grey;
      }

      img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        max-height: 86px;
        border-radius: 50%;
      }
    }

    .contact-details {
      @include span-columns(9 of 12);
      font-size: $base-small-font-size;
      padding-left: 4px;

      .contact-detail {
        text-overflow: ellipsis;
        overflow-x: hidden;
        display: block;
        white-space: nowrap;

        .fa-phone {
          font-size: 14px;
        }

        .fa-mobile {
          font-size: 18px;
        }

        a {
          font-size: inherit;
        }
      }

      .contact-detail:first-child {
        font-size: $base-font-size;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .contact-list .contact {
    .contact-avatar {
      @include span-columns(2 of 12);

      .avatar {
        max-width: 86px;
        font-size: 86px;
      }
    }

    .contact-details {
      @include span-columns(10 of 12);
    }
  }
}

@include media($tablet-portrait-down) {
  .contact-list .contact {
    .contact-avatar {
      @include span-columns(3 of 12);
      max-height: 69px;

      .avatar {
        max-width: 69px;
        font-size: 69px;
      }
    }

    .contact-details {
      @include span-columns(9 of 12);
    }
  }
}

// Contacts on contacts page
.full-contacts {
  @include outer-container();

  .contact {
    @include span-columns(4 of 12);
    @include omega(3n);
    margin-bottom: $spacing-medium;
    border-radius: $border-radius;
    border-style: solid;
    padding: $spacing-small;

    .avatar {
      @include span-columns(4 of 12);
      color: $type-grey;
      font-size: 48px;
      text-align: center;

      img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
      }

    }

    .details {
      @include span-columns(8 of 12);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@include media($tablet-landscape-down) {
  .full-contacts {
    @include outer-container(80%);

    .contact {
      @include span-columns(12 of 12);
      @include omega-reset(3n);
    }
  }
}

.check-faqs {
  font-size: $base-font-size;
  text-align: center;
  margin-bottom: $spacing-medium;
}
