// Dashboard contacts component
.contacts-component {
  height: 482px;

  .contact {
    padding: 10px;
    height: 108px;
    border-top: 1px solid $ui-grey;

    .contact-avatar {
      @include span-columns(3 of 12);

      img {
        display: block;
        max-width: 100%;
        max-height: 86px;
        border-radius: 50%;
      }
    }

    .contact-details {
      @include span-columns(9 of 12);

      .contact-detail {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow-x: hidden;
        display: block;
        white-space: nowrap;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .contact-list .contact {
    .contact-avatar {
      @include span-columns(2 of 12);
    }

    .contact-details {
      @include span-columns(10 of 12);
    }
  }
}

@include media($tablet-portrait-down) {
  .contact-list .contact {
    .contact-avatar {
      @include span-columns(3 of 12);
    }

    .contact-details {
      @include span-columns(9 of 12);
    }
  }
}

// Contacts on contacts page
.full-contacts {
  width: 720px;
  margin-left: auto;
  margin-right: auto;

  .contact {
    width: 100%;
    height: 160px;
    font-size: $base-small-font-size;

    .name {
      font-size: $base-font-size;
    }

    .avatar {
      font-size: 48px;
      margin: $spacing-small auto $spacing-small/2 auto;
      color: $type-grey;
      text-align: center;
      width: 50px;
      height: 50px;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    .details {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.check-faqs {
  font-size: $base-font-size;
  text-align: center;
  margin-bottom: $spacing-medium;
}
