$contact_thumb_diameter: 54px;

.branded-body {
  .contact-list {
    .avatar {
      overflow: hidden;
      border-radius: 50%;
      float: left;

      img {
        display: block;
        height: $contact_thumb_diameter;
        width: $contact_thumb_diameter;
      }
    }
  }   
}

.contact-details {
  width: 150px;
  float: right;
  font-size: $base-small-font-size;
}

.contact {
  padding: 10px;
  height: 95px;
  border-top-style: solid;
  border-top-width: 1px;
}

.contact-actions {
  white-space: nowrap;

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}

.my-contacts {
  height: 520px;
}
