// Dashboard contacts component
.contacts-component {
  height: 482px;

  .contact {
    padding: 5px 10px;
    height: 108px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-style: solid;
    border-top-width: 1px;

    .contact-avatar {
      @include span-columns(3 of 12);
      padding-top: 15px;

      .initials-avatar {
        text-align: center;
        width: 70px;
        height: 70px;
        margin-right: auto;
        margin-left: auto;
        color: $ui-white;
        top: 50%;
        background-color: $ui-grey;
        border-radius: 50%;

        .initials {
          position: relative;
          top: 50%;
          line-height: 5%;
          font-size: 30px;
        }
      }

      img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        max-height: 70px;
        border-radius: 5px;
      }
    }

    .contact-details {
      @include span-columns(9 of 12);
      font-size: $base-small-font-size;
      padding-left: 4px;

      .contact-detail {
        text-overflow: ellipsis;
        overflow-x: hidden;
        display: block;
        white-space: nowrap;

        .fa-phone {
          font-size: 14px;
        }

        .fa-mobile {
          font-size: 18px;
        }

        a {
          font-size: inherit;
        }
      }

      .contact-detail:first-child {
        font-size: $base-font-size;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .contact-list .contact {
    .contact-avatar {
      @include span-columns(2 of 12);
    }

    .contact-details {
      @include span-columns(10 of 12);
    }
  }

  .contacts-nav .sub-navigation-container {
    .navbar-item-secondary {
      width: 130px;
    }
  }
}

@include media($tablet-portrait-down) {
  .contact-list .contact {
    .contact-avatar {
      @include span-columns(3 of 12);
      max-height: 69px;
    }

    .contact-details {
      @include span-columns(9 of 12);
    }
  }
}

// Contacts on contacts page
.full-contacts {
  @include outer-container();

  .contact {
    @include span-columns(6 of 12);
    @include omega(2n);
    margin-bottom: $spacing-medium;
    border-radius: $border-radius;
    border-style: solid;
    padding: $spacing-small;
    max-height: 300px;
    min-height: 200px;

    .avatar {
      @include span-columns(5 of 12);
      font-size: 48px;
      text-align: center;
      hyphens: auto;

      .initials-avatar {
        width: 50%;
        height: 110px;
        margin-right: auto;
        margin-left: auto;
        color: $ui-white;
        top: 50%;
        background-color: $ui-grey;
        border-radius: 50%;

        .initials {
          position: relative;
          top: 50%;
          line-height: 5%;
        }
      }

      .position {
        font-weight: $semi-bold-font-weight;
      }

      p {
        margin: 10px 0 0 0 ;
      }

      img {
        max-width: 75%;
        max-height: 110px;
        border-radius: 5px;
      }
    }

    .details {
      @include span-columns(7 of 12);
      word-wrap: break-word;

      .contact-detail {
        margin-bottom: 15px;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .full-contacts {
    @include outer-container(90%);

    .contact {
      @include span-columns(12 of 12);
      @include omega-reset(3n);
    }
  }
}

.check-faqs {
  font-size: $base-font-size;
  text-align: center;
  margin-bottom: $spacing-medium;
  a {
    font-weight: $semi-bold-font-weight;
  }
}
