.dash-tile {
  border: 1px solid $pale-navy;
  background: none;

  .tile-content {

    .tile-image {
      display: block;
      width: 30%;
      height: 100%
    }

    .tile-full-image {
      display: block;
      height: 100%;
      width: 100%;
      background-size: cover;
    }

    .tile-image, .tile-full-image {

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .tile-cropped-image {

      background-color: black;

      img {
        height: 81%;
        width: 100%;
        object-fit: cover;
      }
    }

    .spaciable-buyers {
      height: 100%;
      width: 100%;
      background-color: $primary-navy;

      img {
        object-fit: contain;
        padding: 10px;
      }
    }

    .img-tile-details, .full-img-tile-details {
      position: absolute;
      display: block;
      height: 100%;
      right: 0;
      top: 0;
      padding: $spacing-small;
      pointer-events: none;
    }

    .img-tile-details {
      width: 70%;
    }

    .full-img-tile-details {
      width: 100%;
    }


    .full-img-tile-details {
      padding: $spacing-small;
    }

    .tile-text {
      h2 {
        font-size: $title-font-size-4;
        padding-top: $spacing-medium;
        margin-bottom: $spacing-small;
      }

      .tile-description {
        font-size: $base-small-font-size;
      }
    }

    .tile-button {
      position: absolute;
      bottom: 0;
      padding-bottom: $spacing-small;
      pointer-events: all;

      .branded-btn {
        line-height: $base-font-line-height;
        font-size: $base-font-size;
        width: 140px;
        text-align: center;
        padding: 0px 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.dash-tile {
  .tile-content .icon-tile {
    padding: $spacing-small;

    display: grid;
    height: 100%;
    grid-template-rows: 20% 55% 25%;

    .tile-icon {
      padding: 0;
      padding-top: $spacing-small;

      i {
        font-size: $title-font-size-1;
        opacity: 0.5;
      }
    }

    .icon-tile-details {
      padding: $spacing-small;
      padding-left: 0;

      h2 {
        font-size: $title-font-size-4;
        padding-top: $spacing-small;
        margin-bottom: $spacing-small;
      }

      p {
        font-size: $base-small-font-size;
      }
    }

    .tile-button {
      align-self: end;
    }
  }
}

.dashboard .one-card .single-card {
  .how-to-dash {
    float: left;
    clear: none;
  }
}

.dashboard .one-card .multi-card {
  .article {
    @include omega(2n);
  }
}

.spotlights-btn {
  display: none;
}

// mobile portrait view
@include media($mobile-down) {
  .dash-tile {
    .tile-content {
      .tile-text {
        h2 {
          padding-top: $spacing-small;
        }
      }
      .tile-button {
        padding-bottom: $spacing-small/2;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .spotlights-btn {
     display: inline-block;
  }
}
