.faqs-component .faq-list {
  li {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 6px;

    a, a:hover, a:active, a:visited {
      color: inherit;
    }

    span {
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 95%;
      white-space: nowrap;
      padding-right: 10px;
    }

    i {
      width: 5%;
    }
  }
}

.homeowner-view .faqs {
  h3 {
    margin: $spacing-small 0;
  }

  .ui-accordion-header {
    margin-top: $spacing-small;
    &:focus {
      outline: none;
    }
  }

  .ui-accordion-content {
    padding-bottom: $spacing-small;
    border-radius: 0 0 5px 5px;
    p {
      margin-bottom: $spacing-small;
    }
  }
}

.ui-accordion-header {
  background: $ui-white;
}

.ui-widget-content {
  background: $ui-white;
}

.check-contacts {
  font-size: $base-font-size;
  margin: $spacing-medium 0;
  text-align: center;

  a {
    font-weight: bold;
    color: inherit
  }
}

.faq-navigation {
  .faq-categories {
    margin-top: 22px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    .categories {
      margin-bottom: 0;
      padding-bottom: 22px;

      li {
        display: inline-block;
        margin-bottom: 0;

        a {
          display: block;
          min-width: 122px;
          text-align: center;
          border: 1px solid $primary-navy;
          border-radius: 3px;
          padding: 2px 10px;
          font-size: 12px;
          color: $primary-navy;
          background-color: $ui-white;
          cursor: pointer;
          margin-right: $spacing-medium;

          &:hover {
            color: $ui-white;
            background-color: $primary-navy;
          }
        }

        .active {
          color: $ui-white;
          background-color: $primary-navy;
        }
      }
    }
  }
}

.faqs {
  .faq-feedback {
    padding-top: $spacing-small;
    p {
      font-weight: $bold-font-weight;
    }

    button {
      background: none;
      border: none;
      font-family: $base-font-family;
      padding: 0 $spacing-small 0 ;
      color: $primary-navy;

      &:hover {
        cursor: pointer;
        font-weight: $bold-font-weight;
      }
    }

    #positiveFAQ {
      padding-left: $spacing-medium;
    }
  }

  .positive-response {
    display: none;
  }
}

@include media($tablet-landscape-down) {
  .faq-nav .sub-navigation-container {
    .sub-nav-links {
      display: block;
      width: 100%;
    }

    .navbar-item {
      display: inline-block;
      list-style-type: none;
      cursor: pointer;
      vertical-align: bottom;
    }

    .navbar-item-secondary {
      width: 140px;
    }
  }

  .faq-navigation .faq-categories {
    .categories {
      .category {
        margin-bottom: $spacing-small;

        a {
          margin-right: $spacing-small;
        }
      }
    }
  }
}

@include media($mobile-down) {
  .faq-nav .sub-navigation-container {
    .navbar-item-secondary {
      width: 110px;
    }
  }
}