.faqs-component .faq-list {
  li {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 6px;

    a, a:hover, a:active, a:visited {
      color: inherit;
    }

    span {
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 95%;
      white-space: nowrap;
      padding-right: 10px;
    }

    i {
      width: 5%;
    }
  }
}

.homeowner-view .faqs {
  h3 {
    margin: $spacing-small 0;
  }

  .ui-accordion-header {
    background: $ui-white;
    margin-top: $spacing-small;
    &:focus {
      outline: none;
    }
  }

  .ui-accordion-content {
    padding-bottom: $spacing-small;
    p {
      margin-bottom: $spacing-small;
    }
  }
}

.check-contacts {
  font-size: $base-font-size;
  margin: $spacing-medium 0;

  a {
    font-weight: bold;
    color: inherit
  }
}
