.filter-hero {
  height: 100%;
  overflow: hidden;
  z-index: 2;
  padding: $spacing-medium;
}

.hero-links {
  margin-top: $spacing-small;

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin-bottom: 12px;

    a {
      border: 1px solid $ui-white;
      border-radius: 3px;
      padding: 4px 10px;
      color: $ui-white;
      cursor: pointer;

      &:hover {
        background-color: $ui-white;
        color: $primary-navy;
      }
    }

    a.active {
      background-color: $ui-white;
      color: $primary-navy;
      border-color: $ui-white;
    }
  }
}

@include media($tablet-portrait-up) {
  .hero-text h2 {
    font-size: $title-font-size-2;
  }
}

@include media($mobile-portrait-down) {
  .filter-hero {
    padding: 10px;
  }
}
