.filter-hero {
  @include grad-blue-black(135deg, 0.6);
  height: 100%;
  overflow: hidden;
  z-index: 2;
  padding: $spacing-medium;
}

.hero-text {
  color: $ui-grey;
  display: block;
  text-align: center;
  opacity: 0.8;
  margin-top: $spacing-small;

  h2 {
    color: $ui-white;
    font-size: $title-font-size-3;
    margin-bottom: $spacing-small;
  }

  .secondary {
    color: $ui-white;
  }
}

.hero-header {
  color: $ui-light-grey;
}

.hero-links {
  margin-top: $spacing-small;

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin-bottom: 12px;

    a {
      border: 1px solid $ui-white;
      border-radius: 3px;
      padding: 4px 10px;
      color: $ui-white;
      cursor: pointer;

      &:hover {
        background-color: $ui-white;
        color: $primary-navy;
      }
    }

    a.active {
      background-color: $ui-white;
      color: $primary-navy;
      border-color: $ui-white;
    }
  }
}

@include media($tablet-portrait-up) {
  .hero-text h2 {
    font-size: $title-font-size-2;
  }
}

@include media($mobile-portrait-down) {
  .filter-hero {
    padding: 10px;
  }
}
