.homeowner-view {
  .hero {
    height: 200px;
    margin-bottom: $spacing-medium;
    background-image: url(https://tinyurl.com/j6s6be3);
    background-size: cover;
    background-position: center;
  }
}
