.filter-hero {
  @include grad-blue-black(135deg, 0.6);
  height: 100%;
  overflow: hidden;
  z-index: 2;
  padding: 28px;
}

.hero-text {
  margin-top: 35px;
  color: $ui-grey;
  display: block;
  text-align: center;
  opacity: 0.8;


  h2 {
    color: $ui-white;
    font-weight: 200;
  }
}

.hero-header {
  color: $ui-light-grey;
}

.hero-links {
  margin-top: $spacing-small;

  ul {
    text-align: center;
  }

  li {
    display: inline-block;

    a {
      border: 1px solid $ui-white;
      border-radius: 3px;
      padding: 4px 10px;
      color: $ui-white;
      cursor: pointer;

      &:hover {
        background-color: $ui-white;
        color: $ui-black;
      }
    }

    a.active {
      background-color: $ui-white;
      color: $ui-black;
      border-color: $ui-black;
    }
  }
}
