$card-size: 150px;
$card-size: 150px;
$homeowner-margin: 12px;

.session-inner {
  @include outer-container(92%);

  .unread {
    background-color: $primary-background;
    color: $ui-white;
    border-radius: 50%;
    padding: 1px 3px;
    margin-left: -11px;
  }

  span {
    color: white;
  }

  a {
    color: $ui-white;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    color: $ui-white;
    background-color: inherit;
    font-size: $base-font-size;
    border: none;
    cursor: pointer;
    font-family: 'ITCAvantGarde', 'ITCAvantGardeStd-Bk', 'ITCAvantGardeGothicMedium', 'Poppins-SemiBold', CenturyGothic, AppleGothic, sans-serif;
  }

  img {
    vertical-align: middle;
    border-radius: 5%;
    max-height: 40px;
    max-width: 100%;
  }
}

.menu {
  @include span-columns(0);
  @include pad(10px default);
  float: right;
  padding-right: 40px;
  margin-right: 0;

  i {
    color: white;
    padding: 3px;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    outline: none;
  }
}

.full-menu {
  float: left;
  padding-left: 20px;

  .active li {
          color: $type-grey;
          font-weight: bold;
        }

  span {
    padding: 5px;
    font-weight: $semi-bold-font-weight;
  }
  a {
    font-weight: $semi-bold-font-weight;
  }
  button {
    font-weight: $semi-bold-font-weight;
  }
}

.homeowner-view {
  @include media($tablet-landscape-down) {
    .session {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20;
    }
  }
}

.black-show-through {
  &:before {
    @include trans-to-black(360deg);
    background-color: transparent;
    content: '';
    display: block;
    width: 100%;
    height: 60%;
    margin-top: 40%;
    border-radius: 5px;
  }
}

.black-show-left {
  &:before {
    @include trans-to-black(90deg);
    background-color: transparent;
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    margin-top: 0;
  }
}

.my-home {
  color: $ui-white;
  background-size: cover;
  background-position: center;

  .card-header {
    margin-top: -220px;
    margin-left: $homeowner-margin;
  }

  .card-content {
    margin-left: $spacing-medium;
  }

  address {
    margin-bottom: $homeowner-margin;
  }
}

.dummy-image {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55%;

  i:before {
    font-size: 50px;
    color: $ui-dark-grey;
  }
}

.favourite {
  color: #FFCCD5;
  opacity: 0.6;
  margin-top: $spacing-small;
  margin-right: $spacing-small;
  font-size: 16px;

  i::after {
    font-family: FontAwesome;
    content: "\f08a";
    margin-left: -16px;
    color: #FF4C4C;
  }
}

.destroy-resident {
  float: right;
}

// tablet view
@include media($tablet-portrait-up) {
  .menu {
    padding-right: 10px;;
  }

  .full-menu, .sub-navigation-container {
    display: block;
  }

  .small-menu {
    display: none;
  }
}
