$card-size: 150px;
$homeowner-margin: 12px;

.homeowner-view {
  .session {
    background-color: $secondary-blue;

    .session-inner {
      @include outer-container(90%);

      .user {
        @include span-columns(0);
        @include pad(10px default);
        float: right;

        i {
          color: white;
          padding: 3px;
          font-size: 20px;
          vertical-align: middle;
          cursor: pointer;
        }
      }

      span {
        color: white;
      }

      a {
        color: $ui-white;

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        vertical-align:middle;
        border-radius: 50%;
        height: 40px;
      }
    }
  }

  @include media($tablet-landscape-down) {
    .session {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20;
    }
  }
}

.black-show-through {
  &:before {
    @include trans-to-black(360deg);
    background-color: transparent;
    content: '';
    display: block;
    width: 100%;
    height: 60%;
    margin-top: 40%;
    border-radius: 5px;
  }
}

.black-show-left {
  &:before {
    @include trans-to-black(90deg);
    background-color: transparent;
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    margin-top: 0;
  }
}

.my-home {
  color: $ui-white;
  //position: relative;
  background-size: cover;
  background-position: center;

  .card-header {
    margin-top: -220px;
    margin-left: $homeowner-margin;
  }

  .card-content {
    margin-left: $spacing-medium;
  }

  address {
    margin-bottom: $homeowner-margin;
  }
}

.dummy-image {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55%;

  i:before {
    font-size: 50px;
    color: $ui-dark-grey;
  }
}

.favourite {
  color: #FFCCD5;
  opacity: 0.6;
  margin-top: $spacing-small;
  margin-right: $spacing-small;
  font-size: 16px;

  i::after {
    font-family: FontAwesome;
    content: "\f08a";
    margin-left: -16px;
    color: #FF4C4C;
  }
}

@include media($mobile-down) {
  .homeowner-view {
    .hero {
      height: 230px;

      h1 {
        font-size: $title-font-size-5;
      }

      li .btn {
        font-size: $base-small-font-size;
      }
    }
  }
}
