$card-size: 150px;
$card-size: 150px;
$homeowner-margin: 12px;

.session-inner {
  @include outer-container(90%);

  .user {
    @include span-columns(0);
    @include pad(10px default);
    float: right;

    &.user-mobile {
      display: none;
    }

    i {
      color: white;
      padding: 3px;
      font-size: 20px;
      vertical-align: middle;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      outline: none;
    }
  }

  .unread {
    background-color: $primary-red;
    color: $ui-white;
    border-radius: 50%;
    padding: 1px 3px;
    margin-left: -11px;
  }

  span {
    color: white;
  }

  a {
    color: $ui-white;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    color: $ui-white;
    background-color: inherit;
    font-size: $base-font-size;
    border: none;
    cursor: pointer;
  }

  img {
    vertical-align: middle;
    border-radius: 50%;
    height: 40px;
  }

  .my-plots {
    cursor: pointer;
    font-size: $base-font-size;
  }
}

.homeowner-view {
  @include media($tablet-landscape-down) {
    .session {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20;
    }
  }
}

.black-show-through {
  &:before {
    @include trans-to-black(360deg);
    background-color: transparent;
    content: '';
    display: block;
    width: 100%;
    height: 60%;
    margin-top: 40%;
    border-radius: 5px;
  }
}

.black-show-left {
  &:before {
    @include trans-to-black(90deg);
    background-color: transparent;
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    margin-top: 0;
  }
}

.plot-list {
  position: absolute;
  top: 46px;
  right: 46px;
  width: 320px;
  border: 1px solid $ui-grey;
  border-radius: $border-radius;
  background-color: $ui-white;

  a {
    font-size: $base-small-font-size;
  }

  .ui-selectmenu-button {
    border: none;
  }

  span {
    color: $type-grey;
  }

  h5 {
    font-size: $base-small-font-size;
  }

  img {
    max-width: 40px;
    margin-top: $spacing-small;
  }
}

.plot-summary {
  padding: $spacing-small;
  border-bottom: 1px solid $type-grey;

  &:last-child {
    border-bottom: none;
  }

  a {
    cursor: pointer;
  }
}

.my-home {
  color: $ui-white;
  background-size: cover;
  background-position: center;

  .card-header {
    margin-top: -220px;
    margin-left: $homeowner-margin;
  }

  .card-content {
    margin-left: $spacing-medium;
  }

  address {
    margin-bottom: $homeowner-margin;
  }
}

.dummy-image {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55%;

  i:before {
    font-size: 50px;
    color: $ui-dark-grey;
  }
}

.favourite {
  color: #FFCCD5;
  opacity: 0.6;
  margin-top: $spacing-small;
  margin-right: $spacing-small;
  font-size: 16px;

  i::after {
    font-family: FontAwesome;
    content: "\f08a";
    margin-left: -16px;
    color: #FF4C4C;
  }
}

@include media($mobile-down) {
  .homeowner-view .session .session-inner .user {
    display: none;

    &.user-mobile {
      display: inline-block;
    }
  }

  .homeowner-view {
    .hero {
      height: 230px;

      h1 {
        font-size: $title-font-size-5;
      }

      li .btn {
        font-size: $base-small-font-size;
      }
    }
  }
}
