.article-container {
  @include outer-container();

  .article {
    @include span-columns(9 of 12);
    border-radius: $border-radius;
    padding: 20px;
    margin-bottom: $spacing-medium;

    .article-content {
      @include span-columns(9 of 12);
      @include omega();
      float: right;

      ul {
        margin-left: $spacing-medium;
      }

      .breadcrumb a {
        opacity: 0.5;
        font-size: $base-small-font-size;
      }

      iframe {
        margin-bottom: 20px;
        width: 100%;
      }

      .summary {
        font-weight: $semi-bold-font-weight;
      }

      .read-time {
        opacity: 0.5;
      }

    }

    .article-meta {
      @include span-columns(3 of 12);

      .article-image-container img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
      }

      .tags-container .tag {
        display: inline-block;
        line-height: $button-line-height;
        padding: 0 $spacing-small;
        margin-bottom: 5px;
        border: 1px solid;
        border-radius: $border-radius;
        opacity: 0.5;
      }

      .tags-container .tag:hover {
        opacity: 1;
      }
    }
  }

  .recommended-articles {
    @include span-columns(3 of 12);
    border-radius: $border-radius;
    padding: 20px;

    .recommended-article {
      .recommended-article-image {
        @include span-columns(3 of 12);
        width: initial;

        img {
          border-radius: 50%;
          width: 45px;
          height: 45px;
        }
      }

      .recommended-article-detail {
        @include span-columns(9 of 12);

        a {
          display: inline-block;
          color: $semi-pale-navy;
        }

        p {
          font-size: $base-small-font-size;
        }
      }
    }
  }
}

.dashboard, .how-tos {
  .article {
    position: relative;
    @include span-columns(3 of 12);

    &:nth-child(4n) {
      @include omega();
    }

    .overlay {
      background-color: rgba(0,0,0,0.5);
      height: 100%;
    }

    .blue-overlay {
      @include linear-gradient(60deg, rgba(0,42,58,0.5), rgba(0,42,58,1));
    }

    .card-content {
      position: absolute;
      bottom: 0;
      padding: $spacing-small;
    }

    p {
      margin-bottom: $spacing-small / 2;
    }
  }

  .how-to-logo {
    color: $ui-light-grey;
    font-size: $base-small-font-size;
    position: relative;
    top: 4px;
  }
}

.main-container .how-tos .article {
  @include span-columns(4 of 12);

  &:nth-child(3n) {
    @include omega();
  }
}

.dashboard .one-card .article {
  @include span-columns(6 of 12);
}

.dashboard .one-card .how-to-dash {
  @include omega(2n)
}

.dashboard .one-card .library .half {
  @include span-columns(12 of 12);
}

@include media($tablet-landscape-down) {
  .dashboard, .how-tos {
    .article {
      @include span-columns(6 of 12);
      @include omega-reset(4n);
      @include omega(2n);
    }
  }

  .main-container .how-tos .article {
    @include span-columns(6 of 12);
    @include omega(2n);
  }

  .article-container {
    .article, .recommended-articles  {
      @include span-columns(12 of 12);
    }

    .recommended-articles {
      .recommended-article {
        @include span-columns(4 of 12);

        &:nth-child(3n) {
          @include omega();
        }
      }
    }
  }

  .howto-nav .sub-navigation-container {
    .sub-nav-links {
      display: block;
      width: 100%;
    }

    .navbar-item {
      display: inline-block;
      list-style-type: none;
      cursor: pointer;
      vertical-align: bottom;
    }
  }
}

@include media($tablet-portrait-down) {
  .article-container {
    .article {
      .article-content {
        @include span-columns(12 of 12);
      }

      .article-meta {
        @include span-columns(12 of 12);

        .article-image-container {
          @include span-columns(6 of 12);
        }

        .tags-container {
          @include span-columns(6 of 12);
        }
      }
    }

    .recommended-articles {
      .recommended-article {
        @include span-columns(6 of 12);

        &:nth-child(2n) {
          @include omega();
        }
      }
    }
  }
}

@include media($mobile-down) {
  .dashboard, .how-tos, .one-card .articles {
    .article {
      @include span-columns(12 of 12);
      @include omega-reset(2n);
    }
  }

  .main-container .how-tos .article {
    @include span-columns(12 of 12);
    @include omega-reset(2n);
  }

  .article-container {
    .recommended-articles {
      .recommended-article {
        @include span-columns(12 of 12);
      }
    }
  }

  .howto-nav .sub-navigation-container {
    .navbar-item-secondary {
      width: 150px;
    }
  }
}

