.article {
  position: relative;
  @include span-columns(3 of 12);

  &:nth-child(4n) {
    @include omega();
  }

  .overlay {
    @include linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.6));
    height: 100%;
  }

  .card-content {
    position: absolute;
    bottom: 0;
    padding: $spacing-small;
  }

  h3 {
    color: $ui-white;
    margin-bottom: $spacing-small / 2;
  }
}

.how-to-logo {
  font-style: italic;
  color: $ui-light-grey;
  font-size: 12px;
  position: relative;
  top: 4px;
}

@include media($tablet-landscape-down) {
  .article {
    @include span-columns(6 of 12);
    @include omega-reset(4n);
    @include omega(2n);
  }
}

@include media($mobile-down) {
  .article {
    @include span-columns(12 of 12);
    @include omega-reset(2n);
  }
}
