.how-to {
  position: relative;

  .card-content {
    position: absolute;
    bottom: 0;
    padding: $spacing-small;
    background-color: rgba(0,0,0, 0.4);
  }

  h3 {
    color: $ui-white;
    margin-bottom: $spacing-small / 2;
  }
}

.how-to-logo {
  font-style: italic;
  color: $ui-light-grey;
  font-size: 12px;
  position: relative;
  top: 4px;
}
