.home-designer, .area-guide {
  width: 100%;
  .iframe {
    border: none;
    width: 100%;
    height: 750px;
  }
}

.new-tab {
  margin-top: $spacing-small;
  text-align: center;
  a {
    font-size: $base-small-font-size;
    color: $primary-navy;
  }
}
