.intro-video {
  text-align: center;

  .video-container {
    text-align: center;
    padding: $spacing-small;
    position: relative;
    margin: $spacing-small auto;
    border-radius: $border-radius;
  }

  .title {
    font-size: 24px;
    font-weight: $bold-font-weight;
    margin-bottom: $spacing-large;
  }

  .intro-text {
    margin-bottom: $spacing-large;
  }

  .centered {
    width: 360px;
    margin: $spacing-small auto;
  }

  .video-footer {
    margin-top: $spacing-small;
    margin-bottom: $spacing-large;
  }

  .next-page {
    .btn {
      width: 200px;
      border-radius: 0;
    }
  }

  iframe {
    height: 273px;
    width: 100%;
    margin: 0 auto;
  }
}


@include media($tablet-portrait-up) {
  .video-container {
    padding: $spacing-medium $spacing-large;
    width: 800px;
    height: 685px;

    iframe {
      height: 480px;
    }

    .centered {
      width: 640px;
    }
  }
}
