.library-component {
  .card-header {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
  }

  .card-content {
    height: $card-height - $card-header-height;
  }
}

.documents-component {
  .card-content {
    padding: 0 $spacing-medium;
  }

  .document-images {
    .document {
      display: inline-block;
    }
  }

  .document-images {
    padding: 0;
    overflow: hidden;
    background: inherit;
    height: 100%;
  }

  .document {
    display: inline-block;
    padding: 10px 0;

    a {
      font-size: $base-small-font-size;
      color: $primary-navy;
    }
  }

  .document-name {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: $base-small-font-size;
    padding-top: $spacing-small / 2;

    a {
      font-size: $base-small-font-size;
      line-height: 17px;
    }
  }
}

.document-image-container {
  display: table;

  img {
    height: 120px;
    max-width: 96%;
    margin: 0;
  }
}

.sharing-info {
  color: $primary-navy;
  img {
    width: 90%;
  }
}

.library .documents {
  .row {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  h5 {
    font-size: $base-font-size;
    font-weight: bold;
    margin: $spacing-small 0;
  }

  p, span {
    font-size: $base-small-font-size;
  }

  .document {
    display: inline-block;
  }
}

.document {
  .fa-file-pdf-o {
    font-size: 40px;
    display: block;
    margin-bottom: $spacing-small;
    color: primary-navy;
  }
}

.disclaimer {
  font-size: $ultra-small-font;
  padding: $spacing-small;
  text-align: center;
  color: $primary-black;
}

.document-permission {
  cursor: pointer;

  &:after {
    font-size: 14px;
    font-family: FontAwesome;
    content: "\f10c";
  }
}

.shared:after {
  content: "\f058";
}

.sharing-info-dialog {
  img {
    margin: 0 auto;
    display: block;
  }

  .hide-sharing-info {
    font-size: $ultra-small-font;
    font-weight: $semi-bold-font-weight;
  }

  .ui-dialog-titlebar-close {
    margin-top: -24px;
  }

  .ui-dialog-titlebar {
    border: none;
    background: $ui-white;
    text-align: center;
  }

  .ui-dialog-buttonpane {
    padding: 1px;

    .ui-dialog-buttonset {
      float: none;
    }

    .dialog-btn {
      width: 112px;
      margin: 0 auto;
      display: block;
      border: 2px $primary-red solid;
    }
  }

  .ui-dialog-buttonset {
    width: 100%;
  }

  .text {
    font-size: 14px;
  }

  .sharing-footer {
    font-size: 14px;
    margin: 20px;
  }

  .dialog-second-btn {
    border: none;
    width: 100%;
    height: 40px;
    background-color: $ui-white;
    cursor: pointer;
  }
}

@include media($tablet-landscape-down) {
  .library-component {
      height: $card-height - 10px;
  }
}

@include media($mobile-down) {
  .ui-dialog {
    max-width: 100%;
  }
}
