.library-component {
  .card-header {
    border-bottom-style: solid;
  }

  .card-content {
    height: $card-height - $card-header-height;
  }
}

.documents-component {
  .card-content {
    padding: 0 $spacing-medium;
  }

  .document-images {
    .document {
      display: inline-block;
    }
  }

  .document-images {
    padding: 0;
    overflow: hidden;
    background: inherit;
    height: 100%;
  }

  .document {
    display: inline-block;
    padding: 10px 0;

    a {
      font-size: $base-small-font-size;
    }

    img {
      height: 125px;
      display: block;
      text-align: left;
    }
  }

  .document-name {
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: block;
    white-space: nowrap;
    text-align: center;

    a {
      font-size: $base-font-size;
    }
  }
}

.library .documents {
  .row {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .document {
    display: inline-block;
    height: 360px;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      height: 290px;
    }

    h5 {
      font-size: $base-font-size;
      font-weight: bold;
      margin: $spacing-small 0 0 0;
    }

    p {
      font-size: $base-small-font-size;
    }
  }
}

@include media($tablet-landscape-down) {
  .library .documents {
    .row {
      width: 530px;
    }
  }
}

@include media($tablet-portrait-down) {
  .library .documents {
    .row {
      width: 440px;
    }
  }
}
