.library-component {
  .card-header {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
  }

  .card-content {
    height: $card-height - $card-header-height;
  }
}

.documents-component {
  .card-content {
    padding: 0 $spacing-medium;
  }

  .document-images {
    .document {
      display: inline-block;
    }
  }

  .document-images {
    padding: 0;
    overflow: hidden;
    background: inherit;
    height: 100%;
  }

  .document {
    display: inline-block;
    padding: 10px 0;

    a {
      font-size: $base-small-font-size;
      color: $type-grey;
    }
  }

  .document-name {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: $base-small-font-size;
    padding-top: $spacing-small / 2;

    a {
      font-size: $base-small-font-size;
      line-height: 17px;
    }
  }
}

.document-image-container {
  display: table;

  img {
    max-height: 120px;
    max-width: 96%;
    margin: 0;
  }
}

.library .documents {
  .row {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .document {
    display: inline-block;

    h5 {
      font-size: $base-font-size;
      font-weight: bold;
      margin: $spacing-medium 0;
    }

    p, span {
      font-size: $base-small-font-size;
    }
  }
}

.document {
  .fa-file-pdf-o {
    font-size: 40px;
    display: block;
    margin-bottom: $spacing-small;
    color: $type-grey;
  }
}

.disclaimer {
  font-size: $ultra-small-font;
  padding: $spacing-small;
  border-bottom: solid 1px $ui-grey;
}
