.my-library {
  .card-header {
    border-bottom-style: solid;
  }
}

.documents {

  .row {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .document {
    margin-bottom: $spacing-medium;
    width: 100px;
    text-align: center;
    padding: $spacing-small;
    display: inline-block;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    h2 {
      font-size: $title-font-size-5;
      margin-bottom: 0;
    }

    p {
      font-size: $base-small-font-size;
    }
  }
}

@include media($tablet-landscape-down) {
  .documents {
    .row {
      width: 530px;
    }
  }
}

@include media($tablet-portrait-down) {
  .documents {
    .row {
      width: 440px;
    }
  }
}