.my-library {
  .card-header {
    border-bottom-style: solid;
  }
}

.documents {
  .row {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .document {
    display: inline-block;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    h5 {
      font-size: $base-font-size;
      font-weight: bold;
      margin: $spacing-small 0 0 0;
    }

    p {
      font-size: $base-small-font-size;
    }
  }
}

@include media($tablet-landscape-down) {
  .documents {
    .row {
      width: 530px;
    }
  }
}

@include media($tablet-portrait-down) {
  .documents {
    .row {
      width: 440px;
    }
  }
}
