.hero {
  .filter-banner {
    @include grad-yellow-orange();
    height: 100%;
    overflow: hidden;
    z-index: 2;
    padding: 28px;
  }

  h1 {
    text-align: center;
    padding: $spacing-small 0;
    margin-bottom: $spacing-medium;
    color: $ui-white;
    font-weight: 200;
    font-size: 24px;
  }

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin-bottom: 6px;

    a {
      border: 1px solid $ui-white;
      border-radius: 3px;
      padding: 4px 10px;
      color: $ui-white;

      &:hover {
        background-color: $ui-white;
        color: $secondary-orange;
      }
    }
  }
}

.documents {
  .document {
    margin-bottom: $spacing-medium;
    height: 300px;
    text-align: center;
    padding: $spacing-small;

    img {
      height: 80%;
      display: block;
      margin: 0 auto;
    }

    h2 {
      font-size: $title-font-size-5;
      margin-bottom: 0;
    }

    p {
      font-size: $base-small-font-size;
    }
  }
}

@include media($tablet-portrait-down) {
  .sub-navigation-container {
    h1 {
      display: none;  
    }
    
    ul {
      display: block;
      text-align: center;
      margin-left: 0;
    }
  }
}

@include media($mobile-down) {
  .homeowner-view {
    .hero {
      height: 230px;

      h1 {
        font-size: $title-font-size-5;
      }

      li .btn {
        font-size: $base-small-font-size;
      }
    }
  }
}
