.my-library {
  .card-header {
    border-bottom-style: solid;
  }
}

.documents-component {
  .card-content {
    padding: 0 $spacing-medium;
  }

  .document-images, .document-titles {
    .document {
      display: inline-block;
    }
  }

  .document-images {
   height: ($card-height / 1.75);
    padding: 0;
    margin-bottom: 5px;
    overflow: hidden;
    background: inherit;
  }

  .document {
    display: inline-block;

    img {
      display: block;
      text-align: left;
    }
  }

  .document-titles {
    height: ($card-height / 1.25);
    padding: 0;
    background: inherit;

    a {
      font-size: $base-small-font-size;
      line-height: $base-small-font-line-height;
      color: inherit;
      font-weight: lighter;
    }
  }
}

.library .documents {
  .row {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .document {
    display: inline-block;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    h5 {
      font-size: $base-font-size;
      font-weight: bold;
      margin: $spacing-small 0 0 0;
    }

    p {
      font-size: $base-small-font-size;
    }
  }
}

@include media($tablet-landscape-down) {
  .library .documents {
    .row {
      width: 530px;
    }
  }
}

@include media($tablet-portrait-down) {
  .library .documents {
    .row {
      width: 440px;
    }
  }
}
