.hero-header {
  color: $ui-light-grey;
}

.library-links {
  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin-bottom: 6px;

    a {
      border: 1px solid $ui-white;
      border-radius: 3px;
      padding: 4px 10px;
      color: $ui-white;

      &:hover {
        background-color: $ui-white;
        color: $ui-grey;
      }
    }
  }
}

.my-library {
  .card-header {
    border-bottom-style: solid;
  }
}

.documents {

  .row {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .document {
    margin-bottom: $spacing-medium;
    width: 100px;
    text-align: center;
    padding: $spacing-small;
    display: inline-block;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    h2 {
      font-size: $title-font-size-5;
      margin-bottom: 0;
    }

    p {
      font-size: $base-small-font-size;
    }
  }
}

