.login, .new-password, .reset-password {
  position: relative;
  background-image: linear-gradient(60deg, $primary-red-left, $primary-red-right);
  box-shadow: 0px 0px 20px 8px rgba(34,34,34,0.2);
  -webkit-box-shadow: 0px 0px 20px 8px rgba(34,34,34,0.2);
  -moz-box-shadow: 0px 0px 20px 8px rgba(34,34,34,0.2);
  @include outer-container(1100px);
  min-height: 1px;
  top: 100px;

  .branded-btn {
    width: 100%;
    cursor: pointer;
  }

  .preamble {
    @include span-columns(5 of 12);
    padding: 40px;

    .content {
      @include span-columns(12 of 12);
      margin-top: 100px;
    }

    .top-title {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  form {
    @include span-columns(12 of 12);

    input[type="submit"] {
      width: 30%;
      font-weight: bold;
      padding: 4px;
      margin-top: $spacing-medium;
      margin-bottom: $spacing-small;
    }
  }

  .sign-in, .set-password {
    @include span-columns(7 of 12);
    @include omega();
    float: left;
    height: 100%;
    padding: $spacing-large;

    .notice, .alert {
      display: inline-block;
      clear: both;
      width: 100%;
      margin-top: $spacing-large;
      margin-bottom: 0;
      background: $ui-white;
    }
    .alert {
      color: $primary-background;
    }
    .notice {
      color: $primary-green;
    }

    .error {
      color: $ui-white;
    }
  }

  input:disabled {
    cursor: not-allowed;
  }
}

.set-password {
  background-color:  $ui-white;
  label {
    color: $ui-white;
  }
  .primary {
    color: $primary-red-left;
  }
}

.login-icon-password {
  text-align: center;
  img {
    width: 40%;
    margin-top: 35%;
  }
}

.branded-input {
  input[type="email"], input[type="password"] {
    border-color: $primary-background;
    white-space: normal;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $ui-white inset;
  }
}

.reset-pass-email input {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
  border-color: $pale-navy;
  border-radius: 0;
  width: 70%;
  white-space: normal;

  &:focus {
    border-color: $pale-navy;
    border-left: 5px solid $primary-red-left;
  }
}

.reset-pass-input {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;

  input {
    border-color: $pale-navy;
    border-radius: 0;
    width: 70%;
    white-space: normal;
    margin-bottom: -10px;

    &:focus {
      border-color: $pale-navy;
      border-left: 5px solid $primary-red-left;
    }
  }
}

.reset-pass-email .input label .required {
  right: 178px;
}

.branded-content-box {
  input[type="email"], input[type="password"] {
    border-color: $pale-navy;
    border-radius: 0;
    width: 70%;
    white-space: normal;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $ui-white inset;
  }
}

.invitation .branded-content-box {
  input[type="email"], input[type="password"] {
    margin-top: -16px;

    &:focus {
      border-left: 5px solid $primary-red-left;
    }
  }
}

.login .branded-content-box {
  input[type="email"], input[type="password"] {
    margin-top: -10px;

    &:focus {
      border-left: 5px solid $primary-red-left;
    }
  }
  input[type="password"] {
    margin-bottom: $spacing-large;
  }
}

.login .remember-checkbox {
  margin-bottom: $spacing-large;
}

.login .accept-checkbox {
  margin-top: -$spacing-medium;
}

.login .preamble .no-logo {
  margin-top: 50%;
  margin-bottom: auto;
}

.branded-primary-text label.checkbox {
  font-size: $base-small-font-size;
}

.sign-in .branded-content {
  background-color: $primary-background;
}

.information .forgotten-password {
  margin-bottom: 44px;
}

.reset-password {
  .set-password {
    @include span-columns(12 of 12);
    height: 760px;
  }

  h2 {
    text-align: center;
    color: $ui-white;
  }

  a {
    color: $ui-white;
    text-decoration: underline;
  }
}

.new-password {
  height: 760px;

  .copyright {
    margin-top: $spacing-medium;
    color: $ui-white;
  }
  .reset-btn {
    background-color: $ui-white;
    color: $primary-navy;
    border-color: $primary-navy;
    border-radius: 0;

    &:hover {
      background-color: $primary-navy;
      color: $ui-white;
      border-color: $primary-navy;
    }
  }
}

.new-password {
  ::placeholder {
    font-size: $base-small-font-size;
  }
  :-ms-input-placeholder {
    font-size: $base-small-font-size;
  }
  ::-ms-input-placeholder {
    font-size: $base-small-font-size;
  }
}

.new-password {
  .information p {
    color: $primary-navy;
  }
  .information a {
    color: $primary-red-left;

    &:hover {
      text-decoration: underline;
    }
  }
  .information .copyright {
    margin-top: 236px;
  }
  .information .reset-copyright {
    margin-top: 208px;
  }
}

.login-background {
  height: 976px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.default-login-background {
  height: 100%;
  width: 100%;
  background-image: url('images/Spaciable_pink_corner.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 15%;

  .login {
    top: 50%;
    transform: translate(0, -50%)
  }
}

.default-login-background {
  height: 100%;

  .branded-left-box, .new-password {
    top: 50%;
    transform: translate(0, -50%);
  }
}


// tablet (large)
@include media($tablet-landscape-down) {
  .default-login-background {
    .information {
      width: 85%;
    }

    .login-checkbox {
      width: 85%;
    }
  }

  .invitation .register .welcome-text {
    width: 85%;
  }

 .new-password form input[type="submit"] {
    width: 40%;
  }
}

// tablet (small) & mobile
@include media($tablet-portrait-down) {
  .default-login-background {

    .branded-left-box, .new-password {
      background: none;
      top: 0;
      transform: translate(0, 0);

      .set-password {
        width: 80%;
        padding: 25px;
      }

      .reset-pass-email input {
        width: 70%;
      }
    }

    .new-password .information .copyright {
      margin-top: $spacing-large;
    }

    .new-password .set-password {
      height: 75%;
    }

    .preamble {
      @include span-columns(12 of 12);
      float: right;
      clear: both;
      background: linear-gradient(60deg, $primary-red-left, $primary-red-right);

      .content {
        margin-top: $spacing-small;
        margin-left: 0;

        .login-icon-password img {
          margin-top: $spacing-small;
        }
      }
    }

    .branded-right-box {
      @include span-columns(12 of 12);
      width: 80%;
      padding: 25px;

      .login-logo {
        padding-bottom: $spacing-small;
        height: 100px;

        img {
          max-width: 50%;
        }
      }

      .second-title {
        margin-bottom: $spacing-large;
      }

      input[type="submit"] {
        width: 40%;
      }
    }

    .register form input[type="submit"] {
      width: 40%;
    }

    .branded-content-box {
      input[type="email"], input[type="password"] {
        width: 70%;
      }
    }

    .login-checkbox {
      width: 70%;
    }
  }
}

// mobile
@include media($mobile-down) {
.default-login-background {
    .branded-left-box, .new-password {
      .set-password {
        width: 100%;
        padding: 25px;
      }

      .reset-pass-email input {
        width: 90%;
      }

      .reset-pass-input input {
        width: 90%;
      }
    }

    .new-password form input[type="submit"] {
      width: 50%;
    }

    .branded-right-box {
      @include span-columns(12 of 12);
      width: 100%;

      input[type="submit"] {
        width: 50%;
      }
    }

    .register form input[type="submit"] {
      width: 50%;
    }

    .branded-content-box {
      input[type="email"], input[type="password"] {
        width: 90%;
      }
    }

    .login-checkbox {
      width: 90%;
    }
  }
}

// mobile (small)
@include media($mobile-portrait-down) {
.default-login-background {
    .branded-left-box, .new-password {
      .set-password {
        width: 100%;
        padding: 20px;
      }

      .reset-pass-email input {
        width: 100%;
      }

      .reset-pass-input input {
        width: 100%;
      }
    }

    .invitation .register .welcome-text {
      width: 100%;
    }

    .new-password form input[type="submit"] {
      width: 60%;
    }

    .branded-right-box {
      @include span-columns(12 of 12);
      width: 100%;

      .login-logo {
        img {
          max-width: 70%;
        }
      }

      input[type="submit"] {
        width: 60%;
      }
    }

    .new-password .login-logo img {
      max-width: 70%;
    }

    .register form input[type="submit"] {
      width: 60%;
    }

    .branded-content-box {
      input[type="email"], input[type="password"] {
        width: 100%;
      }
    }

    .login-checkbox {
      width: 100%;
    }
  }
}
