.login, .new-password, .reset-password {
  position: relative;
  background-color: $ui-light-grey;
  @include outer-container(1000px);
  min-height: 1px;
  top: 100px;
  border-radius: ($border-radius * 2);
  opacity: $base-opacity;

  .branded-btn {
    width: 100%;
    cursor: pointer;
  }

  .preamble {
    @include span-columns(6 of 12);
    padding: 40px;

    .content {
      @include span-columns(12 of 12);
      margin-top: 100px;
    }

    .top-title {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  form {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
    margin-top: $spacing-large;

    input[type="submit"] {
      @include span-columns(12 of 12);
      font-weight: bold;
      padding: 6px;
    }
  }

  img {
    @include span-columns(9 of 12);
    @include shift(1.5 of 12);
    max-height: 250px;
  }

  .sign-in, .set-password {
    @include span-columns(6 of 12);
    @include omega();
    float: right;
    padding: 80px $spacing-medium 40px $spacing-medium;
    border-radius: 0 ($border-radius * 2) ($border-radius * 2) 0;

    .notice, .alert {
      display: inline-block;
      clear: both;
      width: 100%;
      margin-top: $spacing-large;
      margin-bottom: 0;
      background: $ui-white;
    }
    .alert {
      color: $primary-background;
    }
    .notice {
      color: $primary-green;
    }

    .error {
      color: $ui-white;
    }
  }

  input:disabled {
    cursor: not-allowed;
  }
}

.set-password {
  background-color:  $primary-red;
}

.branded-input {
  input[type="email"], input[type="password"] {
    border-color: $primary-background;
    white-space: normal;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $ui-white inset;
  }
}

.branded-content-box {
  input[type="email"], input[type="password"] {
    border-color: $primary-background;
    white-space: normal;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $ui-white inset;
  }
}

.branded-primary-text label.checkbox {
  font-size: $base-small-font-size;
}

.sign-in .branded-content {
  background-color: $primary-background;
}

.reset-password {
  .set-password {
    @include span-columns(12 of 12);
  }

  h2 {
    text-align: center;
    color: $ui-white;
  }

  a {
    color: $ui-white;
    text-decoration: underline;
  }
}

.new-password {
  .copyright {
    margin-top: $spacing-medium;
    color: $ui-white;
  }
}

.login-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@include media($tablet-portrait-down) {
  .login, .new-password, .reset-password {
    margin-bottom: 100px;

    .preamble {
      @include span-columns(12 of 12);

      .content {
        margin-top: 0;
      }
    }

    .sign-in, .set-password {
      @include span-columns(12 of 12);
    }
  }
}
