.material_info {
  margin: $spacing-small auto;
  @include outer-container(960px);

  .item {
    @include row();
    padding-bottom: $spacing-medium;

    span {
      font-size: $base-font-size;
    }

    .label {
      @include span-columns(4 of 12);
      @include omega();
      text-align: center;
    }

    .values {
      @include span-columns(8 of 12);

      .value {
        @include span-columns(6 of 12);

        label {
          margin-top: 12px;
        }

        span {
          width: 80%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .energy-rating {
        max-width: 260px;
      }
    }
  }
}

.appliances-disclaimer {
  padding: 0 10;
}

.appliances-disclaimer a {
  text-decoration: underline;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.container .info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-left {
  @extend .info;
  @extend .branded-text;
  margin-left: 60;
}

.info-right {
  @extend .info;
  @extend .branded-text;
  margin-right: 60;
}

.material-info-lable {
  @extend .branded_underlined_lable;
  white-space: nowrap;
}

.material-info-centred {
  @extend .branded-text;
  text-align: center;  
}

.material-info-value {
  @extend .material-info-centred;
  padding-bottom: 10px;
}

@include media($tablet-landscape-down) {
  .material_info {
    margin: $spacing-small 20px;
  }

  .info-left {
    margin-left: 0 !important;
  }

  .info-right {
    margin-right: 0 !important;
  }

}

@include media($mobile-down) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto !important;
    grid-auto-rows: unset;
  }

  .info-right {
    margin-right: 0 !important;
  }

  .info-left {
    margin-right: 0 !important;
  }

  .appliances-disclaimer {
    font-size: small;

    a {
      text-decoration: underline;
    }
  }
}