nav {
  background-color: white;

  .nav-inner {
    @include outer-container(92%);

    h3 {
      display: inline-block;
    }

    ul {
      display: inline-block;
      margin-bottom: 0;

      .active li {
        color: $type-grey;
        font-weight: bold;
      }
    }

    .logo {
      display: none;
    }
  }

  .navigation {
    @include span-columns(9 of 12);
    padding: $spacing-medium;
  }

  .navbar-menu {
    float: right;
  }

  .navbar-item {
    display: inline;
    list-style-type: none;
    line-height: 44px;
    margin-bottom: 0;
    padding: $spacing-small 20px;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      background-color: $ui-grey;
    }

    a {
      font-weight: bold;
      text-decoration: none;
    }

    .active {
      color: $default-text-color;
      cursor: none;
    }
  }
}

.search-container {
  display: none;
}

.footer {
  height: 40px;
  line-height: 36px;
  text-align: center;
}

.copyright {
  display: block;
  font-size: $ultra-small-font;

  a {
    font-size: inherit;
  }
}

.sub-navigation-container {
  border-top: solid 1px $ui-grey;
  padding: 10px 20px;

  h3 {
    margin-bottom: 0;
  }

  ul {
    margin-left: 40px;
  }
}

@include media($tablet-portrait-up) {
  .navbar-trigger-label {
    display: none;
  }
}

@include media($tablet-landscape-down) {
  nav {
    width: 100%;

    .navbar-item {
      padding: $spacing-small 10px;
    }
  }

  .main-navigation {
    margin-top: 40px;
  }
}

// tablet view
@include media($tablet-landscape-up) {
  .search-container {
    display: block;
  }

  nav .nav-inner .logo {
    display: block;
    padding: $spacing-medium;
    @include span-columns(3 of 12);

    img {
      max-height: 80px;
    }
  }
}

.navbar-search {
  float: right;
  clear: both;
  padding: 20px;
}

// mobile view
@include media($tablet-portrait-down) {
  .navbar {
    background-color: $ui-white;
    position: absolute;
    left: 0;
    top: 60px;
  }

  .sub-navigation-container {
    max-height: 140px;
    display: block;
    padding: 10px 10px;

    .nav-inner {
      text-align: center;

      h3 {
        display: none;
      }

      ul {
        display: inline;
      }
    }

    ul {
      margin-left: 0;

      li {
        display: inline-block;
        width: inherit;
        padding: 1px 20px;
      }
    }
  }

  .navbar-trigger-label {
    color: $ui-white;
    display: block;
    position: fixed;
    font-size: 25px;
    height: 22px;
    line-height: 25px;
    left: 16px;
    top: 2px;

    .fa-bars {
      cursor: pointer;
    }
  }

  .navbar-menu {
    display: none;
    height: 100%;
    width: 100%;

    ul {
      margin-bottom: 0;
    }
  }

  nav {
    .navigation {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;

      ul {
        position: fixed;
        top: 43px;
        width: 100%;
        height: 100%;
      }
    }

    .navbar-item {
      display: block;
      text-align: center;
      width: 100%;
      background-color: white;
      border-radius: 0;

      a {
        line-height: 36px;
        max-width: 200px;
      }
    }

    .navbar-search {
      padding: 0;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
