.no-scroll {
  overflow: hidden;
}

nav {
  background-color: white;

  .nav-inner {
    @include outer-container(92%);

    h3 {
      display: inline-block;
    }

    ul {
      display: inline-block;
      margin-bottom: 0;

      .active li {
        font-weight: bold;
      }
    }

    .logo {
      display: none;
    }
  }

  .navbar-menu {
    float: right;
    clear: both;
  }

  .navbar-item-secondary {
    font-weight: $semi-bold-font-weight;
  }
}

.search-container {
  display: none;
}

.footer {
  height: 40px;
  line-height: 36px;
  text-align: center;
}

.copyright {
  display: block;
  font-size: $ultra-small-font;
  color: $primary-black;

  a {
    font-size: inherit;
  }
}

.sub-navigation-container {
  border-top: solid 1px $ui-grey;
  padding: 10px 20px;
  text-align: center;

  h3 {
    margin-bottom: 0;
  }
}

// RESIDENT NAVIGATION

.main-navigation .nav-inner {
  display: flex;
  align-items: center;

  // LOGO
  .logo {
    display: block;
    padding: $spacing-medium;
    @include span-columns(3 of 12);
    margin-right: 0;

    img {
      max-height: 80px;
      max-width: 220px;
    }
  }

  // SEARCH BAR
  .navbar-search {
    margin-right: auto;
    margin-left: auto;
    input[type="text"] {
      border: 2px solid $ui-light-grey;
    }
    .btn {
      font-size: 12px;
    }
  }

  // ACCOUNT DROPDOWN
  .account-navigation {
    position: relative;
    display: inline-block;
    margin-right: $spacing-large + $spacing-medium;

    .dropdown {
      background-color: $ui-white;
      padding: $spacing-small;
      border: 2px solid $ui-light-grey;
      border-radius: 5px;
      cursor: pointer;
      font-weight: $bold-font-weight;
      font-size: $base-font-size;
      min-width: 130px;

      .fa {
        padding-left: $spacing-small;
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $ui-white;
      border: 2px solid $ui-light-grey;
      border-radius: 5px;
      font-size: $base-font-size;
      text-align: center;
      z-index: 20;

      .dropdown-link {
        text-decoration: none;
        display: block;

        &:hover {
          background-color: $ui-light-grey;
          cursor: pointer;
        }

        .feedback-btn {
          background-color: none;
          background: none;
          border: none;
          font-size: $base-font-size;
          font-family: $base-font-family;

          &:hover {
            background-color: $ui-light-grey;
            cursor: pointer;
          }
        }

        .link-item {
          line-height: $title-font-size-1;
        }
      }

      .sign-out {
        border-top: 2px solid $ui-light-grey;
      }
    }
  }

  .account-navigation:hover .dropdown-content {
    display: block;
  }

  // MAIN NAVIGATION BURGER
  .burger-navigation {
    z-index: 25;
    margin-top: 8px;
    width: 100px;

    input[type="checkbox"] {
      display: none;
    }

    label.burger {
      display: inline-block;
      background-color: transparent;
      cursor: pointer;
      margin: 10px;
      width: 80px;
      margin-top: auto;
      margin-bottom: auto;
      font-size: $base-small-font-size;
    }

    .menu-text {
      float: left;
    }

    .burger-bars {
      float: right;
    }

    .burger-bar {
      display: block;
      width: 30px;
      height: 3px;
      border-radius: 5px;
      margin: 5px auto;
      background-color: $primary-navy;
      transition-duration: 500ms;
    }

    .bar-top {
      width: 50%;
      margin: 0;
      transition-duration: 500ms;
    }

    .bar-bottom {
      width: 50%;
      margin-right: 0px;
      transition-duration: 500ms;
    }

    input[type="checkbox"]:checked ~ label .bar-top {
       width: 100%;
      -webkit-transform: translateY(7px) rotateZ(45deg);
      -moz-transform: translateY(7px) rotateZ(45deg);
      -ms-transform: translateY(7px) rotateZ(45deg);
      -o-transform: translateY(7px) rotateZ(45deg);
      -transform: translateY(7px) rotateZ(45deg);
      transition-duration: 500ms;
    }

    input[type="checkbox"]:checked ~ label .bar-bottom {
       width: 100%;
      -webkit-transform: translateY(-9px) rotateZ(-45deg);
      -moz-transform: translateY(-9px) rotateZ(-45deg);
      -ms-transform: translateY(-9px) rotateZ(-45deg);
      -o-transform: translateY(-9px) rotateZ(-45deg);
      -transform: translateY(-9px) rotateZ(-45deg);
      transition-duration: 500ms;
    }

    input[type="checkbox"]:checked ~ label .bar-middle {
       opacity: 0;
       transition-duration: 500ms;
    }
  }

  // MAIN NAVIGATION MENU
  .navbar-menu {
    display: none;
    height: 100%;
    width: 100%;
    background-color: $ui-white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 20;

    .navbar {
      padding-top: 80px;

      .third {
        height: 100%;
        border-right: 2px solid $ui-grey;
        padding: 2%;
        display: table;
        margin-right: 0;

        h1 {
          text-align: right;
          display: table-row;
          height: 10%;
        }

        .links {
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          padding-bottom: 8em;

          .navbar-item {
            list-style: none;
            line-height: $title-font-size-1;
            margin-bottom: 0;
            padding: $spacing-small 20px;
            border-radius: $border-radius;
            cursor: pointer;

            &:hover {
              background-color: $ui-light-grey;
            }

            a {
              font-weight: bold;
              text-decoration: none;
            }

            .active {
              cursor: none;
            }
          }
        }
      }
    }
  }
}

// desktop view / tablet view - landscape
@include media($tablet-landscape-up) {
  // SEARCH BAR
  .search-container {
    margin-top: 8px;
    display: block;
  }
}

// tablet view - landscape
@include media($tablet-landscape-down) {
  .navbar-menu {
    // override default tablet styling for third
    .third {
      @include span-columns(4 of 12);
      display: table;
      margin-right: 0;

      // reduce font size
      h1 {
        font-size: $title-font-size-2;
      }

      // reduce line height - space between menu items
      .links {
        .navbar-item {
          line-height: $title-font-size-2
        }
      }
    }
  }
}

// mobile view / tablet view - portrait
@include media($tablet-landscape-down) {
  .main-navigation .nav-inner {
     margin-top: $spacing-medium;
     margin-bottom: $spacing-medium;

    .logo {
      padding: 0;
    }

    .burger-navigation {
      width: 50px;
      margin-top: 0;

      label.burger {
        width: 40px;

        .menu-text {
          display: none;
        }
      }
    }

    .navbar-menu {

      .navbar {
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling:touch;

        .third {
          @include span-columns(12 of 12);
          display: block;
          border-right: 0;
          border-bottom: 2px solid $ui-grey;
          height: auto;
          margin: 0;

          h1.menu-heading {
            display: block;
            text-align: right;
            height: auto;
            margin-bottom: $spacing-small;
            margin-top: $spacing-small;
            padding-right: 20px;
          }

          .links {
            text-align: right;
            display: block;
            padding-bottom: 0;

            .navbar-item {
              line-height: $title-font-size-3;
            }
          }
        }
      }
    }
  }
}
