.plots {
  @include outer-container();

  .plot-summary {
    @include span-columns(4 of 12);
    @include omega(3n);
    margin-bottom: $spacing-medium;
    padding: $spacing-small;
    height: 300px;

    .unit-image {
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background-position: center;
      background-size: cover;
    }

    .active-plot {
      border: solid 3px $primary-red;
    }

    .plot-address {
      width: 100%;
      height: 90px;
      display: table;

      .plot-logo {
        padding-left: 0;
        padding-right: 5px;
        width: 20%;
        display: table-cell;
        vertical-align: middle;

        img {
          max-height: 80px;
        }
      }

      .address {
        width: 80%;
        text-align: right;
        display: table-cell;
        vertical-align: middle;
        padding-left: 5px;
        font-size: $base-font-size;
      }
    }

    .switch-plot {
      height: 40px;
    }
  }
}




// .plot-list {
//   position: absolute;
//   top: 41px;
//   left: 5%;
//   width: 330px;
//   border: 1px solid $primary-navy;
//   border-radius: $border-radius;
//   background-color: $ui-white;
//   color: $ui-white;
//
//   a {
//     font-size: $base-small-font-size;
//   }
//
//   .ui-selectmenu-button {
//     border: none;
//   }
//
//   span {
//     color: $primary-navy;
//   }
//
//   .active-plot span {
//     color: $primary-red-left;
//   }
//
//   h5 {
//     font-size: $base-small-font-size;
//   }
//
//   img {
//     max-width: 40px;
//     margin-top: $spacing-small;
//   }
// }
//
// .plot-summary {
//   padding: $spacing-small;
//   border-bottom: 1px solid $primary-navy;
//
//   &:last-child {
//     border-bottom: none;
//   }
//
//   a {
//     cursor: pointer;
//   }
// }
//
// // mobile view
// @include media($tablet-portrait-down) {
//   .menu {
//     padding-right: 0;
//   }
//
//   .plot-list {
//     width: 80%;
//     top: 45px;
//     left: 0;
//   }
// }