.dashboard {

  .refer-overlay {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;

    .card-content {
      position: absolute;
      bottom: 0;
    }

    .refer-summary {
      margin: 0% -2%;
      padding: $spacing-small;
      text-align: center;

      .larger {
        padding: $spacing-small;
        font-weight: bold;
      }

      .refer-button {
      padding: $spacing-medium;
      }
    }
  }
}

.refer-description {
  padding: $spacing-small;
}

.tel {
  color: #67747C;

  input {
    color: $ui-black;
  }
}
