.dashboard {

  .refer-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
  }

  .refer-summary {
    padding: $spacing-small;

    .refer-content {
      position: relative;
      height: 160px;
      padding: $spacing-small;
    }

    .refer-description {
      position: absolute;
      top: 40%;
      width: 98%;
      text-align: center;
      padding-right: $spacing-small;
    }

    .refer-button {
      position: absolute;
      right: $spacing-small;
      bottom: $spacing-small;
    }

    .refer-friend {
      font-size: $base-font-size;
      line-height: $base-font-line-height;
      font-weight: $base-font-weight;
      cursor: pointer;
    }
  }
}
