.resident {
  width: 600px;
  margin: 0 auto;

  .half {
    padding: $spacing-small;
  }

  .last {
    margin-right: 0;
  }

  .full {
    padding: $spacing-small;
    margin-top: $spacing-small;

    h3 {
      color: $ui-black;
    }

    span {
      color: $type-grey;
    }
  }

  input.boolean {
    float: right;
  }

  label.checkbox {
    width: 100%;
    cursor:pointer;
    overflow: hidden;

    input[type=checkbox] {
      float:left;
      position:relative;
      margin-left:-9999px;
    }

    i {
      float: right;
      border-color: $primary-cta-color;
      background-color: $ui-white;
      border-style: solid;
      border-radius: 2px;
      border-width: 1px;
      padding: 1px;
      font-size: $base-small-font-size;
    }

    i:before {
      width: 25px;
      color: $ui-white;
    }

    input[type=checkbox]:checked + i:before {
      color: $primary-cta-color;
    }
  }

  label {
    font-weight: normal;

    .boolean {
      color: $type-grey;
    }
  }

  input[type="text"].readonly {
    border-style: none;
  }

  .actions {
    .branded-btn.alt {
      float: right;
      font-size: $base-font-size;
    }
  }
}

.communications, .services {
  i {
    float: right;
  }

  .selected {
    color: $ui-black;
    i {
      visibility: visible;
    }
  }

  .unselected {
    color: $ui-dark-grey;
    i {
      visibility: hidden;
    }
  }

  h4 {
    margin-bottom: 0;
  }

  .resident-service {
    p {
      margin-bottom: 0;
    }
  }
}

.show-actions {
  margin-top: 34px;
}

.other-residents {
  ul {
    list-style-type: none;

    li {
      margin-bottom: $spacing-small / 2;
    }

    button {
      float: right;
      color: $type-grey;
      font-size: $title-font-size-4
    }
  }
}

@include media($tablet-landscape-up) {
  .resident-service:nth-child(odd) {
    margin-right: 0;
  }
}
