.resident {
  width: 700px;
  margin: 0 auto;

  .change {
    height: 280px;
  }

  .last {
    margin-right: 0;
  }

  .resident-details {
    padding: 10px;
    border-radius: 5px/5px;

    .account {
      margin-bottom: 20px;
    }
  }

  .full {
    padding: $spacing-small;
    margin-top: $spacing-small;
  }

  input.boolean {
    float: right;
  }

  label.checkbox {
    width: 100%;
    cursor:pointer;
    overflow: hidden;

    input[type=checkbox] {
      float:left;
      position:relative;
      margin-left:-9999px;
    }

    i {
      float: right;
      border-color: $primary-red-left;
      background-color: $ui-white;
      border-style: solid;
      border-radius: 2px;
      border-width: 1px;
      padding: 1px;
      font-size: $base-small-font-size;
    }

    i:before {
      width: 25px;
      color: $ui-white;
    }

    input[type=checkbox]:checked + i:before {
      color: $primary-red-left;
    }
  }

  label {
    font-weight: normal;

    .boolean {
      color: $type-grey;
    }
  }

  input[type="text"].readonly {
    border-style: none;
  }

  .actions {
    .branded-btn.alt {
      float: right;
      font-size: $base-font-size;
    }
  }
}


.add-resident {
  float: left;
}

.communications {
  i {
    float: right;
  }

  .selected {
    i {
      visibility: visible;
    }
  }

  .unselected {
    opacity: 0.5;
    i {
      visibility: hidden;
    }
  }

  .resident-service {
    p {
      margin-bottom: 0;
    }
  }
}

.communications {
  border-radius: 5px/5px;

  h3 {
    margin: 0 0 10px;
  }

  p {
    text-align: center;
    font-weight: $semi-bold-font-weight;
  }

  .updates {
    font-weight: $semi-bold-font-weight;
  }
}

.show-actions {
  margin-top: 34px;
}

.plot-disclaimer {
  text-align: center;
  margin: 5px;
}

.plot-specific {
  border-radius: 5px/5px;
}

.other-residents {
  ul {
    list-style-type: none;

    li {
      margin-bottom: $spacing-small / 2;
    }

    button {
      float: right;
      font-size: $title-font-size-4;
      border-color: $primary-navy;
    }

    button:hover {
      color: $ui-white;
      background-color: $primary-navy;
    }
  }
}

.underline {
  text-align: center;
}

@include media($tablet-landscape-up) {
  .resident-service:nth-child(odd) {
    margin-right: 0;
  }
}

// mobile and tablet view
@include media($tablet-landscape-down) {
  .resident {
    @include outer-container(90%);
  }
  .branded-btn {
    margin-bottom: 10px;
  }
}

@include media($mobile-up) {

}
