.homeowner-body {
  .rooms {
    width: (4 * $card-size) + (3 * $spacing-medium);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .room {
    height: $card-size;
    width: $card-size;
    text-align: center;
    padding-top: $spacing-large;

    i:before {
      font-size: 20px;
      color: $ui-dark-grey;
    }
  }
}
