$icon-color: #252C31;

.branded-body {
  .rooms {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    h4 {
      text-align: center;
    }
  }

  .room {
    overflow: auto;
    padding: $spacing-small;
    border-style: solid;
    margin-bottom: $spacing-medium;

    .room-icon {
      margin-left: $spacing-large;
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;

      i:before {
        font-size: 30px;
        padding: 7px;
      }
    }

    .finish-image {
      width: 60px;
      float: left;
      height: 50px;

      img {
        max-width: 50px;
        max-height: 50px;
        width: auto;
        height: auto;
        border-radius: 5px/5px;
      }
    }

    .labels {
      font-size: $base-font-size;
      padding-top: $spacing-small / 2;
      margin-top: $spacing-small;
    }

    .label {
      span {
        width: 80%;
        display: block;
        opacity: 0.5;
      }
    }

    .second-column {
      .labels {
        margin-top: $spacing-medium;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .branded-body {
    .rooms {
      width: 480px;
    }

    .fifth {
      display: none;
    }

    .two-fifths {
      @include span-columns(5 of 10);
    }
  }
}

@include media($mobile-down) {
  .branded-body {
    .rooms {
      width: 280px;

      img {
        display: none;
      }
    }
  }
}

