$icon-color: #252C31;

.branded-body {
  .rooms {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .room {
    overflow: auto;
    padding: $spacing-small;

    .room-icon {
      margin-left: $spacing-large;

      i:before {
        color: $type-grey;
        font-size: 30px;
        padding: 7px;
      }
    }

    .finish-image {
      width: 60px;
      float: left;

      img {
        width: 50px;
        height: 50px;
      }
    }

    .labels {
      height: 85px;
      font-size: $base-font-size;
    }

    .label {
      span {
        white-space: nowrap;
        text-overflow: clip;
      }
    }

    .second-column {
      .labels {
        margin-top: $spacing-medium;
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .branded-body {
    .rooms {
      width: 480px;
    }

    .fifth {
      display: none;
    }

    .two-fifths {
      @include span-columns(5 of 10);
    }
  }
}

@include media($mobile-down) {
  .branded-body {
    .rooms {
      width: 280px;

      img {
        display: none;
      }
    }
  }
}

