.services-btn {
  line-height: $base-font-line-height;
  margin: $spacing-small;
  cursor: pointer;
}

.service-summary {
  margin-top: 0;
  .larger {
    padding: $spacing-small;
  }
}

.services-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.services-image {
  width: 90%;
  margin: auto;
  padding-top: $spacing-large;
}

.services-actions {
  text-align: center;
  margin-top: $spacing-large;
  .btn {
    margin: $spacing-small;
  }
}

.services-disclaimer {
  text-align: center;
  font-size: $base-small-font-size;
}

.service-overlay {
  padding: $spacing-small;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
  border-radius: $border-radius;
}

.service-summary {
  height: 90%;
  margin: auto;
  padding: 5px;
  padding-top: 12px;
  text-align: center;

  p:not(.larger) {
    font-size: $base-small-font-size;
  }
}

.service-link {
  color: $transparent-white;
  border: 2px solid $transparent-white;
  border-radius: $border-radius;
  padding: 5px;
  display: block;
  width: 166px;
  margin: 15px auto;
}

@include media($tablet-portrait-up) {
  .services-container {
    width: 730px;
  }
}

@include media($tablet-landscape-down) {
  .services-container {
    @include outer-container(90%);
  }
}
