.services {
  text-align: center;
  padding: $spacing-small;

  .title {
    font-weight: $bold-font-weight;
    font-size: 24px;
  }

  .services-description {
    margin-top: $spacing-large;

    .bold {
      font-weight: $bold-font-weight;
    }
  }

  .services-disclaimer {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
    font-size: $base-small-font-size;
  }

  .services-btn {
    width: 200px;
    border-radius: 0;
  }

}

.services-actions {
  text-align: center;
  margin-top: $spacing-large;
  .btn {
    margin: $spacing-small;
  }
}


.dashboard {

  .service-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
  }

  .service-summary {
    padding: $spacing-small;

    .service-content {
      position: relative;
      height: 160px;
      padding: $spacing-small;
    }

    .service-description {
      position: absolute;
      top: 40%;
      width: 98%;
      text-align: center;
      padding-right: $spacing-small;
    }

    .service-button {
      position: absolute;
      right: $spacing-small;
      bottom: $spacing-small;
    }

    .service-friend {
      font-size: $base-font-size;
      line-height: $base-font-line-height;
      font-weight: $base-font-weight;
      cursor: pointer;
    }
  }
}

.service-link {
  color: $transparent-white;
  border: 2px solid $transparent-white;
  border-radius: $border-radius;
  padding: 5px;
  display: block;
  width: 166px;
  margin: 15px auto;
}

@include media($tablet-portrait-up) {
  .services-container {
    width: 730px;
  }
}

@include media($tablet-landscape-down) {
  .services-container {
    @include outer-container(90%);
  }
}
