.service-container {
  position: relative;
  background-color: $ui-light-grey;
  padding: $spacing-medium;
  width: 100%;
  margin: 0 auto;

  .btn-form-submit {
    float: right;
  }

  .preamble {
    margin-bottom: $spacing-medium;

    h3 {
      color: $primary-red;
    }
  }
}

.service {
  font-size: $base-font-size;
  vertical-align: middle;
  width: 320px;
  height: 220px;
  display: block;
  border-radius: $border-radius;
  color: $transparent-white;
  background-size: cover;
  margin: $spacing-small auto;
}

.service-overlay {
  padding: $spacing-small;
  width: 100%;
  height: 100%;
  background-color: $transparent-black;
  border-radius: $border-radius;
}

.services-form {
  height: 580px;
}

.service-title {
  color: $transparent-white;
  margin-bottom: 20px;
  font-family: $header-font-family;
}

.service-long-text:before {
  top: 60px;
}

.service-description {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  font-size: $base-font-size;
  font-weight: bold;
}

.add-service {
  margin-top: $spacing-medium;
  text-align: center;
  width: 96px;
  margin: $spacing-medium auto;

  .add-service-checkbox {
    color: $transparent-white;
    border: 2px solid $transparent-white;
    background-color: $transparent-black;
    -webkit-appearance: none;
    -moz-appearance: none;
    -appearance: none;
    width: 110px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    border-radius: $border-radius;
    font-family: $header-font-family;
    font-size: $title-font-size-5;
    text-align: center;
    line-height: 26px;
    outline: none;

    &:after {
      content: "YES!";
    }
  }

  input:checked {
    outline: none;

    &:after {
      content: "SELECTED!";
    }
  }

  input:disabled {
    cursor: not-allowed;
  }
}

.checkbox-btn {
  border-color: $transparent-white;
  cursor: pointer;
}

.service-summary {
  height: 90%;
  margin: 5% auto;
  padding: $spacing-small;
  text-align: center;

  p:not(.larger) {
    font-size: $base-small-font-size;
  }
}

.service-link {
  color: $transparent-white;
  border: 2px solid $transparent-white;
  border-radius: $border-radius;
  padding: 5px;
  display: block;
  width: 166px;
  margin: 15px auto;
}

@include media($tablet-portrait-up) {
  .service-container {
    width: 730px;
  }

  .service {
    display: inline-block;
    margin: $spacing-small;
  }
}

@include media($tablet-landscape-up) {
  .service-container {
    width: 1074;
  }
}
