.homeowner-view {
  .session {
    background-color: $secondary-blue;
    
    .session-inner {
      @include outer-container(90%);

      .user {
        @include span-columns(0);
        @include pad(10px default);
        float: right;
      }

      span {
        color: white;
      }

      img {
        vertical-align:middle;
        border-radius: 50%;
        height: 40px;
      }
    }
  }

  @include media($tablet-landscape-down) {
    .session {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20;
    }
  }
}
