/* splash page */
.timeline-splash {

  .timeline-header {
    text-align: center;

    .timeline-title {
      padding: $spacing-large;

      .welcome {
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
      }

      .welcome-journey {
        text-transform: uppercase;
        font-size: $title-font-size-2;
        letter-spacing: $base-small-font-size;
        font-weight: $bold-font-weight;
      }
    }
  }

  .timeline-content {
    text-align: center;
  }

  .timeline-actions {
    text-align: center;
    padding: $spacing-large;

    .timeline-btn {
      width: 140px;
      border-radius: 0;
      color: $primary-navy ;
      border-color: $ui-grey;
      font-weight: $bold-font-weight;

      &:hover {
        background-color: $ui-grey;
        color: $primary-navy;
      }
    }
  }
}

/* select step page */
.timeline-step {

  .timeline-header {
    text-align: center;

    .timeline-title {
      padding: $spacing-large;

      h1 {
        font-size: $title-font-size-2;
        font-weight: $bold-font-weight;
        margin-bottom: $spacing-small;
      }

      h2 {
        font-size: $title-font-size-5;
        font-weight: $base-font-weight;
        color: $primary-red-left;
      }
    }
  }

  .step-options {
    display: block;
    width: 100%;

    .stages {
      display: inline-block;
      text-align: center;

      /* radio button container div */
      .stage {
        display: inline-block;
        width: 350px;
        height: 110px;
        border: 2px solid $ui-grey;
        border-left: 2px solid $primary-red-left;
        padding: $spacing-small;
        padding-left: $spacing-medium;
        margin: $spacing-small $spacing-medium;
        text-align: left;

        &:hover {
          cursor: pointer;
        }

        label {
          margin-top: 8px;
          margin-bottom: 0;
        }

        label:hover {
          cursor: pointer;
        }

        p {
          font-size: $base-small-font-size;
        }

        /* hide the radio button */
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .fa, .fas {
          font-size: $title-font-size-3;
          color: $primary-red-left;
        }
      }

      .selected {
        border: 2px solid $ui-selected;
        border-left: 2px solid $primary-red-left;
      }
    }

    .next {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: $spacing-large + $spacing-medium;

      input {
        width: 140px;
        border-radius: 0;
        color: $primary-navy ;
        border-color: $ui-grey;
        font-weight: $bold-font-weight;

        &:hover {
          background-color: $ui-grey;
          color: $primary-navy;
        }
      }
    }
  }
}

.timeline-task {
  display: flex;
  background-color: $ui-grey !important;
  padding-top: 0;
  position: relative;

  /* custom scrollbar -> styling does not display in Firefox or IE/Edge */
  ::-webkit-scrollbar {
    width: 8px;
    border: 1px solid $ui-grey;
  }
  ::-webkit-scrollbar-track {
    background: $ui-grey;
  }
  ::-webkit-scrollbar-thumb {
    background: $ui-grey;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $ui-dark-grey;
  }

  .timeline-sidebar {
    position: absolute;
    display: inline-block;
    width: 300px;
    background-color: $ui-white;
    float: left;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .timeline-header {
      background-color: $primary-red-left;
      padding: $spacing-small;
      display: table;
      width: 100%;

      .title {
        width: 60%;
        display: table-cell;

        .fa, .fas {
          font-size: $title-font-size-3;
          color: $ui-white;
          padding-bottom: $spacing-small;
        }

        h2 {
          color: $ui-white;
          font-size: $title-font-size-3;
          margin: 0;
        }

        p {
          font-size: $base-small-font-size;
          color: $ui-white;
          margin: 0;
        }
      }

      .igloo {
        width: 40%;
        display: table-cell;
      }
    }

    .list-stages {

      .vertical {
        border-left: 5px solid $ui-grey;
        margin-left: 10px;
      }

      .stage-title {
        font-size: $base-small-font-size;
        padding: 10px;
        line-height: 0.5;
        text-align: center;
        list-style: none;
        margin-left: -$spacing-small;

        span {
          color: $primary-red-left;
          display: inline-block;
          position: relative;
          padding: 0 6px;
        }

        /* create the dashed lines either side of the stage headings */
        span:before,
        span:after {
          content: "";
          position: absolute;
          height: 5px;
          border-bottom: 2px dashed $primary-red-left;
          top: 0;
          width: 300px;
        }

        span:before {
          right: 100%;
        }

        span:after {
          left: 100%;
        }
      }

      .sub-stage {
        .sub-stage-container {
          border: 1px solid $ui-light-grey;
          margin: $spacing-medium;
          margin-left: $spacing-small;
          padding: 6px;
          padding-left: $spacing-medium;
          list-style: none;
          border-radius: 5px;

          /* custom list bullets */
          &:before {
            display: inline-block;
            font-size: 22px;
            content: '\25CF';
            color: $primary-red-left;
            position: relative;
            right:42px;
            line-height: 0;
            top: 2px;
          }

          a {
            font-size: $base-small-font-size;
            color: $ui-dark-grey;
          }
        }

        .active {
          border: 2px solid $ui-grey;

          /* custom list bullet -> add one pixel to take into account the 2px border of .active */
          &:before {
            right: 43px;
          }

          a {
            color: $primary-navy;
          }
        }

        /* change the colour of the custom list bullet if stage is complete */
        .complete {
          &:before {
            color: #00cc00;
          }
        }
      }
    }
  }

  .timeline-content {
    position: relative;
    left: 300px;
    right: 0;
    margin: auto;
    padding: $spacing-large;

    form {
      width: 100%;
      margin-right: 300px;
    }

    #question {
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      display: table-cell;

      .content {
        p {
          font-size: $title-font-size-4;
        }
      }

      .actions {
        .branded-btn {
          width: 120px;
          margin: $spacing-medium;
          background-color: $ui-grey;
          border: 2px solid $ui-dark-grey;
          color: $primary-navy;

          &:hover {
            background-color: $ui-light-grey;
            font-weight: $bold-font-weight;
          }

          &:visited {
            background-color: $ui-light-grey;
            font-weight: $bold-font-weight;
          }
        }
      }
    }
  }
}

@include media($tablet-landscape-down) {
  .timeline-step .step-options .stages .stage {
    width: 330px;
    margin: 10px 10px;
  }
}

@include media($tablet-portrait-down) {
  .timeline-splash .timeline-header .timeline-title {
    .welcome {
      font-size: $title-font-size-3;
    }

    .welcome-journey {
      font-size: 24px;
      letter-spacing: 6px;
    }
  }

  .timeline-step {
    .timeline-header {
      .timeline-title {
        padding: 0;
        padding-top: $spacing-small;
      }
    }

    .step-options {
      .next {
        margin-top: $spacing-large;
      }
      .stages {
        .stage {
          width: 90%;
        }
      }
    }
  }
}
