.timeline-container .branded-body {
  background-color: $ui-light-grey;
}

/* splash page */
.timeline-splash {

  .timeline-header {
    text-align: center;

    .timeline-title {
      padding: $spacing-large;
      text-align: center;

      .timeline-graphic {
        display: inline-block;
        width: 40%;
        padding-bottom: $spacing-large;
      }

      .welcome {
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
      }

      .welcome-journey {
        text-transform: uppercase;
        font-size: $title-font-size-2;
        letter-spacing: $base-small-font-size;
        font-weight: $bold-font-weight;
      }
    }
  }

  .timeline-content {
    text-align: center;
  }

  .timeline-actions {
    text-align: center;
    padding: $spacing-large;

    .timeline-btn {
      width: 140px;
      color: $primary-navy ;
      background-color: $ui-light-grey;
      font-weight: $bold-font-weight;
      border-radius: 5px;
      border: 2px solid $ui-grey;

      &:hover {
        background-color: $ui-grey;
        color: $primary-navy;
      }
    }
  }
}

/* select step page */
.timeline-step {

  .timeline-header {
    text-align: center;

    .timeline-title {
      padding: $spacing-large;

      h1 {
        font-size: $title-font-size-2;
        font-weight: $bold-font-weight;
        margin-bottom: $spacing-small;
      }

      h2 {
        font-size: $title-font-size-5;
        font-weight: $base-font-weight;
        color: $primary-red-left;
      }
    }
  }

  .step-options {
    display: block;
    width: 100%;

    .stages {
      display: inline-block;
      text-align: center;

      /* button link container div */
      .stage {
        display: inline-block;
        width: 350px;
        height: 110px;
        border: 2px solid $ui-grey;
        border-left: 2px solid $primary-red-left;
        padding: $spacing-small;
        padding-left: $spacing-medium;
        margin: $spacing-small $spacing-medium;
        text-align: left;

        &:hover {
          cursor: pointer;
          border: 2px solid $ui-selected;
          border-left: 2px solid $primary-red-left;
        }

        .fa, .fas {
          font-size: $title-font-size-3;
          color: $primary-red-left;
        }

        .timeline-btn-label {
          padding-top: $spacing-small;
          font-weight: $bold-font-weight;
        }
      }
    }
  }
}


/* task page */

.timeline-task {
  display: flex;
  background-color: $ui-grey;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;

  .timeline-sidebar {
    position: absolute;
    display: inline-block;
    width: 300px;
    background-color: $ui-white;
    float: left;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10;

    .timeline-header-mobile {
      display: none;
    }

    .timeline-header {
      background-color: $primary-red-left;
      padding: $spacing-small;
      display: table;
      width: 100%;

      .title {
        display: table-cell;
        float: left;

        .fa, .fas {
          font-size: $title-font-size-3;
          color: $ui-white;
          padding-bottom: $spacing-small;
        }

        h2 {
          color: $ui-white;
          font-size: $title-font-size-3;
          margin: 0;
        }

        p {
          font-size: $base-small-font-size;
          color: $ui-white;
          margin: 0;
        }
      }

      .progress {
        width: 35%;
        display: table-cell;

        .progress-icon {
          display: inline-block;
          width: 70%;

          img {
            position: relative;
            bottom: -10px;
          }
        }

        .progress-count {
          display: inline-block;
          float: left;
          width: 30%;
          padding-top: 50px;
          font-size: $base-small-font-size;
          color: $ui-white;
        }

        &.proforma {
          width: 10%;
        }
      }
    }

    .list-stages {
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-bottom: $spacing-large * 2;

      .vertical {
        border-left: 5px solid $ui-grey;
        margin-left: 10px;
      }

      .stage-title {
        font-size: $base-small-font-size;
        padding: 10px;
        line-height: 0.5;
        text-align: center;
        list-style: none;
        margin-left: -$spacing-small;

        span {
          color: $primary-red-left;
          display: inline-block;
          position: relative;
          padding: 0 6px;
        }

        /* create the dashed lines either side of the stage headings */
        span:before,
        span:after {
          content: "";
          position: absolute;
          height: 5px;
          border-bottom: 2px dashed $primary-red-left;
          top: 0;
          width: 300px;
        }

        span:before {
          right: 100%;
        }

        span:after {
          left: 100%;
        }
      }

      .sub-stage {
        .sub-stage-container {
          margin: $spacing-small;
          margin-left: 18px;
          padding: 6px;
          padding-left: 30px;
          list-style: none;
          border-radius: 5px;
          text-indent: -8px;

          /* custom list bullets */
          &:before {
            display: inline-block;
            font-size: 22px;
            content: '\25CF';
            color: #e60000;
            position: relative;
            right:42px;
            line-height: 0;
            top: 2px;
          }

          a {
            font-size: $base-small-font-size;
            color: $ui-dark-grey;

            &.heading {
              font-size: 16;
            }
          }
        }

        .active {
          a {
            color: $primary-navy;
          }
        }

        /* change the colour of the custom list bullet when stage is completed / skipped */
        .complete {
          &:before {
            color: #00b300;
          }
        }

        .negative {
          &:before {
            color: #ffa200;
          }
        }
      }
    }
  }

  .timeline-content {
    position: relative;
    width: 100%;
    right: 0;
    display: flex;

    form {
      width: 100%;
      margin-left: 300px;
    }

    #question {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      height: 100%;
      width: 100%;

      .question-content {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: $spacing-large;
        padding-left: $spacing-large * 3;
        display: table;
        margin-top: auto;
        margin-bottom: auto;

        .content {
          display: inline-block;
          position: relative;
          width: 100%;

          p {
            font-size: $title-font-size-2;
            line-height: $title-font-size-1;
            font-weight: $bold-font-weight;
          }
        }
      }

      .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .actions {
        width: 100%;
        position: relative;

        .branded-btn {
          min-width: 140px;
          margin: $spacing-medium $spacing-large $spacing-medium 0;
          background-color: $ui-light-grey;
          border: 1px solid $primary-navy;
          color: $primary-navy;
          border-radius: 5px;

          &:hover {
            background-color: $primary-navy;
            color: $ui-light-grey;
          }
        }
      }
    }

    #answer {
      margin-top: $spacing-large;
      margin-left: $spacing-large;
      text-align: left;
      display: none;

      .answer-container {
        @include span-columns(7 of 12);
        @include omega(n);
        padding-bottom: $spacing-large;
        padding-right: $spacing-large * 2;
        padding-left: $spacing-large * 2;

        h2 {
          padding-bottom: $spacing-large;
        }
      }

      .contact-container {
        @include span-columns(5 of 12);
        padding-left: $spacing-large * 2;
        padding-right: $spacing-large;
        padding-top: $spacing-small;
        margin-right: 0;

        .contact {
          min-height: 70px;
          padding-bottom: $spacing-medium;

          .avatar {
            width: 70px;
            width: 70px;
            height: 70px;
            position: relative;
            display: inline-block;
            float: left;
            border-radius: 5px;
            border: 1px solid $ui-light-grey;

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          .contact-info {
            display: inline-block;
            padding-left: $spacing-small;

            p {
              margin-bottom: 0;
            }

            .name, .position {
              font-weight: $bold-font-weight;
            }
          }
        }

        img {
          width: auto;
          padding-bottom: 10px;
          max-height: 350px;
        }
      }

      .useful-extras {
        .actions-container {

          .branded-btn-inverted {
            min-width: 140px;
            color: $ui-white;
            border: 1px solid $primary-navy;
            background-color: $primary-navy;
            margin-bottom: $spacing-medium;

            &:hover {
              background-color: $ui-grey;
              color: $primary-navy;
            }
          }
        }

        .features-container {
          padding-top: $spacing-medium;

          .branded-btn-inverted {
            color: $ui-white;
            border: 1px solid $primary-navy;
            background-color: $primary-navy;
            margin-bottom: $spacing-medium;

            &:hover {
              background-color: $ui-grey;
              color: $primary-navy;
            }
          }
        }
      }

      .timeline-footer {
        .shortcuts-container {
          @include span-columns(12 of 12);
          padding: $spacing-small;
          text-align: center;

          .shortcuts-question {
            display: grid;
            height: 70px;
            width: 70px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: 70px;
            grid-template-rows: 70px;
            justify-items: center;
            align-items: center;

            .shortcuts {
              text-align: center;
              grid-column: 1 / span 1;
              grid-row: 1 / span 1;

              .shortcut-button {
                width: 40px;
                height: 40px;
                background-color: $primary-navy;
                border-radius: 50% 50%;
                display: table;

                &:hover {
                  cursor: pointer;
                }

                i {
                  display: table-cell;
                  vertical-align: middle;
                  font-size: 23px;
                  color: $ui-light-grey;
                }
              }
            }

            .shortcut-links {
              display: none;
            }
          }

          .shortcuts-grid {
            display: grid;
            height: 210px;
            width: 210px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: 70px 70px 70px;
            grid-template-rows: 70px 70px 70px;
            justify-items: center;
            align-items: center;

            .shortcuts {
              text-align: center;
              grid-column: 2 / span 1;
              grid-row: 2 / span 1;

              .shortcut-button {
                width: 40px;
                height: 40px;
                background-color: $primary-navy;
                border-radius: 50% 50%;
                display: table;

                &:hover {
                  cursor: pointer;
                }

                .fa {
                  font: normal normal normal normal;
                }

                i {
                  display: table-cell;
                  vertical-align: middle;
                  font-size: 23px;
                  color: $ui-light-grey;
                }
              }

              .close {
                opacity: 0.6;
              }
            }

            .shortcut-links {
              padding-top: 14px;

              .shortcut-link {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $primary-navy;
                border: none;
                color: $ui-light-grey;

                &:hover {
                  cursor: pointer;
                }

                i {
                  font-size: 20px;
                  color: $ui-light-grey;
                  width: 100%;
                  text-align: center;
                }
              }

              .shortcut-label {
                font-size: $ultra-small-font;
                padding-top: 2px;
              }
            }

            // position the links in the grid
            .link_how_tos {
              text-align: center;
              grid-column: 3 / span 1;
              grid-row: 2 / span 1;
            }

            .link_services {
              text-align: center;
              grid-column: 1 / span 1;
              grid-row: 2 / span 1;
            }

            .link_faqs {
              text-align: center;
              grid-column: 2 / span 1;
              grid-row: 1 / span 1;
            }

            .link_area_guide {
              text-align: center;
              grid-column: 2 / span 1;
              grid-row: 3 / span 1;
            }
          }
        }

        .next {
          @include span-columns(12 of 12);
          padding: $spacing-large;
          padding-top: $spacing-small;
          text-align: center;

          input,
          .btn {
            color: $primary-navy;
            background-color: $ui-light-grey;
            border: 1px solid $primary-navy;
            padding: 0px 10px;
            border-radius: 5px;
            font-size: $base-font-size;
            font-family: $base-font-family;
            line-height: $icon-font-line-height;
            margin: 0 $spacing-small 0 $spacing-small;
            min-width: 140px;

            &:hover {
              background-color: $ui-grey;
              cursor: pointer;
              font-weight: $bold-font-weight;
            }
          }

          .btn {
            margin: 0 $spacing-small 0 $spacing-small;
          }

          .navigation-btn, input {
            width: 140px;
          }
        }
      }
    }

    .complete-content {
      width: 100%;
      margin-left: 300px;

      .header {
        display: none;
      }

      br + br {
        display: none;
      }

      .incomplete, .complete {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        height: 100%;
        width: 100%;

        .text {
          grid-column-start: 1;
          grid-column-end: 1;
          padding: $spacing-small;
          display: table;
          margin-top: auto;
          margin-bottom: auto;
          text-align: center;

          .actions {
            padding-top: $spacing-large;

            .btn {
              width: 140px;
            }

            .branded-btn-inverted {
              color: $ui-white;
              background-color: $primary-navy;
              border: 1px solid $primary-navy;
              margin: $spacing-small;

              &:hover {
                background-color: $ui-grey;
                color: $primary-navy;
              }
            }

            .branded-btn {
              color: $primary-navy;
              background-color: $ui-light-grey;
              border: 1px solid $primary-navy;
              margin: $spacing-small;

              &:hover {
                background-color: $ui-grey;
              }
            }
          }
        }

        .image {
          grid-column-start: 2;
          grid-column-end: 2;

          .image-container {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }
}

// only show the scrollbar on desktop
@include media($tablet-landscape-up) {
  .timeline-task {
    /* custom scrollbar -> styling does not display in Firefox or IE/Edge */
    ::-webkit-scrollbar {
      width: 8px;
      border: 1px solid $ui-white;
    }
    ::-webkit-scrollbar-track {
      background: $ui-white;
    }
    ::-webkit-scrollbar-thumb {
      background: $ui-white;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: $ui-grey;
    }
  }
}

// large tablet landscape
@include media($desktop-down) {
  .timeline-task {
    .timeline-content {
      #question {
        .question-content {
          padding-left: $spacing-large * 2;
        }
      }
      #answer {
        .answer_container {
          padding-left: $spacing-large * 2;
        }
      }
    }
  }
}

@include media(new-breakpoint(max-width 770px)) {
  .timeline-splash .timeline-header .timeline-title {
    .timeline-graphic {
      width: 60%;
    }
  }

  .timeline-task .timeline-content #answer .timeline-footer .next .branded-btn {
    margin: 10px;
  }
}

// small tablet landscape
@include media($tablet-landscape-down) {
  .timeline-step .step-options .stages .stage {
    width: 330px;
    margin: 10px 10px;
  }

  .timeline-task {
    .timeline-content {
      #question {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 400px auto;

        .image {
          grid-row-start: 1;
          grid-row-end: 2;
          max-height: 400px;
        }

        .question-content {
          grid-row-start: 2;
          grid-row-end: 3;
        }

        .actions {
          .branded-btn {
            margin: 0 $spacing-medium $spacing-medium 0;
          }
        }
      }

      #answer {
        .answer-container {
          @include span-columns(12 of 12);
          padding: $spacing-large;
          padding-left: $spacing-large * 2;
        }

        .contact-container {
          @include span-columns(12 of 12);
          padding-bottom: $spacing-large;
        }
      }

      .complete-content {

        .incomplete, .complete {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto auto;
          height: 100%;
          width: 100%;

          .text {
            grid-row-start: 2;
            grid-row-end: 2;
            padding: $spacing-medium;
            padding-bottom: $spacing-large;
          }

          .image {
            grid-column-start: 1;
            grid-column-end: 1;

            .image-container {
              height: 250px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}


@include media($tablet-portrait-down) {
  .timeline-splash .timeline-header .timeline-title {
    .timeline-graphic {
      width: 90%;
    }

    .welcome {
      font-size: $title-font-size-3;
    }

    .welcome-journey {
      font-size: 24px;
      letter-spacing: 6px;
    }
  }

  .timeline-task {
    .timeline-content {
      margin: 0;
    }
  }

  .timeline-step {
    .timeline-header {

      .timeline-title {
        padding: 0;
        padding-top: $spacing-small;
      }
    }

    .step-options {
      .next {
        margin-top: $spacing-large;
      }
      .stages {
        .stage {
          width: 90%;
        }
      }
    }
  }

  #timelineContentDesktop {
    display: none;
  }

  .timeline-task {
    .timeline-sidebar {
      width: 100%;
      z-index: 5;
      background-color: $ui-light-grey;

      .timeline-header {
        display: none;
      }

      .timeline-header-mobile {
        height: 200px;
        width: 100%;
        display: block;
        position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 5;
        top: 60px;
        border-radius: 0 0 14px 14px;

        .overlay {
          background-color: rgba(0, 0, 0, 0.3);
          height: 100%;
          width: 100%;
          border-radius: 0 0 14px 14px;
          padding: $spacing-small;

          .progress-container {
            position: absolute;
            bottom: 0;
            width: 100%;

            .title {
              display: inline-block;
              color: $ui-white;
              padding-top: 55px;
              width: 60%;
              float: left;

              p {
                color: $ui-white;
                margin-bottom: $spacing-small;
              }
            }

            .progress {
              display: inline-block;
              width: 40%;

              .progress-count {
                display: inline-block;
                width: 30%;
                float: left;
                padding-top: 75px;
                color: $ui-white;
                font-size: $base-small-font-size;
              }

              .progress-icon {
                display: inline-block;
                width: 55%;
                height: 80px;
                width: 80px;
                position: relative;

                img {
                  position: absolute;
                  left: 0;
                  bottom: -14px;
                }
              }
            }
          }
        }
      }

      .list-stages {
        padding-top: 260px;

        .sub-stage {
          .sub-stage-container {
            border: 1px solid $ui-grey;
          }

          .active {

          }
        }
      }
    }

    .timeline-content {
      position: relative;
      left: 0;
      margin: auto;
      padding: $spacing-small 0;
      margin-right: $spacing-small;
      margin-left: -6px;
      margin-top: 6px;
      border-top: 2px solid $ui-grey;

      form {
        margin-left: 0;
      }

      #question {
        display: inline-block;

        .question-content {
          padding: 0;
          text-indent: 12px;

          .content {
            text-indent: 0;
            .branded-text {
              font-size: $title-font-size-4;
              line-height: $title-font-size-2;

            }
          }
        }

        .image {
          display: none;
        }

        .actions {
          .branded-btn {
           min-width: 100px;
           margin: $spacing-small $spacing-medium $spacing-small 0;
          }
          .not-applicable {
            width: 130px;
            margin-left: 12px;
          }
        }
      }

      #answer {
        float: none;

        .answer-container {
          width: 100%;
          padding: 0;
          padding-left: 6px;
          text-indent: 0;

          h2 {
            font-size: $title-font-size-4;
            padding-bottom: $spacing-medium;
          }
        }

        .contact-container {
          width: 100%;
          padding: $spacing-medium 0;
          text-indent: 6px;

          .contact {
            .avatar {
              margin-right: 4px;
            }
            .contact-info {
              padding-left: 6px;
              text-indent: 0;
            }
          }

        }

        .timeline-footer {

          .shortcuts-container {
            .shortcuts-question {
              height: 60px;
              width: 60px;
              grid-template-columns: 60px;
              grid-template-rows: 60px;
            }

            .shortcuts-grid {
              height: 210px;
              width: 210px;
              grid-template-columns: 70px 70px 70px;
              grid-template-rows: 70px 70px 70px;
              text-indent: 0;
            }

            #shortcutButton {
              text-indent: 0;
            }
          }

          .next {
            padding: $spacing-small;
            text-indent: 0;

            .branded-btn {
              margin: $spacing-small;
              min-width: 140px;
            }
          }
        }
      }

      .complete-content {
        margin: 0;
        padding: 0;

        .header {
          display: table;
          width: 100%;
          padding: $spacing-small;
          padding-left: $spacing-medium;

          .title {
            float: left;
            display: table-cell;

            .fa, .fas {
              font-size: $title-font-size-3;
              padding-bottom: 0;

            }

            p {
              font-size: $base-font-size;
              margin: 0;
            }
          }

          .progress {
            display: inline-block;
            width: 40%;

            .progress-count {
              display: inline-block;
              width: 30%;
              float: left;
              padding-top: 75px;
              color: $ui-white;
              font-size: $base-small-font-size;
            }

            .progress-icon {
              display: inline-block;
              width: 55%;
              height: 80px;
              width: 80px;
              position: relative;

              img {
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }
          }
        }

        .complete, .incomplete {
          .text .actions {
            .btn {
              width: 120px;
            }
          }
        }
      }
    }
  }

  #timelineContentMobile {
    .complete-content {
      .header {
        h2 {
          font-size: $title-font-size-4;
          margin-bottom: 0;
        }
      }
    }
  }
}

@include media($mobile-down) {
  .timeline-task .timeline-content #question .actions {
    text-indent: 0;
    padding-left: 12px;

    .not-applicable {
      margin-left: 0;
    }
  }

  .mobile-off {
      display: none;
   }

  .timeline-task .timeline-sidebar .timeline-header-mobile .overlay .progress-container .progress {
    display: inline-block;
    width: 40%;

    .progress-count {
      display: inline-block;
      width: 30%;
      float: left;
      padding-top: 75px;
      color: $ui-white;
      font-size: $base-small-font-size;
    }

    .progress-icon {
      display: inline-block;
      width: 55%;
      height: 70px;
      width: 70px;
      position: relative;

      img {
        position: absolute;
        left: 0;
        bottom: -10px;
      }
    }
  }
}
