<% if !defined?(@skip_menus) %>
  <%= render "components/homeowner/hero" %>
  <%= render "components/homeowner/sub_menu", active_tab: "rooms", plot: @plot %>
<% end %>

<div class="branded-body">
  <div class="rooms">
    <span class="branded-text rooms-disclaimer"><%= t(".no_match") %></span>
  </div>
</div>
