<%= render 'layouts/b2c/head' %>
<%= render 'b2c/nav/navigation' %>

<body class="b2c-registration-view">
  <div class="main-container">
    <main>
      <%= render "components/flashes" %>
      <%= yield %>
    </main>
  </div>
</body>
</html>
