<% breadcrumb :service_edit, @service %>

<div class="section-header">
  <h3 class="section-title">
    <%= t(".title", name: @service.name) %>
  </h3>
</div>

<%= render 'form', service: @service, development: @development %>
