<% breadcrumb :content_management, @parent %>

<div class="row configuration global-settings">
  <div class="row-item half">
    <div class="master-build-progress">
      <h4><%= t(".build_progress") %></h4>
      <p><%= t(".build_progress_desc", parent: @parent.identity) %></p>
      <div class="global-option">
        <%= link_to t(".build_progress_btn", sequence: @parent.sequence_in_use.sequence_name), [@parent, :build_sequence], class: "btn" %>
      </div>
    </div>
  </div>
</div>
