<% breadcrumb :admin_resident, @resident %>

<div class="section-header">
  <div class="section-title">
    <h3>
      <i class="fa fa-user"></i>
      <%= @resident.to_s %><br>
    </h3>
    <span class="about">
      <i class="fa fa-envelope"></i>
      <%= @resident.email %>
    </span>
  </div>
</div>

<div class="resident section-data">
  <% @resident.plots.each do |plot| %>
    <%= render "admin/residents/plot_details", plot: plot %>
  <% end %>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), admin_residents_path, class: "btn" %>
  </div>
</div>
