<div class="section-header">
  <h3 class="section-title">
    <%= t("dashboard.section.notifications.title") %>
  </h3>
  <div class="section-actions">
    <button class="btn-primary">
      <span class="btn-label">
        <%= t("dashboard.section.notifications.new") %>
      </span>
    </button>
  </div>
</div>

<table class="record-list">
  <tbody>
    <% 4.times do %>
    <tr>
      <td>
        <a href="" class="notification-subject">
          <span>Re: Garden Flood Warning</span>
        </a>
      </td>
      <td>
        <span>01.12.16</span>
      </td>
      <td>
        <a href=""  class="notification-participants">
          <span>
            <%= t("dashboard.section.notifications.sent_to") %>
            <strong>Brighter Homes</strong>
          </span>
        </a>
      </td>
      <td class="actions">
        <button>
          <%= fa_icon "eye" %>
        </button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
