<div class="section-header">
  <h3 class="section-title">
    <%= t("dashboard.section.faqs.title") %>
  </h3>
  <div class="section-actions">
    <button class="btn-primary">
      <span class="btn-label">
        <%= t("dashboard.section.faqs.new") %>
      </span>
    </button>
  </div>
</div>

<table class="record-list">
  <tbody>
    <% 4.times do %>
    <tr>
      <td>
        <a href="" class="document-title">
          <span>Zanussi Washing Machine 5000</span>
        </a>
      </td>
      <td>
        <a href=""  class="document-category">
          <span>
            <%= fa_icon "file-text" %>
            Insurance and Warranty
          </span>
        </a>
      </td>
      <td class="actions">
        <button>
          <%= fa_icon "eye" %>
        </button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
