<% breadcrumb :admin_notifications %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render_collection @notifications, path_prefix: "admin" %>
