<% breadcrumb :admin_notification_new %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title") %>
  </div>
</div>

<%= render 'form', notification: @notification %>
