<div class="section-header">
  <div class="section-title">
    <div><%= appliance_category.name %></div>
  </div>

  <div class="section-data">
    <span class="right">
      <%= edit_btn edit_appliance_category_path, element: appliance_category %>
    </span>
  </div>
</div>

<div class="row appliance_category">
  <div class="row-item half">
    <h5><%= t(".manufacturers") %></h5>
    <% ApplianceManufacturer.all.order(:name).each do | manufacturer| %>
      <span><%= manufacturer %></span><br>
    <% end %>
  </div>
</div>
