<% breadcrumb :appliance_category_edit, @appliance_category %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "industry" %>
    <%= t(".title", name: @appliance_category.name) %>
  </div>
</div>

<%= render "form", appliance_category: @appliance_category %>
