<% breadcrumb :appliance_categories %>

<%= render "components/admin/stuck_with_specs", cas: Developer.find_by(id: current_user&.developer)&.cas %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render "components/tabs", tabs: appliance_tabs(nil, @active_tab,current_user.developer) %>
<%= render_collection @appliance_categories %>
