<% breadcrumb :appliance_category_new %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render "form", appliance_category: @appliance_category %>
