<% breadcrumb :appliance_category_new %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "industry" %>
    <%= t(".title") %>
  </h3>
</div>

<%= render "form", appliance_category: @appliance_category %>
