<% breadcrumb :developer_new, @developer %>

<div class="row">
  <div class="row-item">
    <div class="section-header">
      <h3 class="section-title">
        <%= fa_icon "vcard" %>
        <%= t("views.add_type", type: Developer.model_name.human) %>
      </h3>
    </div>
  </div>
</div>

<%= render 'form', developer: @developer %>
