<div class="section-header">
  <div class="section-title">
    <div>
      <%= room_item.name %><br>
    </div>
  </div>

  <div class="section-data">
    <span class="right">
      <%= edit_btn [:edit, room_configuration, room_item], element: room_item %>
    </span>
  </div>

</div>
