<% breadcrumb :room_item, @room_item %>

<div class="room_item">
  <%= render "room_items/room_item", room_item: @room_item, choice_configuration: @choice_configuration, room_configuration: @room_configuration %>
  <%= render "collection", collection: @collection, parent: @room_item %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), choice_configuration_room_configuration_path(choice_configuration_id: @choice_configuration.id, id: @room_configuration.id), class: "btn" %>
    </div>
  </div>
</div>
