  $development: royalblue;
  $phase: forestgreen;
  $plot: orangered;

  //$development: #BEFDFE;
  //$phase: #EDFEC4;
  //$plot: #FCD7D4;

  $development: #265D87;
  $phase: #4D6F12;
  $plot: #972F18;

  #admin_calendar {
  .fc-toolbar {
    padding-top: $spacing-medium;
  }

  .status {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 1px;
    display: inline-block;
  }

  .event_type {
    @extend .status;
    float: left;
    width: 12px;
    height: 12px;
  }

  .status_type {
    @extend .status;
    border: 1px solid black;
    float: right;
  }

  .development {
    @extend .event_type;
    background-color: $development;
  }

  .phase {
    @extend .event_type;
    background-color: $phase;
  }

  .plot {
    @extend .event_type;
    background-color: $plot;
  }

  .reproposed {
    @extend .status_type;
    background-color: #db7b2b;
  }

  .invited {
    @extend .status_type;
    background-color: $ui-white;
  }

  .accepted {
    @extend .status_type;
    background-color: #2dc937;
  }

  .declined {
    @extend .status_type;
    background-color: #cc3232;
  }

  button {
    color: $primary-navy;
    border: 1px solid $primary-navy;
    background-color: $ui-white;
    background: none;
    font-size: $base-font-size;

    &:hover {
      color: $ui-white;
      background-color: $primary-navy;
    }
  }

  .fc-center {
    width: 100%;
    display: inline-block;
    clear: both;
    float: left;
    padding-top: $spacing-small;

    .fc-month-button, .fc-agendaWeek-button, .fc-agendaDay-button {
      float: right !important;
    }

    .container {
      display: inline;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      margin-right: 10px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 27px;
      width: 27px;
      background-color: #2196F3;
    }


    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      margin-right: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);

    }

    span {
      float: unset;
      border-radius: unset;

      label {
        padding: 5;
      }

      .development {
        background-color: $development;
      }

      .phase {
        background-color: $phase;
      }

      .plot {
        background-color: $plot;
      }
    }
  }

  .fc-month-button {
    margin-right: 0;
  }

  .fc-scroller {
    height: auto !important;
  }

  .fc-state-disabled, .fc-state-active {
    background-color: $primary-navy;
    color: $ui-white;
    opacity: 1;
  }

  .fc-bg .fc-today {
    background-color: $primary-navy;
    opacity: 0.1;
  }

  .fc-day-header {
    font-family: $base-font-family;
    color: $primary-navy;
    font-size: $base-font-size;
  }

  .fc-day-number {
    color: $primary-navy;
    opacity: 0.5;
    padding-top: 4px;
    padding-right: 5px;
  }

  .fc-toolbar {
    padding-bottom: $spacing-small;
  }

  .fc-axis span {
    font-size: $base-small-font-size;
    color: $primary-navy;
  }

  .fc-day-grid {
    .fc-event{
      //color: black;
      background-color: unset;
      border: unset;
    }

    .repeat-event {
      border: 1px solid #075473;
      background-color: #075473;
    }

    .reproposed-datetime {
      background-color: $secondary-orange;
      border-color: $secondary-orange;
    }
  }

  .fc-content-col {
    .fc-time-grid-event {
      border: 1px solid $primary-navy;
      background-color: $primary-navy;
    }

    .past-event {
      opacity: 0.6;
    }

    .repeat-event {
      border: 1px solid #075473;
      background-color: #075473;
    }

    .reproposed-datetime {
      background-color: $secondary-orange;
      border-color: $secondary-orange;
    }
  }

  .fc-more {
    font-family: $base-font-family;
    font-size: $base-small-font-size;
    color: $primary-navy;
  }

  .fc-popover {
    .fc-content, .fc-event {
      background-color: $primary-navy;
      border: 1px solid $primary-navy;
    }
  }

  .fc-content {
    &:hover {
      cursor: pointer;
    }
  }

  .fc-bg {
    opacity: 1;
  }

  .fc-content, .fc-bg {
    // color: black;

    &.development_bg {
      background-color: $development;
    }

    &.phase_bg {
      background-color: $phase;
    }

    &.plot_bg {
      background-color: $plot;
    }
  }

  .fc-icon-left-single-arrow, .fc-icon-right-single-arrow {
    &:after {
      top: 1px;
    }
  }

  .fc-agendaDay-view {
    td {
      background-color: $ui-white !important;
    }
  }

  .fc-popover {
    .fc-header {
      background: none;
    }
    .fc-close {
      color: $primary-navy;
      margin-top: 4px;
    }
  }
}

.admin-view {
  #btn_event_delete {
    float: right;
    border: none;
    background-color: $primary-navy;
    background: none;
    font-size: 18px;
    padding: 0;

    .fa {
      color: $ui-white;
    }
  }
}

#btn_submit {
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.event_details_form {
  label {
    color: $primary-navy;
  }

  .event-time {
    padding-top: 11px;;
  }

  .proposed_datetime {

    label {
      padding-top: 1px;
      color: $primary-red-left;
    }

    .quarter {
      p {
        margin-top: -$spacing-small;
        color: $primary-red-left;
        padding-left: $spacing-small;
        margin-bottom: 10px;
      }
    }

    .end-date {
      margin-right: 0;
    }

    .accept-change {
      margin-top: $spacing-small;
      padding-bottom: $spacing-medium;

      #accept_reschedule {
        font-size: $base-font-size;
        font-family: $base-font-family;
      }
    }
  }

  .input {
    font-size: $base-font-size;
  }

  input.datetime {
    padding: 5px 10px;
  }

  div.select-all {
    position: relative;
    top: 40;
  }

  .event {
    input {
      margin-bottom: 0;
    }

    .event-time {
      display: block;

      .invalid input {
        border: 1px solid $primary-red-left;
        border-radius: 5px;
      }
    }

    .event_repeat, .event_reminder {
      position: static;
      display: inline;
    }

    #repeat_until {
      .input {
        margin-bottom: 0;
      }
    }

    .event_repeat_until {
      .form-control{
        height: 39px;
      }
    }

    .half, .quarter {
      margin-bottom: 0;
    }

    .reminder {
      display: inline-block;
      clear: both;
      padding-top: 10px;
    }

    .ui-selectmenu-button .ui-selectmenu-text {
        padding: 9px !important;
    }
  }

  .resource_count, .dev_invited, .dev_accepted, .dev_declined {
      display: inline;
  }

  .resources {

    .status {
      @extend .circle;
      vertical-align: middle;
    }

    .reservation {
      @extend .status;
    }

    .completed {
      @extend .status;
      @extend .red;
    }

    #resources {
      height: 106px;
      overflow-x: hidden;
      overflow-y: scroll;
      border: 1px solid $primary-navy;
      border-radius: 5px;

      &.field_with_errors {
        border: 2px solid $field-invalid-border-color
      }

      table {
        width: 100%
      }

      .plot-col, .development-col {
        width: 33%;
      }

      .phase-col {
        width: 25%;
      }
    }

    .error {
      font-size: $input-small-font-size;
      color: $input-inline-error-font-color;
      display: block;
    }

    .invite-btn {
        @extend .btn;
        display: inline-block;
        float: right;
        margin-right: $spacing-small;
        margin-top: 3px;

        font-size: $base-small-font-size;
        line-height: 1.5;
      }

    .select-all-resources, .select-all-comp, .select-all-res {
      @extend .invite-btn;
      float: unset;
    }

    .invite-resource-btn {
      color: $secondary-green;
      border-color: $secondary-green;

      // this doesn't seem to be working, so force css in js
      &:hover {
        color: $ui-white;
        background-color: $secondary-green;
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    .invited {
      color: #99A3A4;
    }

    .reproposed {
      color: #fcb788;
    }

    .accepted {
      color: #ADEBAD;
    }

    .declined {
      color: red;
    }

    span {
      label {
        display: inline-block;
      }
    }

    .resource-label{
      float:left;
      margin: 0;
      padding: 0;
      pointer-events: none;

      .collection_check_boxes {
        padding: 5px 0 5px $spacing-small;
        margin: 0;
        font-weight: normal;
      }
    }

    .status-label {
      @extend .resource-label;
      padding: 5px 0 5px $spacing-small;
      float: unset;
      text-align: center;
    }

    .development-status-label, .plot-status-label {
      @extend .status-label;
    }

    .phase-status-label {
      @extend .status-label;
      width: 90;
      padding-right: 150px;
    }

    input[type="checkbox"] {
      display: none;
    }

    .invited {
      color: #99A3A4;
    }

    .reproposed {
      color: #fcb788;
    }

    .accepted {
      color: #ADEBAD;
    }

    .declined {
      color: red;
    }
  }
}

#repeat_event_form {
  label {
    display: inline;
    color: $primary-navy;
    padding-left: 5px;
    font-family: $base-font-family;
  }

  .event-delete-type {
    padding: 5px 0;
  }
}
