.empty {
  width: 100%;
  float: left;
  text-align: center;
  color: $ui-black;
  font: $base-font-family;
  font-size: $base-font-size;

  div {
    padding: $spacing-small/2 0;
  }

  i {
    color: $ui-dark-grey;
    font-size: 32px;
  }
}

.lower {
  margin-top: $spacing-medium;
}

.panel {
  background-color: $ui-white;
}
