// ****** globals ******

.user-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  .input {
    margin-bottom: $spacing-medium;
  }

  .separator {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 1px;
    background-color: $ui-grey;
    margin: 0 $spacing-large;
  }

  .checkbox-label {
    display: inline-block;
    padding-left: 5px;
  }

  .header-label {
    font-size: $title-font-size-5;
    margin-top: $spacing-small;
  }

  input[type="checkbox"] {
    display: inline-block;
    float: left;
    margin-top: 14px;
  }

  span.checkbox-description {
    display: block;
    font-size: $base-small-font-size;
    padding-bottom: $label-margin;
    margin-left: 0;
  }
}

.form-column {
  padding: $spacing-medium $spacing-large;
}

.trim-form-column {
  padding: 0 $spacing-large;
}

// ****** specific forms ******

// user form

.su-controls {
  background-color: #ececec;
  padding: 1 10 10 10;

  button {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

.additional-role-meta {
  margin-left: $spacing-small / 2;
  display: block;
  font-size: $base-small-font-size;
  padding-bottom: $label-margin;
  margin-left: 0;
}

.user-roles-desc {
  padding: 0 $spacing-large 0 $spacing-large;

  p {
    padding: 10 0 0 0;
    margin: 0;
  }

  mark {
    background-color: #ececec;
  }
}

.user-form {

  hr.solid {
    margin: 0 $spacing-large;
  }
  .user-permissions {
    display: grid;
  }

  background-color: $ui-white;
  border-radius: 5px;
  margin-bottom: $spacing-large * 2;

  .header-label {
    padding-left: $spacing-large;
    padding-top: $spacing-medium;
    margin-bottom: 0;
  }

  .readonly {
    margin-bottom: 13px;
    width: 100%;
    padding-left: 0;
  }

  .fa-trash-o {
    padding-top: 5px;
  }

  .user-image {
    .hidden {
      display: none;
    }
  }

  // email checkbox fields

  .emails {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    .email-fields {
      display: grid;
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 1fr 1fr;

      .toggle {
        padding-right: 38px;
      }

      .cc-email-fields {
        padding-left: 22px;
        padding-right: unset;
      }

      .receive_release_emails {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: none;
      }

      .cc-receive_release_emails {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: none;
      }

      .snag_notifications {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: none;
      }

      .cc-snag_notifications {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display: none;
      }

      .receive_faq_emails {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        display: none;
      }

      .cc-receive_faq_emails {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        display: none;
      }

      .receive_invitation_emails {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: none;
      }

      .cc-receive_invitation_emails {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        display: none;
      }

      textarea {
        min-height: 50px;
      }
    }
  }

  .additional-roles {
    border:1px solid black;
    height: 320px;
    overflow: auto;
  }

  .additional-role {
    background-color: #ececec;
    padding: 5;
    margin: 10;

    .inline {
      display: inline;
    }

    .delete {
      float: right;
      color: red;
    }

    .header {
      padding-bottom: 4px;
    }
  }

  // -------------------

  .update-password {
    display: block;
  }

  .edit-password {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;

    .header-label {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .current-password {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .new-password {
      grid-row-start: 2;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .confirm-new-password {
      grid-row-start: 2;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }
}

.help-resource {
  display: none;
}

.help-dialog label {
  display: inline;
  font-weight: normal;
}

.confirm-seq-dialog {
  width: 600;

  table {
    width: 100%;

    th, td {
      text-align: left;
      padding: 5px;
    }
  }
}

.build_sequence .build-steps {
  margin-bottom: 50;
}


