.header-container {
  @include pad($spacing-small $spacing-large $spacing-small $spacing-large);
  background-color: $ui-white;
  text-align: center;
  top: 0;

  @include media($tablet-landscape-up) {
    text-align: left;
  }

  img {
    margin-bottom: $spacing-small / 2;
  }

  .logo {
    width: 140px;
    float: left;
    margin-top: 8px;
  }

  .right {
    float: right;
  }

  .feedback-container {
    margin-top: $spacing-small;
  }
}
