.admin-view {
  header {
    @include pad($spacing-small $spacing-large $spacing-small $spacing-large);
    background-color: $ui-white;
    text-align: center;

    @include media($tablet-landscape-up) {
      text-align: left;
    }
  }
}
