//Trigger Variables
$navbar-trigger-size: $title-font-size-1;
$navbar-trigger-offset: 16px;

//Link Variables
$navbar-link-padding-mobile: $spacing-medium;
$navbar-link-padding-desktop: $spacing-small $spacing-medium $spacing-small ($spacing-medium + $spacing-small);
$navbar-link-color: $ui-white;
$navbar-link-icon-color: $primary-background;
$navbar-link-bg-hover-color: rgba($ui-white, 0.1);
$navbar-link-icon-margin: 0 $spacing-medium 0 0;
$navbar-link-font-size-mobile: $title-font-size-3;

//Nav Variables
$navbar-bg-color-mobile: $ui-white;

.navbar {
  background-color: $secondary-blue;
  margin-top: 108px;
  // Start hidden, until toggle
  display: none;

  .unresolved-count {
    background-color: $primary-red;
    color: $ui-white;
    border-radius: 50%;
    padding: 1px 3px;
  }
}

// Hamburger
.admin-trigger-label {
  color: $primary-background;
  font-size: $title-font-size-1;
  height: $title-font-size-1;
  line-height: $title-font-size-1;
  float: right;
  margin: 10px;
  cursor: pointer;
}

// Hide the checkbox itself: trigger happens on the label
.navbar-trigger {
  display: none;
}

.navbar-item {
  height: 50px;
  text-align: center;
  border-top: 1px solid $ui-grey;

  .fa {
    margin: $navbar-link-icon-margin;
    width: $base-font-size;
  }
}

.navbar-link {
  text-decoration: none;
  display: block;
  color: $ui-white;
  cursor: pointer;
  padding: 20px;
}

.copyright-footer {
  height: 40px;
  line-height: 36px;
  text-align: right;
  font-size: $base-small-font-size;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 38px;

  a {
    font-size: $base-small-font-size;
  }
}

.help-file {
  .fa {
    padding: $spacing-small;
    font-size: 40px;
  }
}

//For tablet landscape and up
@include media($tablet-landscape-up) {
  .navbar, .navbar-menu {
    display: block;
  }

  .navbar {
    margin-top: 0;
    padding-top: 15px;
    height: 100%;
  }

  .navbar-item {
    border: none;
    text-align: left;
  }

  .navbar-link {
    padding: 10px 22px 10px 32px;
  }

  .admin-trigger-label {
    display: none;
  }
}
