
.paging {
  @include clearfix();
  clear: both;
  margin-bottom: $spacing-medium;

  ul {
    font-size: 0;
  }

  li {
    background-color: $base-button-bg-color;
    border-width: $border-size $border-size $border-size 0;
    border-style: solid;
    border-color: $pale-navy;
    line-height: $button-line-height;
    padding: 0;
    border-radius: 0;
    display: inline-block;
    list-style-type: none;

    &:first-child {
      border-left: $border-size solid $pale-navy;
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    a {
      text-decoration: none;
      padding: $spacing-small;
      color: $primary-navy;
      opacity: 0.5;
      line-height: 28px;
    }
  }
}

.page-sizes {
  float: right;

  .active a {
    font-weight: $semi-bold-font-weight;
    color: $primary-navy;
  }
}

.pagination {
  text-align: center;

  ul {
    display: inline;

    li {
      color: $ui-dark-grey;

      &.current {
        color: $type-grey;
        font-weight: bold;
        padding: 0 $spacing-small;
      }

      .gap {
        color: $ui-dark-grey;
        padding: 0 $spacing-small;
      }
    }
  }
}


