$list-item-bg-color: $ui-white;
$list-item-border-color: $ui-grey;
$list-item-text-color: $font-copy-color;
$list-item-text-color-secondary: $ui-dark-grey;
$secondary-record-list-item-font-size: 12px;
$primary-record-list-item-color: $type-grey;
$primary-record-list-header-color: $type-grey;

table.record-list {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: $spacing-small;
  color: $primary-navy;
  font-size: $base-font-size;

  th, td {
    text-align: left;
    padding: $spacing-small;
    border-bottom: 3px solid $ui-light-grey;
    word-wrap: break-word;

    &:first-of-type {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-of-type {
      border-radius: 0 $border-radius $border-radius 0;
    }
  }

  th a {
    font-weight: bold;
    color: $primary-navy;
  }

  td a {
    color: $primary-navy;
    text-decoration: none;
    font-weight: $semi-bold-font-weight;
  }

  td {
    .btn {
      color: $primary-red-left;
      border: 1px solid $primary-red-left;
      font-weight: $base-font-weight;
    }
    .btn:hover {
      color: $ui-white;
      border-color: $primary-red-left;
      background-color: $primary-red-left;
    }
  }

  tr {
    background-color: white;
  }

  .actions {
    text-align: right;
  }

  img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10%;
  }
}

.notification-title {
  a {
    font-weight: 620;
  }
}

::-moz-placeholder {
  font-size: $base-small-font-size;
}

::-webkit-input-placeholder {
  font-size: $base-small-font-size;
}

// Documents List
.documents {
  .unassigned {
    .document-category {
    color: $list-item-text-color-secondary;
    }
  }
}

