.search-container {
  float: right;
  width: 600px;
  font-size: $base-small-font-size;
  line-height: $base-small-font-size;

  ul {
    list-style: none;

    li {
      background-color: $ui-white;
      border: 1px solid $ui-grey;
      padding: 5px;
    }

    a {
      text-decoration: none;
      font-size: 12px;
      color: $ui-dark-grey;
      padding-left: 5px;
    }
  }

  input[type="text"] {
    display: inline-block;
    border-style: solid;
    width: 200px;
    padding-left: 38px;
    border-radius: 0;
  }
}

.search-btn {
  margin-left: -200px;
  padding: $spacing-small;
  border: none;
}

.search-results-container {
  width: 360px;
  margin-top: -10px;

  .strong {
    font-weight: bold;
  }
}
