#spotlight0, #spotlight1 {
  div.image-container {
    margin-top: 10;

    label.image_preview.optional {
      margin-top: unset;
      margin-bottom: unset;
    }
  }
}

.spotlight-section-header {
    margin-top : 0 !important;
    margin-bottom: 10 !important;
}
