.tabs {
  @include clearfix();
  clear: both;
  float: left;

  ul {
    font-size: 0;
  }

  li {
    background-color: $base-button-bg-color;
    line-height: $button-line-height;
    padding: 0;
    border-top-right-radius: $border-radius;
    display: inline-block;
    list-style-type: none;
    height: 30px;
    padding-top: 3px;
    border-right: 1px solid $ui-grey;

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 $border-radius 0 0;
    }

    a {
      text-decoration: none;
      padding: $spacing-small;
    }
  }
}

.tab {
  float: left;
  height: 30px;

  a {
    color: $ui-dark-grey;
    line-height: $button-line-height;

    &.active {
      font-weight: bold;
      color: $type-grey;
    }
  }
}
