.tabs {
  @include clearfix();
  clear: both;
  float: left;

  ul {
    font-size: 0;
  }

  li {
    background-color: $base-button-bg-color;
    line-height: $button-line-height;
    padding: 0;
    border-top-right-radius: $border-radius;
    display: inline-block;
    list-style-type: none;
    height: 30px;
    padding-top: 3px;
    border-right: 1px solid $ui-grey;

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 $border-radius 0 0;
    }

    a {
      text-decoration: none;
      padding: $spacing-small;
    }
  }
}

.tab {
  float: left;
  height: 30px;

  a {
    color: $semi-pale-navy;
    line-height: $button-line-height;

    &.active {
      font-weight: bold;
      color: $primary-navy;
    }
  }
}

.faq ul {
  list-style-position: outside;

  li {
    margin-left: 20px;
  }
}

.tabs {
  .tab {
    .dropdown {
      margin-top: -3px;
      position: relative;
      display: inline-block;
      padding: 0 $spacing-small 0 $spacing-small;

      &:hover {
        background-color: $ui-grey;
        .dropdown-content {
          display: block;
        }
      }

      a:hover {
        background-color: $pale-navy;
      }

      .content {
        padding-top: 3px;
        color: $semi-pale-navy;
      }

      .active {
        color: $primary-navy;
        font-weight: $bold-font-weight;
      }
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 0 5px 5px 5px;
  margin-left: -11px;
  background-color: $ui-grey;
  min-width: 160px;
  z-index: 1;

  a {
    color: $primary-navy;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
