.admin-timeline {
  .scrollmenu {
    margin: auto;
    overflow: auto;
    white-space: nowrap;
    width: 100%;

    a {
      display: inline-block;
      text-decoration: none;
    }

    .timeline-stage {
      display: inline-block;
      text-align: center;
      padding: $spacing-small;

      p {
        color: $primary-red-left;
        border-bottom: 1px dashed $primary-red-left;
      }

      .stage {
        border: 2px solid $ui-grey;
        border-radius: 5px;
        padding: 5px $spacing-small;
        color: $primary-navy;

        &:hover {
          background-color: $ui-white;
        }
      }

      .active {
        font-weight: $bold-font-weight;
        background-color: $ui-white;
        border-color: $ui-dark-grey;
      }

    }
  }
}