<div class="browser-support hidden">
  <h4 class="browser-support-title underline branded-text">Title</h4>

  <div class="text browser-support-text branded-text">Browser support text</div>

  <div id="browserSupportBtn">
    Links to other browser download pages
  </div>

  <div class="browser-support-footer">
    <button class="hide-browser-support dialog-second-btn ">Not Again</button>
  </div>
</div>
