<header>
  <label class="admin-trigger-label" for="navbar-trigger">
    <%= fa_icon "bars" %>
  </label>
  <input id="navbar-trigger" class="navbar-trigger" type="checkbox">
  <div class="logo">
    <%= image_tag 'logo.png' %>
  </div>
  <% if current_user&.cf_admin? %>
    <%= render "components/search" %>
  <% elsif current_user %>
    <% unless current_user.expired? %>
      <div class="feedback-container">
        <%= button_tag t(".feedback"), data: data_for_feedback(current_user), class: "right btn feedback-btn" %>
      </div>
    <% end %>
  <% end %>
</header>
