<% breadcrumb :timeline, @timeline %>

<div class="section-header">
  <div class="section-title">
    <%= @timeline.title %><br>
  </div>
</div>

<%= render "form", timeline: @timeline, timeline_task: @timeline_task, mode: @mode, insert_mode: @insert_mode.to_sym, insert_task: @insertion_task %>
