<% breadcrumb :appliance_clone, @appliance %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render 'form', appliance: @appliance, description: ".clone", source_appliance: @source_appliance %>
