<% breadcrumb :appliance_edit, @appliance %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", name: @appliance.full_name) %>
  </div>
</div>

<%= render 'form', appliance: @appliance, source_appliance: @source_appliance %>
