<% breadcrumb :appliances %>

<div class="section-header">
  <h3 class="section-title">
    <%= t(".title") %>
  </h3>
</div>

<%= render 'components/tabs', tabs: appliance_tabs(nil, @active_tab) %>
<%= render_collection @appliances, room: nil %>
