<% breadcrumb :appliance_new, @appliance %>

<div class="section-header new_appliance">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render 'form', appliance: @appliance, source_appliance: @source_appliance %>
