<% breadcrumb :appliance_new, @appliance %>

<div class="section-header new_appliance">
  <h3 class="section-title">
    <%= fa_icon "coffee" %>
    <%= t(".title") %>
  </h3>
</div>

<%= render 'form', appliance: @appliance %>
