<% breadcrumb :faq_edit, @faq, @faq_type %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", parent: @faq) %>
  </div>
</div>

<%= render 'form', faq: @faq, parent: nil, faq_type: @faq_type %>
