<% breadcrumb :faq_edit, @faq %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "question-circle" %>
    <%= t(".title", parent: @faq) %>
  </div>
</div>

<%= render 'form', faq: @faq, parent: nil %>
