<% breadcrumb :faqs, @parent %>

<div class="section-header">
  <%= render @parent %>
</div>

<%= render 'components/tabs', tabs: tabs_for(@parent, "faqs"), parent: @parent %>
<%= render_collection @faqs, parent: @parent, can_create: (can? :create, @faq) %>
