<% breadcrumb :faq_add, @parent %>

<div class="row">
  <div class="row-item">
    <div class="section-header">
      <h3 class="section-title">
        <%= fa_icon "vcard" %>
        <%= t(".title", parent: @parent) %>
      </h3>
    </div>
  </div>
</div>

<%= render 'form', faq: @faq, parent: @parent %>
