<% breadcrumb :development_edit, @development %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title", development_name: @development.name) %>
  </div>
</div>

<%= render 'developments/form', parent: @division, development: @development %>
