<% breadcrumb :developments, @division %>

<div class="section-header">
  <h3 class="section-title">
    <%= t(".title", division_name: @division) %>
  </h3>
</div>

<%= render_collection @developments, parent: @division %>
