<% breadcrumb :development_new, @division %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render 'developments/form', parent: @division, development: @development, specialised_codes: @specialised_codes %>
