<% breadcrumb :development_new, @division %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title") %>
  </div>
</div>

<%= render 'developments/form', parent: @division, development: @development %>
