<% breadcrumb :development, @development %>

<div class="development">
  <%= render '/developments/development', development: @development %>
  <%= render 'components/tabs', tabs: development_tabs(@development, @active_tab), parent: @division %>
  <%= render_collection @collection, parent: @development %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), developer_division_path(developer_id: @development.division.developer, id: @development.division), class: "btn" %>
    </div>
  </div>
</div>
