<% breadcrumb :finish_manufacturer_edit, @finish_manufacturer %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "industry" %>
    <%= t(".title", name: @finish_manufacturer.name) %>
  </h3>
</div>

<%= render "form", finish_manufacturer: @finish_manufacturer, finish_categories: @finish_categories %>
