<% breadcrumb :finish_manufacturer_new %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "industry" %>
    <%= t(".title") %>
  </div>
</div>

<%= render "form", finish_manufacturer: @finish_manufacturer, finish_categories: @finish_categories %>
