<% breadcrumb :finish_manufacturer, @finish_manufacturer %>

<%= render @finish_manufacturer %>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), finish_manufacturers_path, class: "btn" %>
  </div>
</div>
