<div class="branded-body">
  <div class="main-container">
    <div class="notification-container">
      <div class="notification-list">
        <%= render "homeowners/components/notification_summary", collection: @notifications %>
      </div>

      <% if @notifications.any? %>
        <%= render "homeowners/components/notification" %>
      <% else %>
        <%= t(".none") %>
      <% end %>
    </div>
  </div>
</div>
