<div class="card article refer-article branded-border" style="background-image: url('<%= image_path "referral.jpg" %>')" >
  <div class="refer-overlay">
    <div class="card-content refer-summary">
      <p class="larger"><%= t(".refer_developer") %></p>
      <p><%= t(".refer_description") %></p>
      <div class="refer-button">
      <%= button_tag t(".refer"), class: "branded-btn-inverted refer-friend refer-resident",
      data: { cancel: t("edit.cancel"),
            cta: t(".send_invitation"),
            title: t(".refer_title")} %>
      </div>
    </div>
  </div>
</div>
