<div class="card article refer-article branded-border" style="background-image: url('<%= image_path "referral.jpg" %>')" >
  <div class="card-content refer-summary refer-overlay">
    <p class="refer-content">
      <p class="refer-description"><%= t(".refer_description") %></p>
    </p>
    <span class="refer-button">
    <%= button_tag t(".refer"), class: "branded-btn-inverted refer-friend refer-resident",
    data: { cancel: t("edit.cancel"),
          cta: t(".send_invitation"),
          title: t(".refer_title")} %>
    </span>
  </div>
</div>

