<% content_for :hero_text_primary do %>
  <%= t(".title") %>
<% end %>

<%= render "components/homeowner/hero" %>
<div class="branded-body">
  <div class="video-container">
    <% if @setting&.video_link? %>
      <%= render "homeowners/about_videos/video", setting: @setting %>
    <% end %>
  </div>
</div>
