<% breadcrumb :plot_documents, @parent %>

<%= render @parent, active_plots_count: @active_plots_count, completed_plots_count: @completed_plots_count,
    expired_plots_count: @expired_plots_count, resident_count: @resident_count,
    activated_resident_count: @activated_resident_count %>

<div class="section-actions">
  <% if can? :bulk_upload, @new_plot_document %>
    <%= render 'form', new_plot_document: @new_plot_document, parent: @parent, exclude: @exclude %>
  <% end %>
</div>

<%= render 'components/tabs', tabs: phase_tabs(@phase, @active_tab, current_user) %>

<%= render_collection @plot_documents, path: "plot_documents/collection", parent: @parent %>
