.global-settings {
  .global-option {
    padding: $spacing-small 0 $spacing-small 0;
  }

  .global-faqs, .global-partner-api {
    padding-top: $spacing-large;
  }

  p {
    margin: 0;
  }

  h4 {
    margin-bottom: $spacing-small;
  }
}
