$login-form-bg-color: $ui-white;
$login-title-left-color: $primary-green;
$login-title-right-color: $primary-red;

$maximum-logo-size: 400px;

.admin-login-view {
  background-color: $primary-background;

  @include media($tablet-landscape-down) {
    main {
      padding: 0;
      height: 100%;
    }

    .main-container {
      padding-top: 0;
      height: 100%;
    }
  }
}

.admin-login-panel {
  margin: 0 auto;
  width: 400px;

  .logo {
    margin: $spacing-large 15% $spacing-small;
  }
}

.admin-login-form {
  .logo {
    display: block;
    width: 70%;
    max-width: $maximum-logo-size;
    margin: $spacing-large auto $spacing-small;
  }

  form {
    margin-top: $spacing-large;
    background-color: $login-form-bg-color;
    border-radius: $border-radius;
    overflow: hidden;
    padding: $spacing-medium;
  }

  a {
    color: $primary-cta-color;
  }
}
