#charts {

  #selectors {
    background-color: blue;
  }

  #invite_activations {
    #invited, #activated, #overview {
      display: inline-block;
      width: 33%;
      height: 300px;
    }
  }

  #left, #right {
    display: inline-block;
    width: 49%;
    height: 300px;
  }

  #selectors {
    div {
      float: left;
      width: 25%;
      padding-left: 20px;
      padding-bottom: 20px;
      display: inline-block;
    }
  }
}
