#charts {
  #header {
    display: flex;

    .section-title {
      padding-top: 40px;
    }
  }

  #selectors {
    display: flex;
    flex-grow: 5;

    form {
      display: contents;
    }
  }

  #competitions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #invite_activations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    #invited, #activated, #overview {
      width: 32.5%;
      margin: 5px;
    }
  }

  #left, #right {
    display: inline-block;
    width: 49%;
    margin: 5px
  }

  #selectors {
    div {
      float: left;
      width: 25%;
      padding-left: 20px;
      padding-bottom: 20px;
      display: inline-block;
    }
  }
}
