.appliances .record-header {
  padding-right: $two-actions-width;
}

.appliance-manual {
  @include display(flex);
  @include flex-direction(row);

  span {
    width: 80%;
    display: inline-block;
  }
}

.manual-container {
  margin-bottom: 40px;
}

.manual-download {
  height: 30px;
  margin: 4px;
}

.manual {
  height: 90px;

  input {
    margin-bottom: 0;
  }

  a {
    float: right;
  }
}

.appliance_secondary_image {
  margin-top: $spacing-medium;
}
