.appliance {
  .remove-btn {
    margin-right: 0;
  }

  .file-upload {
    width: 90%;
    float: left;
  }

  .fa {
    font-size: $base-font-size;
  }

  .fa-trash-o {
    line-height: 2;
    margin: 4px;
  }

  .image-container {
    .remove-btn {
      display: block;
      float: right;
      margin-top: -35px;
    }
  }

  .name {
    .readonly {
      width: 100%;
      float: none;
    }
  }
}

.finish {
  .fa-trash-o {
    font-size: $base-font-size;
    line-height: 2;
  }
}

.manual-container {
  padding-top: $spacing-small;
}

.appliance_secondary_image {
  padding-top: $spacing-medium;
}

.appliance-manual, .appliance-guide {
  @include display(flex);
  @include flex-direction(row);

  span {
    width: 80%;
    display: inline-block;
  }
}

// FORM / EDIT / NEW
.manual-container, .guide-container {
  margin-bottom: 40px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.manual-download, .guide-download {
  height: 30px;
  margin: 4px;
}

// SHOW
.manual, .guide {
  margin-bottom: 45px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    margin-bottom: 0;
  }

  a {
    float: right;
  }
}

.search-appliance, .search-finish, .search-user {
  margin-top: 30px;

  input[type="text"] {
    display: inline-block;
    border-style: solid;
    padding-left: 38px;
    border-radius: 5px;
  }
}

.search-appliance-btn, .search-finish-btn, .search-user-btn {
  margin-top: -46px;
  margin-left: 2px;
  padding: $spacing-small;
  border: none;
  color: $primary-navy;

  &:hover {
    color: $ui-white;
    background-color: $primary-navy;
  }
}

.finish_manufacturer, .finish_type_finish_category {
  .select2-container {
    width: 100% !important;
  }
}

.appliance .guide-container {
  padding-top: 4px;
}

.appliance .appliance-actions {
  float: right;
  margin-top: -30px;
}

.appliance .appliance-edit .edit-label {
  padding-top: $spacing-medium;
}

.appliance .guide, .appliance .manual {
  padding-top: $spacing-small;
}

/* FINISHES */

.finish {
  .finish_name {
    padding-bottom: $spacing-medium;
  }

  .notes-disclaimer {
    font-size: $base-small-font-size;
    font-style: italic;
    padding-bottom: 5px;
    margin: 0;
  }

  .finish_category, .finish_type {
    span.required {
      z-index: 10;
      right: 10px;
      top: 40px;
    }
  }

  .category-disclaimer, .type-disclaimer, .manufacturer-disclaimer {
    padding-bottom: $spacing-small;

    p {
      display: inline-block;
      font-style: italic;
      font-size: $base-small-font-size;
      margin: 0;
    }

    i {
      display: inline-block;
      float: right;
      font-size: $title-font-size-4;
      margin-top: 2px;

      &:hover {
        cursor: pointer;
      }
    }

    .category-help, .type-help, .manufacturer-help {
      display: none;
      padding-top: $spacing-small;

      .help-description {
        font-style: normal;
      }
    }
  }
}

.finish_category,
.finish_type_finish_category,
.finish_manufacturer_finish_type,
.new_finish_room,
.new_appliance_room
 {
  .help {
    font-size: $base-small-font-size;
  }
}

.new_finish_room,
.new_appliance_room {
  label {
    color: $primary-navy;
  }
}

.new_appliance_room {
  .appliance_manufacturer {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
}

.new_finish_room {
  .finish_type {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .finish_manufacturer {
    padding-bottom: $spacing-small;
  }
}
