.appliance {
  .remove-btn {
    margin-right: 0;
  }

  .name {
    .readonly {
      width: 100%;
      float: none;
    }
  }
}

.appliance-manual, .appliance-guide {
  @include display(flex);
  @include flex-direction(row);

  span {
    width: 80%;
    display: inline-block;
  }
}

// FORM / EDIT / NEW
.manual-container, .guide-container {
  margin-bottom: 40px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.manual-download, .guide-download {
  height: 30px;
  margin: 4px;
}

// SHOW
.manual, .guide {
  margin-bottom: 45px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    margin-bottom: 0;
  }

  a {
    float: right;
  }
}
