.appliances .record-header {
  padding-right: $two-actions-width;
}

.appliance-manual {
  @include display(flex);
  @include flex-direction(row);

  span {
    width: 80%;
    display: inline-block;
  }
}

.manual-download {
  line-height: 35px;
  height: 41px;
}
