.appliance {
  .remove-btn {
    margin-right: 0;
  }

  .file-upload {
    width: 90%;
    float: left;
  }

  .fa {
    font-size: $base-font-size;
  }

  .fa-trash-o {
    line-height: 2;
    margin: 4px;
  }

  .image-container {
    .remove-btn {
      display: block;
      float: right;
      margin-top: -35px;
    }
  }

  .name {
    .readonly {
      width: 100%;
      float: none;
    }
  }
}

.manual-container {
  padding-top: $spacing-small;
}

.appliance_secondary_image {
  padding-top: $spacing-medium;
}

.appliance-manual, .appliance-guide {
  @include display(flex);
  @include flex-direction(row);

  span {
    width: 80%;
    display: inline-block;
  }
}

// FORM / EDIT / NEW
.manual-container, .guide-container {
  margin-bottom: 40px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.manual-download, .guide-download {
  height: 30px;
  margin: 4px;
}

// SHOW
.manual, .guide {
  margin-bottom: 45px;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    margin-bottom: 0;
  }

  a {
    float: right;
  }
}

.search-appliance, .search-finish {
  margin-top: 30px;

  input[type="text"] {
    display: inline-block;
    border-style: solid;
    padding-left: 38px;
    border-radius: 5px;
  }
}

.search-appliance-btn, .search-finish-btn {
  margin-top: -46px;
  margin-left: 2px;
  padding: $spacing-small;
  border: none;
  color: $primary-navy;

  &:hover {
    color: $ui-white;
    background-color: $primary-navy;
  }
}

.finish_manufacturer .select2-container {
  width: 100% !important;
}

.appliance .guide-container {
  padding-top: 4px;
}

.appliance .appliance-actions {
  float: right;
  margin-top: -30px;
}

.appliance .appliance-edit .edit-label {
  padding-top: $spacing-medium;
}

.appliance .guide, .appliance .manual {
  padding-top: $spacing-small;
}