.appliance .remove-btn {
  margin-right: 0;
}

.appliance-manual, .appliance-guide {
  @include display(flex);
  @include flex-direction(row);

  span {
    width: 80%;
    display: inline-block;
  }

}

// FORM / EDIT / NEW
.manual-container, .guide-container {
  margin-bottom: 40px;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
}

.manual-download, .guide-download {
  height: 30px;
  margin: 4px;
}

// SHOW
.manual, .guide {
  margin-bottom: 45px;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input {
    margin-bottom: 0;
  }

  a {
    float: right;
  }
}

.appliance_secondary_image {
  margin-top: $spacing-medium;
}
