$circle-size: 32px;
$darker-grey: #7a8585;

.color-circle {
   /*
   If user has selected a colour, it will over-ride the background-color here
   Otherwise, default the background colour to show nothing selected
   */
  width: $circle-size;
  height: $circle-size;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  border-width: 2px;
  float: left;
  margin-right: $spacing-medium;
  margin-top: -$spacing-medium;
  border-color: $darker-grey;
  background-color: $ui-light-grey;
}

.brand {
  span {
    font-size: 12px;
    color: $type-grey;
  }

  img {
    margin-top: $spacing-small;
  }
}

.color-stripe {
  /*
    If user has not selected a colour, draw a no-entry stripe
    The numbers here are very sensitive, once you've rotated 45 deg
    the effect of translation can be tricky (translating before
    rotation is even worse)
   */
  &:after {
    content: '';
    position: absolute;
    width: $circle-size - 1;
    height: 8px;
    background-color: $type-grey;
    transform: (rotate(45deg) translateX(6px) translateY(8px));
  }
}

.colors {
  label {
    display: inline-block;
    font-weight: normal;
  }

  border-collapse: separate;
  border-spacing: 8px;
}

.form-colors {
  span {
    float: right;
  }
}