$circle-size: 32px;
$darker-grey: #7a8585;

.color-circle {
   /*
   If user has selected a colour, it will over-ride the background-color here
   Otherwise, default the background colour to show nothing selected
   */
  width: $circle-size;
  height: $circle-size;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  border-width: 1px;
  float: left;
  margin-right: $spacing-small;
  margin-top: 4px;
  border-color: $semi-pale-navy;
  background-color: $ui-light-grey;
}

.brands {
  .fa-trash-o {
    font-size: $base-font-size;
    line-height: 2;
  }
}

.brand {
  span {
    font-size: $base-small-font-size;
    color: $type-grey;
    float: left;
    margin-top: $spacing-small;
  }

  img {
    margin-top: $spacing-small;
  }
}

.color-stripe {
  /*
    If user has not selected a colour, draw a no-entry stripe
    The numbers here are very sensitive, once you've rotated 45 deg
    the effect of translation can be tricky (translating before
    rotation is even worse)
   */
  &:after {
    content: '';
    position: absolute;
    width: $circle-size - 2;
    height: 8px;
    background-color: $semi-pale-navy;
    transform: (rotate(45deg) translateX(8px) translateY(8px));
  }
}

.colors {
  label {
    display: inline-block;
    font-weight: normal;
  }

  border-collapse: separate;
  border-spacing: 8px;
}

.form-colors {
  input {
    width: 80%;
  }

  .color-circle {
    float: right;
    margin-right: 0;
  }

  span {
    margin-top: $spacing-medium;
  }
}

.internal-colors {
  color: $primary-navy;
}

.external-colors {
  color: $primary-navy;
}

.logo-image {
  padding-bottom: $spacing-medium;
}

.banner-image {
  padding-bottom: $spacing-large * 3;
}

.login-image {
  padding-bottom: $spacing-medium;
}

.login-logo-image {
  padding-bottom: $spacing-medium;
}

.brand_logo {
  margin-bottom: $spacing-medium;
}

.brand_banner {
  margin-bottom: $spacing-medium;
}

.brand_login_logo {
  margin-bottom: $spacing-medium;
}

.brand_login_image {
  margin-bottom: $spacing-medium;
}

.brand_email_logo {
  margin-bottom: $spacing-large * 2;
}

.external_text_preview {
  label {
    margin-top: $spacing-medium;
  }
  span {
    margin-top: 0px;
  }
}

.branded-app-container {
  margin-top: $spacing-large;

  .image-container .required label {
    color: $primary-red;
  }

  .image-container .image_preview .required {
    color: $primary-navy;
  }
}

