.bulk-edit .row {
  margin-top: $spacing-large;

  .plot-field .input {
    width: 90%;
  }
}

.release-plots .row {
  margin-top: $spacing-large;
}

.plot-field {
  span.required {
    display: none;
  }

  .bulk-check, .input {
    display: inline-block;
  }

  .fix-checkbox {
    float: left;
    padding-top: 35px;
    padding-right: 5px;
  }

  .select {
    width: 180px;
  }

  .input {
    width: 100%;
    margin-bottom: 0;
  }

  .ui-selectmenu-button {
    margin-bottom: 10px;
  }

  .phase_bulk_edit_copy_plot_numbers {
    margin-bottom: $spacing-small;
  }
}

.plot-field .build-progress {
  margin-top: $spacing-medium;
}

.address-read-only .input, .address-read-only .input .readonly {
  margin-bottom: 0;
}

.current-progress {
  margin-top: $spacing-medium;

  .read-only {
    color: $semi-pale-navy;
  }
}