/* form */

.custom-tile {
  input, select {
    margin-bottom: $spacing-medium;
  }
  #documentSelector {
    margin-bottom: $spacing-medium - 2px;
  }

  input[type=checkbox] {
    margin-bottom: 0;
  }

  #guideSelector {
    margin-top: 0;
  }

  .fa-trash-o {
    font-size: $base-font-size;
    line-height: 2;
  }
}

#customTileContent {
  .image-container {
    margin-top: $spacing-large;

    .image-preview {
      max-height: 100px;
    }

    .file-upload {
      margin-bottom: 0;
    }
  }
}

#customTileDocument {
  #fileSelector {
    margin-top: $spacing-large;

    .file-upload {
      margin-bottom: 0;
    }
  }
}

/* preview */

#tilePreview {
  height: 230px;
  border: 1px solid $pale-navy;
  border-radius: 5px;
  background: none;

  .feature {
    position: relative;

    .tile-image {
      display: block;
      width: 30%;
      float: left;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px 0 0 5px;
      }

      .spaciable-buyers {
        height: 100%;
        width: 100%;
        background-color: $primary-navy;
        border-radius: 5px 0 0 5px;

        img {
          object-fit: contain;
          padding: 10px;
        }
      }
    }

    .img-tile-details {
      height: 100%;
      display: grid;
      grid-template-rows: 60% 40%;
      width: 70%;
      float: right;
      padding: $spacing-small;
    }

    .tile-full-image {
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .full-img-tile-details {
      position: absolute;
      bottom: 0;
      margin: 10px;
    }

    .tile-text {
      h2 {
        font-size: $title-font-size-4;
        padding-top: $spacing-medium;
        margin-bottom: $spacing-small;
      }

      .tile-description {
        font-size: $base-small-font-size;
      }
    }

    .tile-button {
      align-self: end;

      .branded-btn, a {
        line-height: $base-font-line-height;
        font-size: $base-font-size;
        width: 140px;
        text-align: center;
        padding: 0px 10px;
        color: $primary-red-left;
        background-color: $ui-white;
        border: 1px solid $primary-red-left;
        border-radius: 5px;
        text-decoration: none;

        &:hover {
          cursor: default;
        }
      }

      a.branded-btn {
        display: block;
      }
    }
  }

  #customTileIcon {
    display: grid;
    height: 100%;
    grid-template-rows: 20% 55% 25%;

    .icon {
      padding: $spacing-small;
      padding-top: $spacing-medium;

      i {
        font-size: $title-font-size-1;
        opacity: 0.5;
      }
    }

    .content {
      padding: $spacing-small;

      h2 {
        font-size: $title-font-size-4;
        padding-top: $spacing-medium;
        margin-bottom: $spacing-small;
      }

      p {
        font-size: $base-small-font-size;
      }
    }

    .button {
      padding: $spacing-small;
      align-self: end;

      .button-text {
        text-align: center;
        line-height: $base-font-line-height;
        font-size: $base-font-size;
        display: block;
        width: 130px;
        padding: 3px 10px;
        color: $primary-red-left;
        background-color: $ui-white;
        border: 1px solid $primary-red-left;
        border-radius: 5px;
        height: 30px;

        &:hover {
          cursor: default;
        }
      }
    }
  }

  #customTileImage {
    position: relative;

    .image {
      width: 30%;
    }

    .full-image {
      width: 100%;
    }

    .image, .full-image {
      display: block;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px 0 0 5px;
      }
    }

    .placeholder {
      background-color: $semi-pale-navy;
    }

    .content, .full-content {
      position: absolute;
      height: 100%;
      top: 0;
      padding: 10px;

      h2 {
        font-size: $title-font-size-4;
        padding-top: $spacing-medium;
        margin-bottom: $spacing-small;
      }

      p {
        font-size: $base-small-font-size;
      }

      .button {
        position: absolute;
        bottom: 0;
        margin-bottom: 10;

        .button-text {
          text-align: center;
          line-height: $base-font-line-height;
          font-size: $base-font-size;
          display: block;
          width: 130px;
          padding: 0px 10px;
          color: $primary-red-left;
          background-color: $ui-white;
          border: 1px solid $primary-red-left;
          border-radius: 5px;
          height: 24px;

          &:hover {
            cursor: default;
          }
        }
      }
    }

    .content {
      width: 70%;
      right: 0;
    }

    .full-content {
      width: 100%;
    }

  }
}

#appears {

  .with_help {
    margin-bottom: 12;

    label {
      display: inline;
      padding-left: unset;
    }
  }

  .spotlight-option {
    input {
      margin-bottom: 2;
    }

    label {
      display: inline;
      padding-left: 10;
    }

    p {
      margin: 10 0 10;
    }
  }

}

.spotlight_custom_tiles_appears_after_date {
  display: inline-block;
}

#CustomTileAppears [type='date'] {
  display: inline-block;
  width: 165;
}

.meta .category.half {
  margin-bottom: unset;
}

.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.shallow {
  margin-bottom: 12;
}

.dialog-image {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.post-move-option {
  margin-top: 15;
}

.spotlight_start, .spotlight_finish {
  display: inline;
}

