.tags {
  a {
    padding: 2px;
  }
  .tag-remove {
    margin-bottom: $spacing-small;
    padding: 2px;
  }
}

.how-to {
  .fa-trash-o {
    font-size: $base-font-size;
    line-height: 2;
  }
}

.how-to ul {
  margin-left: $spacing-medium;
}

.hide-box {
  margin-top: 5px;
  margin-right: 5px;
}

.how-to-image img {
  border-radius: 5px;
}