$login-form-bg-color: rgba($ui-white, 0.9);
$login-title-left-color: $primary-green;
$login-title-right-color: $primary-blue;

$maximum-logo-size: 400px;

.login-view {
  // background image property is set with an inline style on the element
  background-size: cover;

  @include media($tablet-landscape-down) {
    main {
      padding: 0;
      height: 100%;
    }

    .main-container {
      padding-top: 0;
      height: 100%;
    }

    form {
      margin-top: $spacing-large;
      padding: $spacing-medium;
      background-color: $ui-white;
      border-radius: $border-radius;
    }
  }


  @include media($tablet-landscape-up) {
    width: 65%;
    margin: 0 auto;
  }
}

.login-panel {
  @include display(flex);
  overflow: hidden;

  @include media($tablet-landscape-down) {
    @include flex-direction(column);
    height: 100%;
  }

  @include media($tablet-landscape-up) {
    @include flex-direction(row);
    border-radius: $border-radius;
  }

  background-color: $login-form-bg-color;
}

.login-form {
  @include flex(1);

  flex-basis: 1;
  padding: $spacing-medium;
  background-color: $primary-background;
  opacity: $base-opacity;

  .logo {
    display: block;
    width: 70%;
    max-width: $maximum-logo-size;
    margin: $spacing-large auto $spacing-small;
  }
}

.login-blurb {
  @include media($tablet-landscape-down) {
    display: none;
  }

  @include flex(2);
  flex-basis: 2;
  padding: ($spacing-large * 2);
}

.login-title {
  font-style: italic;
  font-weight: 200;

  .left {
    display: block;
    text-align: left;
    color: $login-title-left-color;
  }
  .right {
    display: block;
    text-align: right;
    color: $login-title-right-color;
  }
}
