.notifications .notification-recipient-level {
  strong {
    padding-right: $spacing-small;
  }
}

.send-to-role, .send-to-plot-filter {
  display: inline-block;
  vertical-align: top;
}

.send-to-plot-filter {
    width: 170px;
}

.notification_filters {

    hr {
      margin-top: 5px;
    }

    i {
      margin-top: 12px;
    }

    .plot-filters-help {
      margin-top: 20px;
      display: none;
    }
}

.confirm-send-all, .confirm-plots, .confirm-no-plots {
  span {
    font-weight: $semi-bold-font-weight;
  }
}
