.notifications .notification-recipient-level {
  strong {
    padding-right: $spacing-small;
  }
}

.send-to-role hr {
  margin-top: 5px;
}

.confirm-send-all, .confirm-plots, .confirm-no-plots {
  span {
    font-weight: $semi-bold-font-weight;
  }
}
