#premium_perks {
  .false {
    display: none;
  }
}

.coming-soon {
  color: $ui-white;
  font-weight: $semi-bold-font-weight;
}

.perks {
  width: 80%;

  .perks-description {
    text-align: center;
    margin-top: $spacing-large;
    .bold {
      font-weight: $bold-font-weight;
    }
    .perks-content {
      margin-bottom: $spacing-small;
    }
    .perks-half {
      text-align: left;
      padding: $spacing-medium;
    }
  }

  .perk-links {
    text-align: center;

    .btn {
      min-width: 200px;
      border-radius: 0;
      margin: $spacing-small;
    }
  }
}

.unbranded-perk {
  background: $primary-navy;
  background-size: 100%;
  background-repeat: no-repeat;
}

.branded-perk {
  background: none;
  background-size: cover;
}

.branded-perk {
  .perks-summary {
    padding-top: $spacing-medium + $spacing-small;
  }
}

.branded-explanation {
  margin-top: $spacing-small * 2;
  font-style: italic;
}

@include media($tablet-landscape-down) {
  .perks {
    .perks-description {
      .perks-half {
        padding: 0;
        text-align: center;
      }
    }
  }
}
