#premium_perks {
  .false {
    display: none;
  }
}

.coming-soon {
  color: $ui-white;
  font-weight: $semi-bold-font-weight;
}

.perks {
  width: 80%;

  .perks-description {
    text-align: center;
    margin-top: $spacing-large;
  }

  .perk-links {
    margin-top: $spacing-large;
    text-align: center;

    .btn {
      min-width: 200px;
      border-radius: 0;
      margin: $spacing-small;
    }
  }
}

.unbranded-perk {
  background: $primary-navy;
  background-size: 100%;
  background-repeat: no-repeat;
}

.branded-perk {
  background: none;
  background-size: cover;
}

.perks-summary {
  margin: 0% -2%;
  padding: $spacing-small;
  position: relative;

  .perks-content {
    height: 160px;
  }

  .perks-description {
    position: absolute;
    top: 40%;
    width: 98%;
    text-align: center;
    padding-right: $spacing-small;
  }

  .perks-button {
    position: absolute;
    right: $spacing-small;
    bottom: 0;
  }
}

.branded-perk {
  .perks-summary {
    padding-top: $spacing-medium + $spacing-small;
  }
}

.branded-explanation {
  margin-top: $spacing-small * 2;
  font-style: italic;
}
