.range-hint {
    display: block;
    margin: $spacing-medium 0;
}

.above-footer {
  width: 100%;
  float: left;
  position: fixed;
  bottom: 100px;
}

.plot-progress .row-item {
  margin-top: $spacing-large;
}

.plot-completion .row-item {
  margin-top: $spacing-large;
}

.plot-completion .btn-form-submit {
  margin-top: $spacing-medium;
  float: right;
}