.plot_documents.row {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}

.plot_documents .row-item {
  text-align: left;
}

.plot_documents .hint {
  background: none;
}

.plot_documents .record-list-item-content .ui-selectmenu-button span.ui-selectmenu-text {
    line-height: 0.8;
}

.plot_documents {
  .edit_document {
    width: 100%;
  }

  .notify {
    label {
      @include span-columns(11 of 12);
      font-weight: normal;
      display: inline-block;
      font-size: $base-small-font-size;
    }

    input {
      @include span-columns(1 of 12);
      float: right;
      margin-top: $spacing-small;
    }
  }
}

.document-file {
  height: 38px;
}