.circle {
  border: 1px solid $type-grey;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 14px;
  display: inline-block;
}

.green {
  background-color: $primary-green;
}

.red {
  background-color: $primary-red-left;
}

.orange {
  background-color: $primary-orange;
}


.date {
  margin: 0 8px;
}
