.developers .record-header {
  padding-right: $two-actions-two-tabs-width;
}

.divisions .record-header {
  padding-right: $two-actions-one-tab-width;
}

.developments .record-header {
  padding-right: $two-actions-three-tabs-width;
}

.phases .record-header {
  padding-right: $two-actions-one-tab-width;
}

.plots .record-header {
  padding-right: $two-actions-width;
}

.rooms .record-header {
  padding-right: $two-actions-width;
}

.contacts .record-header {
  padding-right: $two-actions-width;
}

.brands .record-header {
  padding-right: $two-actions-width;
}
