.report-buttons {
  .btn {
    margin-top: 30px;
  }
}

.report-date {
  span.required {
    display: none;
  }

  .ui-selectmenu-button {
    display: inline-block;
    margin-top: 10px;
    width: 120px !important;
  }
}
