.report-buttons {
  .btn {
    margin-top: 30px;
  }
}

.report-date {
  span.required {
    display: none;
  }

  .date-field {
    margin-bottom: $spacing-medium;
  }

  .date {
    margin-left: 0;
  }

  .ui-selectmenu-button {
    display: inline-block;
    margin-top: 10px;
    width: 120px !important;
  }
}

.report-description {
  margin-top: $spacing-medium;
  .date-ranges, .plot-types {
    width: 80%;
  }
  .bold {
    font-weight: $bold-font-weight;
  }
}
