.room-icon {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-top: $spacing-small;
}

.unit-type {
  .fa-trash-o {
    font-size: $base-font-size;
    line-height: 2;
  }
}
