.circle-large {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-bottom: 5px;
}

.circle-small {
  border: 1px solid $type-grey;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 14px;
  display: inline-block;
}

.green {
  background-color: $primary-green;
}

.red {
  background-color: $type-red;
}

.amber {
  background-color: $secondary-orange;
}

.row-item {
  .status-explanation {
    font-size: 12px;
    margin-bottom: 5px;
  }
}