.user .skip-global-selectmenu select {
  display: none;
}

.user, .contact {
  .fa-trash-o {
    font-size: $base-font-size;
    line-height: 2;
  }
}

.search {

  .user-search {
    height: 110px;
  }

  .admin-filter {
    padding-top: $spacing-small;
  }

  .search-container {
    width: 100%;

    label {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  label {
    color: $primary-navy;
  }

  .admin-filter-selections {
    display: none;
    padding-top: $spacing-small;
  }

  .collapse {
    width: 100%;
    text-align: right;
    height: 20px;

    .fa {
      font-size: 32px;
      color: $primary-navy;

      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }
}