
<div class="plot-completion">
  <%= simple_form_for plot, url: plot_path(plot), html: { method: :put } do |f| %>
    <div class="row">
      <div class="row-item half">
        <div class="plot_progress ui-front select-container">
          <label><%= t(".title") %></label>
          <%= f.input :completion_date, as: :string,
                    placeholder: "DD/MM/YYYY",
                    input_html: { type: :date }, label: false %>
        </div>
      </div>
    </div>

    <div class="above-footer">
      <%= f.submit t("edit.submit"), class: "btn-form-submit btn-primary" %>
    </div>
  <% end %>
</div>
