<% breadcrumb :plot_edit, @plot %>

<div class="section-header with-tabs">
  <div class="section-title">
    <div class="plot-title"><span><%= t(".title", plot_name: @plot.to_s) %></span></div>
    <% if @plot&.persisted? && @plot&.completion_release_date %>
      <div class="expiry-field">
        <label><%= t(".expiry_date") %></label>
        <span><%= @plot&.expiry_date&.strftime("%d %B %Y") %></span>
      </div>
    <% end %>
  </div>
</div>

<%= render 'form', plots: @plots, parent: nil, unit_types: @plot.parent.unit_types, plot: @plot, progress_id: @progress_id %>
