<% breadcrumb :plot_edit, @plot %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title", plot_name: @plot.to_s) %>
  </h3>
</div>

<%= render 'form', plots: @plots, parent: nil, unit_types: @plot.parent.unit_types, plot: @plot %>
