<% breadcrumb :plot_new, @parent %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title", parent: @parent) %>
  </h3>
</div>

<%= render 'form', plot: @plot, parent: @parent %>
