<% breadcrumb :plot_new, @plot %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title", parent: @parent) %>
  </div>
</div>

<%= render 'form', plots: @plots, parent: @parent, unit_types: @parent.unit_types, plot: @plot, progress_id: @progress_id %>
