<% breadcrumb :plot_new, @development %>

<div class="row">
  <div class="row-item">
    <div class="section-header">
      <h3 class="section-title">
        <%= fa_icon "vcard" %>
        <%= t(".title") %>
      </h3>
    </div>
  </div>
</div>

<%= render 'form', plot: @plot, development: @development %>
