<% breadcrumb :plot_new, @plot %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title", parent: @parent) %>
  </h3>
</div>

<%= render 'form', plots: @plots, parent: @parent, unit_types: @parent.unit_types %>
