<% breadcrumb :plot_edit, @plot %>

<div class="row">
  <div class="row-item">
    <div class="section-header">
      <h3 class="section-title">
        <%= fa_icon "vcard" %>
        <%= t(".title", plot_name: @plot.to_s) %>
      </h3>
    </div>
  </div>
</div>


<%= render 'plots/form', plot: @plot, parent: @phase %>
