<div class="row">
  <div class="notifications">
    <%= render "admin/dashboard/components/recent_notifications", notifications: @notifications %>
  </div>
</div>
<div class="row">
  <div class="half documents">
    <%= render "admin/dashboard/components/recent_documents", documents: @documents %>
  </div>
  <div class="half faqs">
    <%= render "admin/dashboard/components/recent_faqs", faqs: @faqs %>
  </div>
</div>

<div id="browserSupport">
  <%= render "components/browser_support" %>
</div>