<div class="row">
  <div>
    <%= render "admin/dashboard/components/recent_notifications" %>
  </div>
</div>
<div class="row">
  <div class="half">
    <%= render "admin/dashboard/components/recent_documents" %>
  </div>
  <div class="half">
    <%= render "admin/dashboard/components/recent_faqs" %>
  </div>
</div>
