<% content_for :hero_text_primary do %>
  <%= t('.title') %>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="branded-body">
  <div class="outer-container perks">
    <%= render "homeowners/perks/#{params[:type]}", plot: @plot %>
  </div>
</div>
