<% breadcrumb :branded_apps, @parent %>

<div class="branded-app-index">
  <%= render @parent, active_plots_count: @active_plots_count, completed_plots_count: @completed_plots_count,
  expired_plots_count: @expired_plots_count, resident_count: @resident_count,
  activated_resident_count: @activated_resident_count, phase: @parent %>

  <%= render 'components/tabs', tabs: tabs_for(@parent, "branded_apps"), parent: @parent %>
</div>

<%= render 'form', branded_app: @branded_app %>
