files:
  "/etc/nginx/conf.d/webapp_healthd.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # This file mostly duplicates the default webapp_healthd.conf,
      # which is found in /opt/elasticbeanstalk/support/conf/webapp_healthd.conf
      # The changes are:
      #   the http -> https redirect processing highlighted below
      #   the log_format file name which must not duplicate the file name in webapp_healthd.conf

      upstream my_app {
        server unix:///var/run/puma/my_app.sock;
        keepalive 16; #to avoid download timeouts
      }

      log_format healthd_two '$msec"$uri"'
                    '$status"$request_time"$upstream_response_time"'
                    '$http_x_forwarded_for';

      server {
        listen 80;
        server_name _ localhost; # need to listen to localhost for worker tier

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        # Custom redirect code, make sure the healthcheck is not redirected to https
        if ($http_x_forwarded_proto != "https") {
          set $redirect 1;
        }
        if ($http_user_agent ~* "ELB-HealthChecker") {
          set $redirect 0;
        }
        if ($redirect = 1) {
          return 308 https://$host$request_uri;
        }
        # End of custom redirect

        access_log  /var/log/nginx/access.log  main;
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd_two;

        location / {
          proxy_pass http://my_app; # match the name of upstream directive which is defined above
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_http_version 1.1; #needed for keepalive in upstream above
          proxy_set_header Connection ""; #needed for keepalive in upstream above
        }

        location /assets {
          alias /var/app/current/public/assets;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }

        location /public {
          alias /var/app/current/public;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }
      }
