files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/95_upgradegs.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /tmp
      wget https://github.com/ArtifexSoftware/ghostpdl-downloads/releases/download/gs923/ghostscript-9.23.tar.gz
      tar -zxvf ghostscript-9.23.tar.gz
      cd /tmp/ghostscript-9.23
      ./configure --prefix=/usr  --enable-dynamic   --disable-compile-inits --with-system-libtiff
      make
      make so
      make install
      make soinstall && install -v -m644 base/*.h /usr/include/ghostscript && ln -v -s ghostscript /usr/include/ps
      ln -sfv /tmp/ghostscript/9.23/doc /usr/share/doc/ghostscript-9.23
      cd /tmp
      wget -O ghostscript-fonts-std-8.11.tar.gz http://sourceforge.net/projects/gs-fonts/files/latest/download?source=files
      tar -xvf ghostscript-fonts-std-8.11.tar.gz -C /usr/share/ghostscript
      fc-cache -v /usr/share/ghostscript/fonts/
      ghostscript -v
