files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
       10 0 * * * /bin/bash -l -c 'cd /var/app/current && bundle exec bin/rails runner -e production '\''Plot.notify_expiry_plots'\'''
       15 0 * * * /bin/bash -l -c 'cd /var/app/current && bundle exec bin/rails runner -e production '\''Resident.notify_expiry'\'''
       0 3 * * * /bin/bash -l -c 'cd /var/app/current && bundle exec bin/rails runner -e production '\''Referral.delete_28_days_old'\'''
       0 2 * * * /bin/bash -l -c 'cd /var/app/current && bundle exec bin/rails runner -e production '\''Vaboo.check_expired_premium'\'''
       0 8 * * 1 /bin/bash -l -c 'cd /var/app/current && bundle exec bin/rails runner -e production '\''Invitation.resident_invitation_summary'\'''
       0 0 1 * * /bin/bash -l -c 'cd /var/app/current && bundle exec bin/rails runner -e production '\''Package.invoice_developers'\'''
