<!--<% breadcrumb :plot, @plot %>-->

<div class="">
  <div class="section-header">
    <%= render @plot %>
  </div>

  <%= render 'components/tabs', tabs: plot_tabs(@plot, @active_tab, current_user), parent: @plot.unit_type %>
  <%= render "components/choices", plot: @plot, room_item_choices: @room_item_choices, choices: @choices, postback_path: plot_choices_path, status: @status, fullhouse: @full_house, rooms: @rooms, resident: false %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@plot.parent.parent, @plot.parent, active_tab: :plots], class: "btn" %>
    </div>
  </div>
</div>