<% breadcrumb :development_calendar, @development %>

<div class="development">

  <%= render '/developments/development', development: @development %>
  <%= render 'components/tabs', tabs: development_tabs(@development, t("developments.collection.calendar")), parent: @developer %>
  <%= render "calendar/events", source: @development, preload: @preload %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t("back"), [@development.developer, active_tab: :developments], class: "btn" %>
    </div>
  </div>

</div>

