<%= image_tag("Spaciable_full.svg", style: "display: block;width:120px;margin: 10px auto;padding-bottom: 20px;") %>

<p>Hello <%= @resource.first_name %>,</p>

<p>Someone has requested a password reset. You can do this through the link below.</p>

<p style="text-align: center;">
  <%= link_to "<button style='cursor: pointer; border-style: solid;border-width: 1px;border-radius: 5px;color: #002A3A;border-color: #002A3A;background-color: #FFFFFF;padding: 5px 30px;font-size: 14px;line-height: 22px;margin-top: 20px;'>Change Password</button>".html_safe, resident_edit_password_route(@resource, @token)%>
</p>
<br/>

<p>Your password won't change until you access the link above and create a new one.</p>

<p style="font-style: italic;">If you didn't request this, please ignore this email.</p>

