<div class="section-header">
  <div class="section-title">
    <div>
      <%= choice_configuration.name %><br>
    </div>
  </div>

  <div class="section-data">
    <%= render 'address/address', address: choice_configuration.development.address %>
    <span class="right">
      <%= edit_btn [:edit, choice_configuration.development, choice_configuration], element: choice_configuration %>
    </span>
  </div>
</div>
