<% breadcrumb :choice_configurations, @development %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render_collection @choice_configurations, parent: @development %>