<% breadcrumb :choice_configuration, @choice_configuration %>

<div class="choice_configuration">
  <%= render "choice_configurations/choice_configuration", choice_configuration: @choice_configuration %>
  <%= render_collection @collection, parent: @choice_configuration %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), ((@choice_configuration&.division) ? (division_development_path(division_id: @choice_configuration.division.id, id: @choice_configuration.development.id, active_tab: :choice_configurations)) : (developer_development_path(developer_id: @choice_configuration.developer.id, id: @choice_configuration.development.id, active_tab: :choice_configurations))), class: "btn" %>
    </div>
  </div>
</div>
