<% content_for :hero_text_secondary do %>
  <ul class="hero-links">

    <% @categories.each do |cat| %>
      <% if @contacts_for.key? cat %>
        <li>
            <%= link_to t_enum(Contact, :category, cat),
              homeowner_contacts_path(cat),
              class: ("active" if @category == cat) %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= render "components/homeowner/hero" %>


<div class="branded-body outer-container">
  <div class="check-faqs branded-text">
    <span><%= t(".check_faqs", link: link_to(Faq.model_name.human.pluralize, homeowner_faqs_path)).html_safe %></span>
  </div>
  <div class="full-contacts">
      <% @contacts.each_with_index do | contact, index | %>
        <%= render "homeowners/components/contact", contact: contact %>
      <% end %>
    </div>
  </div>
</div>
