<% breadcrumb :build_sequence, @parent %>

<% unless @back || @parent.is_a?(Global) %>
  <% if current_user.cf_admin? || !all_phases_free?(@parent) %>
    <%= render "components/admin/help", title: t(".help_title"), preference: :show_build_progress_dialog, help: [t(".help", level: @parent.sequence_in_use.sequence_name)], warn: true %>
  <% elsif !current_user.cf_admin? && all_phases_free?(@parent) %>
    <%= render "components/admin/popup", title: t(".restricted.title"), preference: :show_build_progress_restriction_dialog, help: [t(".restricted.help.")], warn: true %>
  <% end %>
<% end %>

<div class="build_sequence">
  <%= render_collection @build_sequence.build_steps, parent: @parent %>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t("back"), :back , class: "btn" %>
  </div>
</div>
