<div class="snag-comment">
  <span class="commenter"><%= snag_comment.commenter_name %></span>
  <span class="comment-date"><%= snag_comment.created_at.strftime("%d %B %Y, %H:%M") %></span><br/>
  <span class="content"><%= snag_comment.content %></span><br/>
  <% if snag_comment.image? %>
  <span class="comment-image"><%= image_tag snag_comment.image %></span>
  <% end %>
</div>
