<% breadcrumb :admin_admin_notifications_new %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render 'form', admin_notification: @admin_notification %>
