<% breadcrumb :division_edit, @division %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", division_name: @division.division_name) %>
  </div>
</div>

<%= render 'form', developer: @developer, division: @division %>
