<% breadcrumb :developer_division_edit, @division, @developer %>

<h1><%= t("views.edit_name", name: @division.division_name) %></h1>

<%= render 'form', developer: @developer, division: @division %>
