<% breadcrumb :developer_divisions, @developer %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-building"></i>
    <%= t(".title") %>
  </h3>
</div>

<%= render_collection @divisions, parent: @developer %>
