<% breadcrumb :division_new, @developer %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render 'form', developer: @developer, division: @division %>
