<div class="section-header">
  <div class="section-title">
    <div><%= finish_category.name %></div>
  </div>

  <div class="section-data">
    <span class="right">
      <%= edit_btn edit_finish_category_path, element: finish_category %>
    </span>
  </div>
</div>

<div class="row finish_category">
  <div class="row-item third">
    <label><%= t(".types") %></label>
    <% finish_category.finish_types.each do | finish_type | %>
        <span><%= finish_type %></span><br>
    <% end %>
  </div>
</div>
