<% breadcrumb :finish_categories %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render 'components/tabs', tabs: finish_tabs(nil, @active_tab, current_user.developer) %>
<%= render_collection @finish_categories %>
