<% breadcrumb :finish_category_new %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "folder" %>
    <%= t(".title") %>
  </h3>
</div>

<%= render 'form', finish_category: @finish_category %>
