<% breadcrumb :video_edit, @video %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", name: @video.title) %>
  </div>
</div>

<%= render 'form', video: @video, parent: nil %>
