<% breadcrumb :developments, @developer %>

<div class="section-header">
  <h3 class="section-title">
    <%= t(".title", developer_name: @developer.company_name) %>
  </h3>
</div>

<%= render_collection @developments, parent: @developer %>
