<% breadcrumb :development_new, @developer %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title") %>
  </h3>
</div>

<%= render 'developments/form', parent: @developer, development: @development %>
