<% breadcrumb :development_new, @developer %>

<h1><%= t("views.add_type", type: Development.model_name.human) %></h1>

<%= render 'developments/form', parent: @developer, development: @development %>
