<% breadcrumb :finish_edit, @finish %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", name: @finish.name) %>
  </div>
</div>

<%= render 'form', room: @room, finish: @finish %>
