<% breadcrumb :finish_new, @room %>

<div class="row">
  <div class="row-item">
    <div class="section-header">
      <h3 class="section-title">
        <%= fa_icon "shower" %>
        <%= t(".title") %>
      </h3>
    </div>
  </div>
</div>

<%= render 'form', room: @room, finish: @finish %>
