<% if developer.account_manager_name? %>
  <span class="account-manager">
    <strong><%= t(".title") %></strong><br/><br/>
    <%= developer.account_manager_name %><br/>
    <%= developer.account_manager_contact %><br/>
    <%= developer.account_manager_email %><br/>
  </span>
<% end %>
