<div>
  <div class=" ui-front select-container plot-field">
    <div class="plot-field build-progress">
      <label><%= t(".update_progress") %></label>
      <%= f.input :build_step_id, as: :select, collection: all_progress_collection(plot), label: false, include_blank: false  %>
    </div>
  </div>
</div>
<div>
  <%= f.input :completion_date, as: :string, label: t(".comp_date"),
  placeholder: "DD/MM/YYYY",
  input_html: { type: :date, :value => f.object&.completion_date&.html} %>
</div>
