<% breadcrumb :contact_edit, @contact %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", name: @contact) %>
  </div>
</div>

<%= render 'form', contact: @contact, parent: nil %>
