<% breadcrumb :contact_edit, @contact %>

<div class="section-header">
  <div class="section-title">
    <%= @contact&.title&.titleize %> <%= @contact %>
  </div>
</div>

<%= render 'form', contact: @contact, parent: nil %>
