<% breadcrumb :contacts %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title") %>
  </h3>
</div>

<%= render_collection @contacts, parent: nil %>
