<% breadcrumb :contact_new, @parent %>

<div class="section-header">
  <div class="section-title">
    <% if @parent.partially_expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="partial-expired-text"><%= t(".expired", parent: @parent) %></span></div>
    <% end %>
    <%= fa_icon "vcard" %>
    <%= t(".title", name: @parent) %>
  </div>
</div>

<%= render 'form', contact: @contact, parent: @parent %>
