<% breadcrumb :contact_new, @parent %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title", name: @parent) %>
  </div>
</div>

<%= render 'form', contact: @contact, parent: @parent %>
