<div class="section-header">
  <h3 class="section-title">
    <%= development.name %><br>
  </h3>

  <div class="section-data">
    <%= render 'address/address', address: development.address %>
    <%= render 'components/contacts', contact: development %>
    <%= edit_btn [:edit, development.parent, development] %>
  </div>
</div>
