<% breadcrumb :document_edit, @document %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", name: @document.title) %>
  </div>
</div>

<%= render 'form', document: @document, parent: nil, doc_parent: @parent, redirect_path: @redirect_path %>
