<% breadcrumb :document_edit, @document %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "file-pdf-o" %>
    <%= t(".title", name: @document.title) %>
  </h3>
</div>

<%= render 'form', document: @document, parent: nil %>
