<% breadcrumb :documents %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-pdf-o"></i>
    <%= t(".title") %>
  </h3>
  <span><b>Note:</b> To upload new documents, go to the model you want to add them to, for example developer</span>
</div>

<%= render_collection @documents, parent: nil %>
