<% breadcrumb :documents %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-pdf-o"></i>
    <%= t(".title") %>
  </h3>
  <div class="section-data">
    <span><%= t(".load_helper") %></span>
  </div>
</div>

<%= render_collection @documents, parent: nil %>
