<% breadcrumb :room_edit, @room %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title", room_name: @room.name) %>
  </div>
</div>

<%= render 'rooms/form', room: @room, parent: @plot %>
