<% breadcrumb :phase_timeline_edit, @phase %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render 'form', phase: @phase, phase_timeline: @phase_timeline, timelines: @timelines, plots: @plots %>
