<div class="faq-categories">
  <h2 class="branded-text"><%= t(".categories") %></h2>

  <ul class="categories">
    <% categories.each do |category| %>
      <li class="category">
        <%= link_to homeowner_faqs_path(faq_type, category), class: ('active' if category == faq_category) do %>
          <%= category.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
