<div class="footer branded-content">
  <span class="copyright"><%= t(".copyright", year: Time.current.year).html_safe %> <%= link_to t(".privacy"), data_policy_path, class: "branded-primary" %></span>
</div>

