<header>
  <% if current_resident.present? && !session[:onboarding] %>
    <%= render "components/homeowner/welcome", unread_count: unread_count, plots: plots %>
  <% end %>

  <% if plot.present? %>
    <nav class="main-navigation">
      <div class="nav-inner">
        <div class="logo branded-logo">
          <%= link_to image_tag(brand_or_red_logo(brand, plot)), homeowner_dashboard_path %>
        </div>
        <div class="navigation">
          <!-- pass the country to the navigation -->
          <% unless session[:onboarding] %>
            <%= render "components/homeowner/navigation", plot: plot, country: country %>
          <% end %>
        </div>
      </div>
    </nav>
  <% end %>
</header>
