<header>
  <% if current_resident.present? %>
    <%= render "components/homeowner/welcome", unread_count: unread_count %>
  <% end %>

  <nav class="main-navigation">
    <div class="nav-inner">
      <div class="logo branded-logo">
        <%= link_to image_tag(brand&.branded_logo ? brand.branded_logo : "hoozzi-logo-primary.svg"), homeowner_dashboard_path %>
      </div>
      <div class="navigation">
        <%= render "components/homeowner/navigation", plot: plot %>
      </div>
    </div>
  </nav>
</header>
