<header>
  <div class="session">
    <div class="session-inner">
      <div class="user">
        <span><%= t('.hi', first_name: current_resident.first_name) %></span>
        <img src="https://tinyurl.com/zvl8hxo">
        <%= link_to t("users.sign_out"), destroy_resident_session_path, method: :delete %>

      </div>
    </div>
  </div>
  <nav>
    <div class="nav-inner">
      <div class="logo branded-logo">
        <%= link_to image_tag(brand.branded_logo.present? ? brand.branded_logo : "logo.png"), homeowner_dashboard_path %>
      </div>
      <div class="navigation">
        <%= render "components/homeowner/navigation" %>
      </div>
    </div>
  </nav>
</header>
