<div class="branded-hero">
  <div class="filter-hero">
    <div class="hero-text">
      <% if content_for?(:hero_text_secondary) %>
          <p class="secondary"><%= yield(:hero_text_secondary) %></p>
      <% end %>
    </div>
  </div>
</div>
