<div class="quick-links">
  <div class="dashboard-link">
    <%= link_to dashboard_path, class: "branded-btn-inverted" do %>
    <span class="dashboard-link"><i class="fa fa-home"></i> <span class="text"> <%= t(".dashboard") %></span></span>
    <% end %>
  </div>
</div>
