<div class="navbar">
  <label class="navbar-trigger-label" for="navbar-trigger">
    <%= fa_icon "bars" %>
  </label>
  <input id="navbar-trigger" type="checkbox">
  <nav class="navbar-menu">
    <ul>
      <li class="navbar-item">
        <%= link_to t("layouts.homeowner.nav.my_home"), homeowner_my_home_path, class: "navbar-link" %>
      </li>
      <li class="navbar-item"><a href="">How To</a></li>
      <li class="navbar-item"><a href="">Contacts</a></li>
    </ul>
  </nav>
</div>
