<div class="navbar">
  <label class="navbar-trigger-label" for="navbar-trigger">
    <%= fa_icon "bars" %>
  </label>
  <input id="navbar-trigger" type="checkbox">
  <nav class="navbar-menu">
    <ul>
      <li class="navbar-item">
        <%= link_to t("layouts.homeowner.nav.my_home"), homeowner_my_home_path, class: "navbar-link branded-primary" %>
      </li>
      <li class="navbar-item branded-primary">
        <%= link_to t("layouts.homeowner.nav.how_to"), homeowner_my_home_path, class: "navbar-link branded-primary" %>
      </li>
      <li class="navbar-item branded-primary">
        <%= link_to t("layouts.homeowner.nav.contacts"), homeowner_contacts_path, class: "navbar-link branded-primary" %>
      </li>
    </ul>
  </nav>
</div>
