<nav class="sub-navigation-container">
  <div class="nav-inner">
    <ul>











      <% if plot.choices?(current_resident) && !plot.choices_approved? %>
        <%= link_to homeowners_choices_path, active_tab: "choices",
                    class: "branded-primary #{'active' if active_tab == 'choices' }" do %>
            <li class="navbar-item navbar-item-secondary"><%= t(".choices") %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>
