

      <% if plots.count > 1 %>
        <span>|</span>

        <span class="my-plots"><%= t(".my_plots") %></span>
      <% end %>
      <span>|</span>


    <div class="plot-list hidden">
      <% plots.each do |plot| %>
        <%= render "homeowners/components/plot", plot: plot %>
      <% end %>
    </div>

