<% breadcrumb :appliance_manufacturers %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render 'components/tabs', tabs: appliance_tabs(nil, "appliance_manufacturers") %>
<%= render_collection @appliance_manufacturers %>
