<% breadcrumb :appliance_manufacturer_new %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<%= render "form", appliance_manufacturer: @appliance_manufacturer %>
