<% breadcrumb :appliance_manufacturer, @appliance_manufacturer %>

<%= render @appliance_manufacturer %>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), appliance_manufacturers_path, class: "btn" %>
  </div>
</div>
