<% content_for :hero_text_primary do %>
  <%= t(".title") %>
<% end %>

<%= render "components/homeowner/hero" %>

<%= render "components/homeowner/sub_menu", active_tab: "about", plot: @plot %>

<div class="branded-body">
  <% if @plot.unit_type.external_link? %>
    <div class="about-section">
      <iframe src=<%= @plot.external_link %> frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>
</div>
