<div class="tile-image">
  <%= image_tag "tile_area_guide.png" %>
</div>
<div class="img-tile-details area-guide-summary">
  <div class="tile-text">
    <h2 class="tile-title branded-text"><%= t(".title") %></h2>
    <p class="tile-description branded-text"><%= t(".description") %></p>
  </div>
  <div class="tile-button">
    <%= link_to t(".button"), area_guide_url, target: "_blank", class: "branded-btn" %>
  </div>
</div>
