<div class="tile-full-image">
    <%= image_tag image_url("tile_timeline.png") %>
</div>
<div class="full-img-tile-details timeline-summary">
  <div class="tile-button">
    <% if defined?(preview) && preview %>
      <%= link_to t(".button"), homeowner_timeline_path(0), class: "branded-btn" %>
    <% else %>
      <%= link_to t(".button"), (defined?(plot) && plot.respond_to?(:journey) ? homeowner_timeline_path(plot&.journey) : nil), class: "branded-btn" %>
    <% end %>
  </div>
</div>
