<%= render "components/homeowner/brand_template", brand: @brand %>

<div class="library">
  <%= render "components/homeowner/sub_header", active_tab: "library", plot: @plot %>
</div>

<div class="branded-body">
  <div class="main-container documents branded-background">
    <div class="row">
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>My Homeowner's Manual</h2>
        <p>Homeowner's Manual</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>New Homes Policy Document</h2>
        <p>Insurance &amp; Warranty</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>Homeowner's Insurance Policy</h2>
        <p>Insurance &amp; Warranty</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>Your DIY Home Energy Checklist</h2>
        <p>Insurance &amp; Warranty</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>My Homeowner's Manual</h2>
        <p>Homeowner's Manual</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>New Homes Policy Document</h2>
        <p>Insurance &amp; Warranty</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>My Homeowner's Manual</h2>
        <p>Homeowner's Manual</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>New Homes Policy Document</h2>
        <p>Insurance &amp; Warranty</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>Homeowner's Insurance Policy</h2>
        <p>Insurance &amp; Warranty</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>Your DIY Home Energy Checklist</h2>
        <p>Insurance &amp; Warranty</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>My Homeowner's Manual</h2>
        <p>Homeowner's Manual</p>
      </div>
      <div class="sixth document">
        <img src="https://tinyurl.com/z5qyo49">
        <h2>New Homes Policy Document</h2>
        <p>Insurance &amp; Warranty</p>
      </div>
    </div>
  </div>
</div>

