<% breadcrumb :unit_types, @development %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", development_name: @development.name) %>
  </div>
</div>

<%= render_collection @unit_types, parent: @development %>
