<% breadcrumb :unit_type_new, @development %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".add", development_name: @development.name) %>
  </div>
</div>

<%= render 'form', unit_type: @unit_type %>
