<% breadcrumb :resident_edit, @resident, @plot %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "user" %>
    <%= t(".title", name: @resident) %>
  </div>
</div>

<%= render 'form', resident: @resident, plot: @plot, :locals => {:role => @plot_residency.role} %>
