<% breadcrumb :resident_add, @plot %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "user" %>
    <%= t(".title", plot: @plot) %>
  </div>
</div>

<%= render 'form', resident: @resident, plot: @plot, :locals => {role: :homeowner} %>



