<div class="section-header">
  <div class="section-title">
    <div>
      <%= room_configuration.name %><br>
    </div>
  </div>

  <div class="section-data">
    <span class="right">
      <%= edit_btn [:edit, choice_configuration, room_configuration], element: room_configuration %>
    </span>
  </div>

</div>
