<% breadcrumb :room_edit, @room %>

<div class="row">
  <div class="row-item">
    <div class="section-header">
      <h3 class="section-title">
        <%= fa_icon "vcard" %>
        <%= t(".title", room_name: @room.name) %>
      </h3>
    </div>
  </div>
</div>

<%= render 'form', room: @room, development: @development, unit_type: @unit_type %>
