<% breadcrumb :room_edit, @room %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", room_name: @room.name) %>
  </div>
</div>

<%= render 'form', room: @room, parent: @unit_type %>
