<% breadcrumb :rooms, @unit_type %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-building"></i>
      <%= t(".title", unit_type_name: @unit_type) %>
  </h3>
</div>

<%= render_collection @rooms, parent: @unit_type %>
