<% breadcrumb :rooms, @parent %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", parent_name: @parent) %>
  </div>
</div>

<%= render 'components/tabs', tabs: unit_type_tabs(@unit_type, "rooms") %>

<%= render_collection @rooms, parent: @parent %>
