<% breadcrumb :room_new, @parent %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <% t(".add", parent_name: @parent) %>
  </div>
</div>

<%= render 'form', room: @room, parent: @parent %>
