<% breadcrumb :admin_settings %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %><br>
  </div>
  <div class="section-data">
    <%= edit_btn edit_admin_settings_path, element: @setting %>
  </div>
</div>

<div class="row configuration">
  <div class="row-item half">
    <%= link_to t(".uploads"), admin_uploads_path, class: "btn" %>
    <% Country.all.each do |country| %>
      <%= link_to t(".faqs.country", country: country.name), (admin_settings_default_faqs_path ({country: country.id})) , class: "btn" %>
    <% end %>

  </div>
</div>
