<% collection.each do |document| %>
  <div class="document sixth">
    <div class="document-image-container">
      <%= link_to document[:link], target: "_blank" do %>
        <%= fa_icon "file-pdf-o" %>
        <span class="document-name" title="<%= document[:name] %>"><%= document[:name] %></span>
      <% end %>
    </div>
  </div>
<% end %>
