<% collection.each do |document| %>
  <div class="document sixth">
    <%= link_to document[:link], target: "_blank" do %>
      <%= image_tag (document[:thumb]), alt: document[:name] if document[:thumb] %>
    <% end %>
    <span class="document-name"><%= link_to truncate(document[:name], length: 35), document[:link], target: "_blank", class: "branded-primary" %></span>
  </div>
<% end %>
