<div class="notification-expanded branded-border branded-content branded-text">
  <div class="header branded-text branded-border">
    <div class="notification-avatar">
      <div class="avatar">
        <img class="notification-full-avatar">
      </div>
    </div>
    <h5><span class="notification-sender-name"></span></h5>
    <span class="notification-sender-job-title"></span>
  </div>
  <div class="notification-details">
    <h5><span class="notification-subject"></span></h5>
    <div class="notification-message"></div>
  </div>
</div>
