$library-interface-height: 164px;
$card-height: 230px;

.card-container {
  & > *:nth-child(4),
  & > *:nth-child(4n+7) {
    @include omega();
  }
}

.card {
  background-color: $ui-white;
  border-radius: $border-radius;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-bottom: $spacing-medium;
  height: $card-height;

  .card-header {
    @include pad($spacing-small);
    height: 52px;

    .card-title {
      @include span-columns(6 of 12);
      font-size: $title-font-size-4;
      margin: 0;
    }

    .card-title-alt {
      @include span-columns(6 of 12);
      font-size: $title-font-size-4;
      margin: 0;
      color: $ui-white;
    }

    .card-action {
      @include span-columns(6 of 12);
    }
  }

  .card-content {
    @include span-columns(12 of 12);
  }

  li {
    list-style-type: none;
  }
}

.card {
  .view-article {
    float: right;
  }
}

.my-home {
  background-image: url(http://www.claudehooper.co.uk/wp-content/uploads/2013/08/Gerrards-Cross-Lounge.jpg);
  color: $ui-white;
  position: relative;
  background-size: cover;
  background-position: center;
}

.favourite {
  float: right;
  cursor: pointer;
  position: relative;
}
