$library-interface-height: 164px;
$card-height: 230px;

.card-container {
  & > *:nth-child(4),
  & > *:nth-child(4n+7) {
    @include omega();
  }
}

.card {
  background-color: $ui-white;
  border-radius: $border-radius;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-bottom: $spacing-medium;
  height: $card-height;

  .btn-primary {
    border: 1px solid $primary-red;
  }

  .card-title {
    @include display(flex);
    @include pad($spacing-small);
    border-bottom: 1px solid $ui-grey;

    .title {
      font-size: $title-font-size-4;
      margin: 0;
      color: $primary-black;
    }

    .btn {
      font-size: $base-small-font-size;
      margin-left: auto;
      background-color: lighten($primary-red, 30%);
      color: $primary-red;

      &:hover {
        background-color: $primary-red;
        color: $ui-white;
      }
    }
  }

  .card-content {
    @include pad($spacing-small);
  }

  &.bordered {
    border: 1px solid $ui-grey;
  }

  li {
    list-style-type: none;
  }
}

.card {
  &.my-home {
    color: $ui-white;
    position: relative;
    background-size: cover;
    background-position: center;

    &:before {
      @include trans-to-black(90deg);
      background-color: transparent;
      content: '';
      display: block;
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: $border-radius;
    }

    .card-title {
      border-bottom: none;
      padding-bottom: 0px;
    }

    .title {
      color: $ui-white;
    }

    .my-home-address {
      margin: 0 0 $spacing-small;
      font-size: $base-font-size;
    }
  }

  &.my-library {
    @include grad-yellow-orange();
    height: 230px;
    color: $ui-white;

    .btn-primary {
      border-color: $ui-white;
      background-color: transparent;
      color: $ui-white;

      &:hover {
        border-color: $ui-white;
        background-color: $ui-white;
        color: #fb9e59;
      }
    }

    .card-title {
      border-bottom: none;
      padding-bottom: 0;
    }

    .title {
      color: $ui-white;
    }

    .action {
      cursor: pointer;
      display: inline-block;
      padding-top: 64px;
      height: $library-interface-height;
      width: 5%;
    }

    .action-left {
      float: left;
    }

    .action-right {
      float: right;
    }

    .documents {
      display: inline-block;
      height: $library-interface-height;
      width: 88%;
      overflow: hidden;

      .document {
        display: inline-table;
        margin: 0 10px;
        width: 100px;

        img {
          border: 1px solid $ui-white;
          height: 128px;
        }

        p {
          font-size: $base-font-size;
          line-height: 14px;
          color: $ui-white;
        }
      }
    }
  }

  &.my-contacts {
    height: 484px;

    .contact-list {
      margin-bottom: 0;
    }

    .card-content {
      padding: 0;
    }

    .contact-name {
      display: inline-block;
      font-weight: bold;
      margin: 0 0 0 $spacing-small;
    }

    .contact-actions {
      a {
        text-decoration: none;
        font-size: $title-font-size-3;


        &:first-child {
          margin-left: $spacing-small;
        }
      }
    }

    .avatar {
      float: left;
    }

    li {
      @include display(flex);
      @include pad($spacing-small $spacing-medium);
      border-bottom: 1px solid $ui-grey;
      height: 76px;


      &:last-child {
        border-bottom: 0px;
      }
    }
  }

  &.faqs {

    .card-content {
      padding: 0;
    }

    .faq-list {
      margin-bottom: 0;
    }

    .faq-item {
      margin-bottom: 0px;
      border-bottom: $border-size solid $ui-grey;

      &:last-child {
        border-bottom: none;
      }
    }

    .faq-link {
      @include display(flex);
      align-items: center;
      font-size: $base-font-size;
      color: $primary-black;
      margin: ($spacing-small / 2) 0 ($spacing-small / 2) $spacing-small;
      padding-right: 30px;
      text-decoration: none;
      position: relative;
      height: 42px;
      line-height: 16px;

      @include media($desktop-large-down) {
        margin: 8px 0 8px 8px;
      }

      &:hover {
        text-decoration: underline;
      }

      &:after {
        content: "\f105";
        font-family: 'FontAwesome';
        color: $primary-red;
        font-size: $title-font-size-3;
        position: absolute;
        right: $spacing-small;
        top: 0px;
        line-height: 42px;
      }
    }
  }

  &.how-to {
    position: relative;

    .card-title {
      border-bottom: 0px;
    }

    .how-to-logo {
      font-style: italic;
      color: $primary-red;
      font-size: 10px;
      position: relative;
      top: 4px;
    }

    .favourite-article {
      float: right;
      cursor: pointer;
      position: relative;
    }

    .view-article {
      float: right;
    }

    .hoozzi-logo {
      position: relative;
      top: 7px;
    }

    .how-to-title {
      color: $ui-white;
      margin-bottom: $spacing-small;
    }

    &:before {
      @include trans-to-black(360deg);
      background-color: transparent;
      content: '';
      display: block;
      width: 100%;
      height: 60%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      border-radius: $border-radius;
    }

    .card-content {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }
}
