$library-interface-height: 164px;
$card-height: 230px;
$card-header-height: 52px;

.dashboard {
  @include outer-container(90%);
  margin: 0 auto;
  padding: 20px;
}

.card-container {
  & > *:nth-child(4),
  & > *:nth-child(4n+7) {
    @include omega();
  }
}

.card {
  background-color: $ui-white;
  border-radius: $border-radius;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-bottom: $spacing-medium;
  height: $card-height;
  border-style: solid;

  .card-header {
    @include pad($spacing-small);
    height: $card-header-height;

    .card-title {
      @include span-columns(6 of 12);
      font-size: $title-font-size-4;
      margin: 0;
    }

    .card-title-alt {
      @include span-columns(6 of 12);
      font-size: $title-font-size-4;
      margin: 0;
      color: $ui-white;
    }

    .card-action {
      margin-top: 2px;
      @include span-columns(6 of 12);
    }
  }

  .card-content {
    @include span-columns(12 of 12);
  }

  li {
    list-style-type: none;
  }
}

.card {
  .view-article {
    float: right;
  }
}

.favourite {
  float: right;
  cursor: pointer;
  position: relative;
}
