// Hide the dialog contents when the dialog is not live
.archive-section {
  display: none;
}

.fa-trash:before {
  line-height: $icon-font-line-height;
  font-size: $base-font-size;
}

// The sections below here all change various bits and pieces of styling that
// we have inherited but want to style differently in dialogs
.ui-dialog.archive-dialog {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $default-text-color;
  padding: $spacing-small;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: $dialog-width !important; // Need !important otherwise the jQuery dialog overrides

  .ui-dialog-titlebar {
    background: none;
    border: none;
  }

  h3 {
    font-weight: bold;
  }

  label {
    margin-top: $spacing-small;
    color: $type-grey;
  }

  textarea {
    margin-top: $spacing-small;
  }

  .btn-primary {
    border: solid;
    border-color: $type-grey;
    border-width: 1px;
  }

  .btn-secondary {
    border: none;
  }
}

.ui-button-text {
  font-size: $base-font-size;
  background-color: $ui-white;
  color: $type-grey;
  border-radius: $border-radius;
}

.btn-delete {
  // Add the font awesome fa-trash icon
  .ui-button-text:before {
    font-family: FontAwesome;
    content: "\f1f8";
    padding-right: $spacing-small;
  }
}

.ui-dialog .ui-dialog-buttonpane {
  border: none;
}

.icons {
  margin-bottom: $spacing-medium;

  label {
    margin-left: 24px;
    margin-right: 24px;
    width: 64px;
    text-align: center;
    display: inline-block;
    color: $type-grey;
  }

  input {
    display: none;
  }
}

input:checked + .feedback {
  color: $primary-green;
}

.option {
  height: 64px;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: $ui-grey;
  padding: 13px 11px;
}

.feedback:before {
  font-size: 47px;
  color: inherit;
  cursor: pointer;
  font-weight: normal;
  line-height: 37px;
}

.option1:before {
  font-family: FontAwesome;
  content: "\f119";
}

.option2:before {
  font-family: FontAwesome;
  content: "\f11a";
}

.option3:before {
  font-family: FontAwesome;
  content: "\f118";
}

.include-email {
  input {
    float: right;
    margin-top: 12px;

    &:active,
    &:focus {
      outline: none;
    }
  }

  label {
    display: inline-block;
  }
}
