// Hide the dialog contents when the dialog is not live
.archive-section {
  display: none;
}

.fa-trash:before {
  line-height: $icon-font-line-height;
  font-size: $base-font-size;
}

.fa-info:before {
  line-height: $icon-font-line-height;
  font-size: $base-font-size;
}

// The sections below here all change various bits and pieces of styling that
// we have inherited but want to style differently in dialogs
.ui-dialog-title {
  color: $ui-white;
}

.ui-dialog-titlebar {
  background: none !important;
  background-color: $primary-navy !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: $primary-navy !important;
  border: 1px solid $primary-navy !important;
}

.ui-dialog.archive-dialog {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $default-text-color;
  padding: $spacing-small;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: $dialog-width !important; // Need !important otherwise the jQuery dialog overrides

  .ui-dialog-titlebar {
    background: none;
    border: none;
  }

  h3 {
    font-weight: bold;
  }

  label {
    margin-top: $spacing-small;
    color: $primary-navy;
  }

  textarea {
    margin-top: $spacing-small;
  }

  .btn-primary {
    border: solid;
    border-color: $primary-navy;
    border-width: 1px;
  }

  .btn-secondary {
    border: none;
  }

  // accommodate the different browsers
  ::placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }

  :-ms-input-placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }

  ::-ms-input-placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }
}

.ui-button-text {
  font-size: $base-font-size;
  background-color: $ui-white;
  color: $primary-navy;
  opacity: 0.7;
  border-radius: $border-radius;
}

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: 0;
}

.btn-delete {
  // Add the font awesome fa-trash icon
  .ui-button-text:before {
    font-family: FontAwesome;
    content: "\f1f8";
    padding-right: $spacing-small;
  }
}

.ui-dialog .ui-dialog-buttonpane {
  border: none;

  .branded-btn {
    padding: 0;
  }
}

.icons {
  margin-bottom: $spacing-medium;

  label {
    margin-left: 24px;
    margin-right: 24px;
    width: 64px;
    text-align: center;
    display: inline-block;
    color: $type-grey;
  }

  input {
    display: none;
  }
}

input:checked + .feedback {
  color: $primary-red;
}

.option {
  height: 64px;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: $primary-navy;
  padding: 13px 11px;
}

.feedback-dialog {
  p {
    text-align: center;
  }
}

.feedback:before {
  font-size: 47px;
  color: inherit;
  cursor: pointer;
  font-weight: normal;
  line-height: 37px;
}

.option1:before {
  font-family: FontAwesome;
  content: "\f119";
}

.option2:before {
  font-family: FontAwesome;
  content: "\f11a";
}

.option3:before {
  font-family: FontAwesome;
  content: "\f118";
}

.include-email {
  input {
    float: right;
    margin-top: 12px;

    &:active,
    &:focus {
      outline: none;
    }
  }

  label {
    display: inline-block;
  }
}

.restricted-dialog {
  span i {
    padding-right: 10;
  }

  .ui-dialog-titlebar {
    background-color: #fc2803 !important;
  }
}

.restricted-resource {
  display: none;
}

#restricted-warning {
  display: inline-block;
  float: right;
  margin: 12 38;

  i {
    font-size: 20;
    color: #FFBF00;
  }
}
