.homeowner-view{
  .alert {
    background: $primary-red;
    color: $ui-white;
    padding: $spacing-small;
    text-align: center;
    position: absolute;
    width: 100%;
  }

  .notice {
    background: $primary-green;
    color: $ui-white;
    padding: $spacing-small;
    text-align: center;
    position: absolute;
    width: 100%;
  }
}

.admin-view {
  .alert {
    background: $primary-red;
    color: $ui-white;
    padding: $spacing-small;
    text-align: center;
  }

  .notice {
    background: $primary-green;
    color: $ui-white;
    padding: $spacing-small;
    text-align: center;
  }
}