$admin-header-bg-color: $ui-white;

$homeowner-header-bg-color: $ui-white;

.admin-view {
  header {
    @include pad($spacing-small $spacing-large $spacing-small $spacing-large);
    background-color: $admin-header-bg-color;
    text-align: center;

    @include media($tablet-landscape-up) {
      text-align: left;
    }
  }
}

.homeowner-view {
  header {
    .session-container {
      @include pad($spacing-small $spacing-large $spacing-small $spacing-large);
      @include grad-blue-black(90);
      @include display(flex);
      @include justify-content(flex-end);

      @include media($tablet-landscape-down) {
        position: fixed;
        top: 0px;
        width: 100%;
      }

      .avatar {
        height: $spacing-medium;
      }

      .greeting {
        color: $ui-white;
        margin: 0 $spacing-small 0 0;
      }
    }

    .navigation-container {
      @include display(flex);
      @include pad($spacing-small $spacing-large $spacing-small $spacing-large);
      background-color: $homeowner-header-bg-color;

      @include media($tablet-landscape-down) {
        margin-top: 42px;
      }

      @include media($tablet-landscape-up) {
      }

      & > * {
        @include flex(1);
      }

      .navbar {
        @include flex(2);
      }

      .search-form {
        @include flex(2);
      }

      .logo {
        height: $spacing-large;
        width: auto;
      }
    }

    .hero-container {
      height: 200px;
      overflow: hidden;
      margin-bottom: $spacing-medium;
      background-size: cover;
      background-position: center;
    }
  }
}
