.policy {
  width: 90%;
  margin: 0 auto;
  border-style: solid;
  border-radius: 5px;
  background-color: $ui-white;
  padding: $spacing-small;

  p, li, a {
    font-size: $base-small-font-size;
  }

  h3, h4, p {
    margin-bottom: $spacing-small;
  }

  h2 {
    text-align: center;
  }
  
  /*a {
    text-decoration: underline;
  }*/
}

.confirm {
  text-align: center;
}

.information {
  a {
    color: $primary-cta-color;
    text-decoration: none;
  }
}