.search-form {
  @include display(flex);
  position: relative;
  height: 46px;

  label {
    position: absolute;
    left: $spacing-small;
    line-height: 44px;
  }

  input {
    text-indent: $spacing-medium;
    border-radius: $border-radius 0 0 $border-radius;
    border-right: 0px;
    display: block;
    margin-bottom: 0px;

    &:focus,
    &:active {
      border-right: 0px;
    }
  }

  .btn-primary {
    border-radius: 0 $border-radius $border-radius 0;
    border: 1px solid $primary-red;
    line-height: 20px;

  }
}
