$search-width: 460px;

.search-container {
  float: right;
  width: $search-width + 40px;
  font-size: $base-small-font-size;
  line-height: $base-small-font-size;
  height: 40;

  form {
    height: 40;
  }

  // accommodate the different brousers
  ::placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }

  :-ms-input-placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }

  ::-ms-input-placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }

  ul {
    list-style: none;
    opacity: 1;

    li {
      background-color: $ui-white;
      border: 1px solid rgba(0, 42, 58, 0.2);
      border-radius: 5px/5px;
      padding: 5px;
    }

    a {
      text-decoration: none;
      font-size: 12px;
      color: rgba(0, 42, 58, 0.5);
      padding-left: 5px;
    }
  }

  input[type="text"] {
    padding-left: 38px;
  }

  input {
    opacity: 0.7;
  }
}

.search-btn {
  position: relative;
  top: -48px;
  left: 2px;
  padding: 12 10 11 10;
  border: none;
  color: $primary-navy;

  &:hover {
    background-color: $primary-navy;
  }
}

.search-results-container {
  position: relative;
  top: -48;
  width: $search-width + 40px ;
  margin-top: 0;

  .search-results {
    width: 100%;
  }

  .strong {
    font-weight: bold;
  }

  .search-results.overflow {
    height: 200;
    overflow-y: scroll;
  }
}

.search-user, .search-finish {
  height: 85;
}

@include media($tablet-landscape-down) {
  .admin-view {
    .search-container {
      display: none;
    }
  }
  .homeowner-view {
    .search-container {
      opacity: 1;
    }
  }
}

.search {
  overflow: hidden;
}
