$search-width: 460px;

.search-container {
  float: right;
  width: $search-width + 40px;
  font-size: $base-small-font-size;
  line-height: $base-small-font-size;

  // accommodate the different brousers
  ::placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }

  :-ms-input-placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }

  ::-ms-input-placeholder {
    color: $primary-navy;
    opacity: 0.5;
  }

  ul {
    list-style: none;

    li {
      background-color: $ui-white;
      border: 1px solid rgba(0, 42, 58, 0.2);
      border-radius: 5px/5px;
      padding: 5px;
    }

    a {
      text-decoration: none;
      font-size: 12px;
      color: rgba(0, 42, 58, 0.5);
      padding-left: 5px;
    }
  }

  input[type="text"] {
    padding-left: 38px;
  }
}

.search-btn {
  padding: $spacing-small;
  border: none;
  margin-top: -46px;
  margin-left: 2px;
  color: $primary-navy;

  &:hover {
    background-color: $primary-navy;
  }
}

.search-results-container {
  width: $search-width + 40px ;
  margin-top: 0;
  position: absolute;
  z-index: 20;

  .search-results {
    width: 100%;
  }

  .strong {
    font-weight: bold;
  }
}

@include media($tablet-landscape-down) {
  .search-container {
    display: none;
  }
}
