$search-width: 460px;

.search-container {
  float: right;
  width: 500px;
  font-size: $base-small-font-size;
  line-height: $base-small-font-size;

  ul {
    list-style: none;

    li {
      background-color: $ui-white;
      border: 1px solid $ui-grey;
      padding: 5px;
    }

    a {
      text-decoration: none;
      font-size: 12px;
      color: $ui-dark-grey;
      padding-left: 5px;
    }
  }

  input[type="text"] {
    display: inline-block;
    border-style: solid;
    padding-left: 38px;
    border-radius: 0;
  }
}

.search-btn {
  padding: $spacing-small;
  border: none;
  margin-top: -47px;
  margin-left: 2px;
}

.search-results-container {
  width: $search-width;
  margin-top: -10px;
  position: absolute;
  z-index: 20;

  .search-results {
    width: 100%;
  }

  .strong {
    font-weight: bold;
  }
}
