$font-section-title-color: $primary-navy;
$data-section-color: $primary-navy;

.section-header {
  @include display(flex);
  margin-top: $spacing-medium;
  margin-bottom: $spacing-large;

  & > * {
    @include flex(1);
  }
}

.section-title {
  @include flex(1);
  color: $primary-navy;
  font-weight: $semi-bold-font-weight;

  .expired {
    font-size: 16px;
    margin-bottom: 5px;
    .expired-text {
      background-color: rgba(247, 82, 94, 0.3);
      border-radius: 5px;
      padding: 2px;
    }
    .partial-expired-text {
       background-color: rgba(247, 148, 97, 0.3);
    }
  }

  h3 {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 0;
    font-size: 12px;
  }

  .about {
    font-size: 12px;
    font-weight: $base-font-weight;
    color: $data-section-color;
  }

  .user-picture img {
    max-height: 120px;
  }
}

.section-actions {
  text-align: right;

  a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.section-data {
  font-size: 12px;
  color: $data-section-color;
  text-align: right;

  .strong {
    font-weight: bold;
    line-height: $icon-font-line-height;
  }

  .right {
    float: right;
  }

  .btn {
    background-color: $primary-red-left;
    color: $ui-white;
    margin-top: $spacing-small;

    &:hover {
      background-color: $ui-white;
      color: $primary-red-left;
    }
  }
}

.setting {
  margin-top: $spacing-small;
}
