.tabs {
  @include clearfix();
  clear: both;
  float: left;

  ul {
    font-size: 0;
  }

  li {
    background-color: $base-button-bg-color;
    border-width: $border-size $border-size $border-size 0;
    border-style: solid;
    border-color: $base-button-border-color;
    line-height: $button-line-height;
    padding: 0;
    border-radius: 0;
    display: inline-block;
    list-style-type: none;

    &:first-child {
      border-left: $border-size solid $base-button-border-color;
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    a {
      text-decoration: none;
      padding: $spacing-small;
    }
  }
}

.tab {
  float: left;

  a.active {
    color: $ui-dark-grey;
  }
}
