<% breadcrumb :finish_type_edit, @finish_type %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", name: @finish_type.name) %>
  </div>
</div>

<%= render 'form', finish_type: @finish_type, finish_categories: @finish_categories %>
