<% breadcrumb :finish_type_new %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "folder" %>
    <%= t(".title") %>
  </h3>
</div>

<%= render 'form', finish_type: @finish_type, finish_categories: @finish_categories %>
