<% breadcrumb :finish_type, @finish_type %>

<%= render @finish_type %>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), finish_types_path, class: "btn" %>
  </div>
</div>
