.register {
  margin-top: $carousel-height + 65px;
  position: relative;

  .submit {
    width: 10%;

    input {
      padding: 5px 15px;
    }
  }

  h2 {
    margin-bottom: 0;
  }
}

.sign-section {
  width: 29%;
  display: inline-block;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white;
}

@include media($tablet-landscape-up) {
  .register {
    margin-top: $carousel-height - 120px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: $ui-white;
    opacity: 1;
    padding: $spacing-medium;
    border-radius: $border-radius;
    border: solid 1px $type-grey;
  }
}
