$carousel-height: 500px;

.nav-bar {
  padding: 10px 30px;
}

.nav-menu {
  float: right;
  line-height: 36px;
  
  li {
    list-style: none;
    display: inline;
    font-size: $base-small-font-size;
    font-weight: bold;
    padding: $spacing-small;
  }
}

.carousel {
  position: fixed;
  top: 62px;
  height: $carousel-height;
  width: 100%;
  border-radius: $border-radius;
  border: solid 1px $type-grey;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 130px;
}

.main-container {
  background: $ui-light-grey;
  padding: 0;
}

@include media($tablet-landscape-up) {
  .carousel {
    width: 95%;
  }

  .main-container {
    padding: 30px;
  }
}
