<div class="service branded-content branded-border">
  <div class="branded-text service-title"><%= check_box_tag "services[]", service.id %><%= service.name %></div>
  <div class="service-description"><%= service.description %></div>
</div>
