$base-button-font-color: $primary-navy;
$base-button-font-size: $base-font-size;
$base-button-padding: $spacing-small;
$base-button-bg-color: $ui-white;
$base-button-border-color: $primary-navy;

$base-button-bg-color-hover: $ui-white;
$base-button-font-color-hover: $primary-cta-color;
$base-button-border-color-hover: $primary-red-left;

$primary-button-font-color: $ui-white;
$primary-button-font-color-hover: $primary-red-left;
$primary-button-color: $primary-red-left;
$primary-button-color-hover: $ui-white;

$primary-button-border-color: $primary-red-left;
$primary-button-border-color-hover: $primary-red-left;
$button-line-height: 28px;

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: $base-button-font-size;
  line-height: $button-line-height;
  padding: 0 10px;
  border: 1px solid $primary-button-border-color;
  border-radius: $border-radius;
  cursor: pointer;
  white-space: nowrap;
  background-color: $ui-white;
  color: $primary-button-color;

  &:hover {
    color: $ui-white;
    background-color: $primary-button-color;
  }

  &:focus,
  &:active {
    outline: none;
  }

  .fa-plus,
  .fa-minus {
    font-size: $base-font-size;
    position: relative;
    top: -1px;
  }
}

#toolbarbutton {
  color: #FFBF00;
  border: 1px solid #FFBF00;

  &:hover {
    color: $ui-white;
    background-color: #FFBF00;
  }

}

.help-btn, .dropdown-help-btn, .help-desc-btn {
  padding: 1px 5px;
  background-color: white !important;
  border: 1px solid black  !important;
  text-align: center;
  color: black  !important;
  display: inline-block;
  font-size: 12px;
  border-radius: 50%;
  cursor: pointer;
  line-height: unset;

  &:hover {
    color: $ui-white  !important;
    background-color: $ui-black  !important;
  }
}

.dropdown-help-btn {
  margin-top: 10;
}

.ui-dialog-buttonset .btn {
  padding: 0;
}

.btn-label {
  font-weight: bold;
  font-size: $base-font-size;
}

@include media($tablet-landscape-down) {
  i + .btn-label {
    display: none;
  }
}

.btn-primary {
  color: $primary-button-font-color;
  background-color: $primary-red-left;
  border-color: $primary-red-left;
  border-width: 1px;
  border-radius:  $border-radius;
  padding: 0 $spacing-small;
  font-size: $base-button-font-size;
  line-height: $button-line-height;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    color: $primary-button-font-color-hover;
    background-color: $primary-button-color-hover;
    border: 1px solid $primary-button-border-color-hover;
  }
}

.btn-base {
  @extend .btn-primary;
  background-color: $base-button-font-color;
  border-color: $base-button-font-color;

  &:hover {
    color: #002A3A;
    background-color: $base-button-bg-color-hover;
    border-color: $base-button-font-color;
  }
}

.right {
  float: right;
}

button:focus, button:active {
  outline: none;
}

input[disabled="disabled"], input[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}
