$base-button-font-color: $type-grey;
$base-button-font-size: $base-font-size;
$base-button-padding: $spacing-small;
$base-button-bg-color: $ui-white;
$base-button-border-color: $primary-red;

$base-button-bg-color-hover: $ui-white;
$base-button-font-color-hover: $primary-cta-color;
$base-button-border-color-hover: $primary-cta-color;

$primary-button-font-color: $ui-white;
$primary-button-font-color-hover: $primary-cta-color;
$primary-button-color: $primary-cta-color;
$primary-button-color-hover: $ui-white;

$primary-button-border-color: $primary-cta-color;
$primary-button-border-color-hover: $primary-cta-color;
$button-line-height: 28px;

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: $base-button-font-size;
  line-height: $button-line-height;
  padding: 0 $spacing-small;
  border: 1px solid $base-button-border-color;
  border-radius: $border-radius;
  cursor: pointer;
  white-space: nowrap;
  background-color: $ui-white;
  color: $default-text-color;

  &:hover {
    color: $ui-white;
    background-color: $primary-red;
  }

  &:focus,
  &:active {
    outline: none;
  }

  .fa-plus,
  .fa-minus {
    font-size: $base-font-size;
    position: relative;
    top: -1px;
  }
}

.btn-label {
  font-weight: bold;
  font-size: $base-font-size;
}

@include media($tablet-landscape-down) {
  i + .btn-label {
    display: none;
  }
}

.btn-primary {
  color: $primary-button-font-color;
  background-color: $primary-button-color;
  border-color: $primary-button-color;
  border-width: 1px;
  border-radius:  $border-radius;
  padding: 0 $spacing-small;
  font-size: $base-button-font-size;
  line-height: $button-line-height;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    color: $primary-button-font-color-hover;
    background-color: $primary-button-color-hover;
    border: 1px solid $primary-button-border-color-hover;
  }
}

button:focus, button:active {
  outline: none;
}

.remove {
  padding: 8px 9px 7px;
}

input[disabled="disabled"], input[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn, input[type="submit"] {
  text-transform: uppercase;
}