
//Primary color Palette
$primary-red: #F7525E;
$default-text-color: #002A3A;
$primary-yellow: #FFC85D;
$primary-green: #59B8AE;
$primary-orange: #FFA500;

//spaciable
$primary-red-left: #FF293F;
$primary-red-right: #F60059;
$primary-navy: #002A3A;
$primary-black: #222222;
$pale-navy: #c5d1d6;
$semi-pale-navy: #7b929c;

//Secondary color Palette
$secondary-blue: #394F5F;
$secondary-orange: #ff6600;
$secondary-pink: #C53D72;
$secondary-green: #48D5D9;
$faded-red: #fcccd1;

//Type Palette
$type-grey: #67747C;
$type-red: #F93549;
$type-white: #FFFFFF;
$transparent-white: rgba(255, 255, 255, 0.8);
$transparent-black: rgba(0, 0, 0, 0.5);

//UI Palette
$ui-white: #FFFFFF;
$ui-superlight-grey: #FAFAFA;
$ui-light-grey: #F4F4F4;
$ui-grey: #EAEAEA;
$ui-dark-grey: #B3B5B7;
$ui-black: #252C31;
$ui-selected: #66FF66;

//Opacity Levels
$base-opacity: 0.9;

$primary-background: $primary-red;
$primary-cta-color: $primary-green;
$secondary-cta-color: $type-grey;

@mixin grad-orange-pink($deg:135deg) {
  @include linear-gradient($deg, $secondary-orange, $primary-red, $secondary-pink);
}

@mixin trans-to-black($deg:135deg) {
  @include linear-gradient($deg, $default-text-color, transparent);
}

@mixin grad-blue-black($deg:135deg, $opacity:1) {
  @include linear-gradient($deg, rgba(57,79,95, $opacity), rgba(37, 44, 49, $opacity));
}
