
//Primary color Palette
$primary-red: #F93549;
$primary-blue: #00416B;
$default-text-color: #2F2F2F;
$primary-yellow: #FFC85D;

//Secondary color Palette
$secondary-blue: #394F5F;
$secondary-orange: #F79461;
$secondary-pink: #C53D72;
$secondary-green: #48D5D9;
$faded-red: #E58C92;

//Type Palette
$type-grey: #2F2F2F;
$type-red: #F93549;
$type-white: #FFFFFF;
$transparent-white: rgba(255, 255, 255, 0.8);
$transparent-black: rgba(0, 0, 0, 0.5);

//UI Palette
$ui-white: #FFFFFF;
$ui-superlight-grey: #FAFAFA;
$ui-light-grey: #F4F4F4;
$ui-grey: #EAEAEA;
$ui-dark-grey: #B3B5B7;
$ui-black: #252C31;

//Opacity Levels
$base-opacity: 0.9;

$primary-background: $primary-blue;
$primary-cta-color: $primary-red;
$secondary-cta-color: $type-grey;

@mixin trans-to-black($deg:135deg) {
  @include linear-gradient($deg, $default-text-color, transparent);
}

@mixin grad-blue-black($deg:135deg, $opacity:1) {
  @include linear-gradient($deg, rgba(57,79,95, $opacity), rgba(37, 44, 49, $opacity));
}
