$input-padding: $spacing-small;
$input-margin: $spacing-small;
$input-border-color: $ui-grey;
$input-border-color-active: $ui-dark-grey;
$input-font-size: $base-font-size;
$input-line-height: $base-font-line-height;
$input-inline-error-font-color: $primary-red;
$input-small-font-size: 10px;

$field-invalid-border-color: $primary-red;
$field-invalid-font-color: $primary-red;

$label-margin: 4px;
$label-font-size: 14px;
$label-font-weight: bold;

$form-action-footer-bg-color: $ui-white;

$submission-error-font-color: $ui-white;
$submission-error-bg-color: $primary-red;


// INPUTS

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="password"] {
  display: block;
  padding: $input-padding;
  margin-bottom: $input-margin;
  border-radius: $border-radius;
  border: $border-size solid $input-border-color;
  font-family: $base-font-family;
  font-size: $input-font-size;
  width: 100%;

  &:active,
  &:focus {
    outline: none;
    border: $border-size solid $input-border-color-active;
  }
}

textarea {
  resize: vertical;
}

label {
  display: block;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  margin-top: $label-margin * 2;
  margin-bottom: $label-margin/2;
}

// SELECTS

.ui-selectmenu-button {
  width: 100% !important;
  background: transparent !important;
  font-size: 14px !important;
  border: $border-size solid $input-border-color !important;
  border-radius: $border-radius !important;

  &:active,
  &:focus {
    outline: none;
    border: $border-size solid $input-border-color-active !important;
  }

  &.ui-corner-top {
    border-radius: $border-radius $border-radius 0 0 !important;
  }

  .ui-selectmenu-text {
    padding: $spacing-small !important;
  }
}

.ui-selectmenu-menu {

  .ui-menu {
    border-width: 0px $border-size $border-size $border-size !important;
    border-style: solid !important;
    border-color: $input-border-color-active !important;
    border-radius: 0 0 $border-radius $border-radius !important;
    max-height: 300px;
    word-wrap: break-word;
  }

  .ui-menu-item {
    border: none !important;
    padding: ($spacing-small / 2) $spacing-small !important;
    border: none !important;

    &.ui-state-focus {
      background: $input-border-color !important;
      margin: 0 !important;
    }
  }
}

// MAIN FORM STYLING

form {
  clear: both;
}

fieldset {
  border: none;
}

.form-actions-footer-container {
  @include media($tablet-landscape-up) {
    @include span-columns(13 of 16, block-collapse);
    @include clearfix();
    clear: both;
    position: fixed;
    bottom: 0;
    margin-left: -$spacing-large;
    border-top: $border-size solid $ui-grey;
  }

  @include media($desktop-large-up) {
    @include span-columns(14 of 16, block-collapse);
  }
}

.form-actions-footer {
  @include clearfix();
  background-color: $form-action-footer-bg-color;
  padding: $spacing-small $spacing-large;

  button {
    display: inline;
  }

  .btn-form-submit {
    float: right;
    background-color: $primary-cta-color;
    color: $ui-white;
    border-color: $primary-cta-color;
  }
}

.remove-btn {
  float: right;
  margin-right: $spacing-small;
  margin-top: 4px;
  height: 30px;
}

// IMAGE file load styling

.image-container {
  margin-bottom: 56px;
}

.image-preview {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image_preview {
  font-family: $base-font-family;
  font-size: $base-font-size;

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 15px 0;
  }

  .remove-btn {
    margin-top: -25px;
  }
}

.file-upload {
  color: $type-grey;
  font-size: $base-font-size;
  float: right;
  padding-top: 6px;
  width: 100%;
  padding-left: 12px;
  @-moz-document url-prefix() {
    padding-left: 0;
  }

  &:focus {
    outline: none;
  }
}

.choose-file {
  float: left;
  margin-top: -25px;
  font-size: $base-font-size;
  color: $type-grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 89px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
}

// VALIDATION
.required {
  label {
    color: $ui-black;
  }
}

.readonly {
  border-style: none;
  width: 80%;
  float: left;
}

.input {
  position: relative;
  margin-bottom: 10px;

  &.field_with_errors {
    input {
      height: 41px;
      border: 2px solid $field-invalid-border-color;
      color: $field-invalid-font-color;
    }

    label {
      .required {
        color: $field-invalid-font-color;
      }
    }
  }

  label {
    .required {
      font-size: $input-small-font-size;
      font-weight: normal;
      color: $type-grey;
      position: absolute;
      right: 13px;
      top: 38px;
    }
  }

  &.select .required {
    margin-right: 14px;
  }

  .error {
    font-size: $input-small-font-size;
    color: $input-inline-error-font-color;
    text-transform: capitalize;
    margin-top: -5px;
    display: block;
  }

  &.select .error {
    margin-top: 2px;
  }

  input[type="checkbox"] {
    margin-right: $spacing-small;
  }
}

.readonly {
  color: $type-grey;

  input {
    border-style: none !important;
    color: $type-grey;
  }
}

.submission-errors {

  .fa {
    margin-right: $spacing-small;
  }

  ul {
    background-color: $submission-error-bg-color;
    border-radius: $border-radius;
    margin-bottom: $spacing-small;
  }

  li {
    list-style-type: none;
    color: $submission-error-font-color;
    padding: 4px $spacing-small;
  }
}

.match-errors {
  color: $primary-red;
  margin-top: $spacing-small;
}
