$input-padding: $spacing-small;
$input-margin: $spacing-small;
$input-border-color: $primary-navy;
$input-border-color-active: $primary-navy;
$input-font-size: $base-font-size;
$input-line-height: $base-font-line-height;
$input-inline-error-font-color: $primary-background;
$input-small-font-size: 10px;

$field-invalid-border-color: $primary-background;
$field-invalid-font-color: $primary-background;

$label-margin: 4px;
$label-font-size: 14px;
$label-font-weight: bold;
$label-font-color: $primary-navy;

$form-action-footer-bg-color: $ui-white;

$submission-error-font-color: $ui-white;
$submission-error-bg-color: $primary-background;


// INPUTS

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="password"] {
  display: block;
  padding: $input-padding;
  margin-bottom: $input-margin;
  border-radius: $border-radius;
  border: $border-size solid $primary-navy;
  font-family: $base-font-family;
  font-size: $input-font-size;
  width: 100%;
  color: $primary-navy;

  &:active,
  &:focus {
    outline: none;
    border: $border-size solid $primary-navy;
  }
}

input[type="section"] {
  @extend input[type="text"];
  width: auto;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

// Accommodate different browsers
::placeholder {
  color: $semi-pale-navy;
}

::-webkit-input-placeholder {
  color: $semi-pale-navy;
}

:-ms-input-placeholder {
  color: $semi-pale-navy;
}

label {
  display: block;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  margin-top: $label-margin * 3;
  margin-bottom: $label-margin;
  clear: left;

  &.inline {
    display: inline-block;
  }
}

hr {
  margin-top: $label-margin * 2;
}

.confirm-text {
  padding: 50px;
}

.info-span {
  font-size: $base-small-font-size;
  color: $primary-navy;
}

.checkbox-description {
  margin-left: $spacing-small / 2;
  display: inline;
}

// SELECTS
.ui-state-default {
  color: $primary-navy
}

.ui-selectmenu-button {
  width: 100% !important;
  background: $ui-white !important;
  font-size: 14px !important;
  border: $border-size solid $primary-navy;
  border-radius: $border-radius !important;

  &:active,
  &:focus {
    outline: none;
    border: $border-size solid $primary-navy !important;
  }

  &.ui-corner-top {
    border-radius: $border-radius $border-radius 0 0 !important;
  }

  .ui-selectmenu-text {
    padding: $spacing-small !important;
  }
}

.ui-dialog {
  z-index: 101 !important;
}

.ui-selectmenu-open {
  z-index: 105 !important;
}

.ui-selectmenu-menu {

  .ui-menu {
    border-width: 0px $border-size $border-size $border-size !important;
    border-style: solid !important;
    border-color: $primary-navy !important;
    border-radius: 0 0 $border-radius $border-radius !important;
    max-height: 300px;
    word-wrap: break-word;
  }

  .ui-menu-item {
    border: none !important;
    padding: ($spacing-small / 2) $spacing-small !important;
    border: none !important;
    color: $primary-navy;

    &.ui-state-focus {
      background: $ui-grey !important;
      margin: 0 !important;
      color: $primary-navy;
    }
  }
}

// MULTISELECT

.select2-container--default .select2-selection--multiple {
  border-color: $ui-grey;
  outline: none;

  ul {
    min-height: 50px;
    outline: none;
  }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: $ui-grey;
}

// MAIN FORM STYLING

form {
  clear: both;
}

fieldset {
  border: none;
}

.form-actions-footer-container {
  @include media($tablet-landscape-up) {
    @include span-columns(13 of 16, block-collapse);
    @include clearfix();
    clear: both;
    position: fixed;
    bottom: 40px;
    margin-left: -$spacing-large;
    border-top: $border-size solid $pale-navy;
  }

  @include media($desktop-large-up) {
    @include span-columns(14 of 16, block-collapse);
  }
}

.form-actions-footer {
  @include clearfix();
  width: 100%;
  background-color: $form-action-footer-bg-color;
  padding: $spacing-small $spacing-large * 2;

  button {
    display: inline;
  }

  .btn-form-submit {
    float: right;
    background-color: $primary-red-left;
    color: $ui-white;
    border-color: $primary-red-left;
  }

  label {
    font-weight: normal;
    display: inline-block;
  }

  .notify {
    float: right;
    margin-right: $spacing-medium;
    color: $primary-navy;

    label {
      margin-top: $label-margin * 2
    }
  }
}

.remove-btn {
  float: right;
  margin-right: $spacing-small;
  margin-top: 4px;
  height: 30px;
}

.preview-container {
  margin-bottom: $spacing-large;
}

// IMAGE file load styling

.image-container {
  margin-bottom: 56px;
}

.image-preview {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image_preview {
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 15px 0;
  }

  .remove-btn {
    margin-top: -32px;
  }
}

.file-upload {
  color: $semi-pale-navy;
  font-size: $base-font-size;
  float: right;
  padding-top: 6px;

  &:focus {
    outline: none;
  }
}

// Hide the browser file button entirely
// Chrome and safari only
.file-upload::-webkit-file-upload-button {
  visibility: hidden;
}

// Make sure the browser file button is behind the overlay button
// Firefox only
@-moz-document url-prefix() {
  .file-upload {
    float: right;
    padding-left: 12px;
  }
}

// In IE, the browse field is completely different
// Hide the choose button and use the browser file browse button and layout
// IE edge
@supports (-ms-ime-align:auto) {
  .choose-file {
   display: none;
  }
}

// IE 8 - 10
@media screen\0 {
  .choose-file {
    display: none;
  }
}

// IE 6 - 7
@media screen\9 {
  .choose-file {
    display: none;
  }
}

.choose-file {
  float: left;
  position: relative;
  z-index: 2;
  font-size: $base-font-size;
  color: $primary-red-left;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  text-align: center;

  &:hover {
    color: $ui-white;
    background-color: $primary-red-left;
  }
}

.choose-files {
  text-align: center;
  width: 105px;
}

.image_preview.input.field_with_errors {
  input.file-upload {
    height: inherit;
    border: none;
  }
  .error {
    clear: both;
  }
}

// VALIDATION
.required {
  label {
    color: $primary-navy;
  }
}

.readonly {
  border-style: none;
  width: 95%;
  float: left;
}

.edit_resident .readonly {
  float: none;
  width: 100%;
}

.input {
  position: relative;
  margin-bottom: 10px;

  &.field_with_errors {
    input {
      height: 41px;
      border: 2px solid $field-invalid-border-color;
      color: $field-invalid-font-color;
    }

    label {
      .required {
        color: $field-invalid-font-color;
      }
    }
  }

  label {
    .required {
      font-size: $input-small-font-size;
      font-weight: normal;
      color: $type-grey;
      position: absolute;
      right: 13px;
      top: 38px;
    }
  }

  &.select .required {
    margin-right: 14px;
  }

  .error {
    font-size: $input-small-font-size;
    color: $input-inline-error-font-color;
    display: block;
  }

  &.select .error {
    margin-top: 2px;
  }

  input[type="checkbox"] {
    margin-right: $spacing-small;
  }
}

.select-container {
  span.required {
    padding-right: 15px;
    line-height: 5px;
  }
}

.readonly {
  color: $primary-navy;

  input {
    border-style: none !important;
    color: $semi-pale-navy;
  }
}

i.popup-help {
  padding-right: 5;

  &:hover {
        cursor: pointer;
  }
}

.submission-errors {

  .fa {
    margin-right: $spacing-small;
  }

  ul {
    background-color: $submission-error-bg-color;
    border-radius: $border-radius;
    margin-bottom: $spacing-small;
  }

  li {
    list-style-type: none;
    color: $submission-error-font-color;
    padding: 4px $spacing-small;
  }
}

.match-errors {
  color: $primary-background;
  margin-top: $spacing-small;
}

.left {
  float: left;
}

@include media($tablet-landscape-up) {
  .choose-file {
    margin-top: -25px;
  }

  .file-upload {
    padding-left: 20px;
    width: 100%;
  }
}
