@import "neat/neat-helpers";

// neat config
$grid-columns: 16;

//screen sizes
$xx-small: 376px;
$x-small: 480px;
$small: 720px;
$medium: 1023px;;
$large: 1440px;
$x-large: 1600px;

//larger than
$mobile-up: new-breakpoint(min-width $x-small 16);
$tablet-portrait-up: new-breakpoint(min-width $small 16);
$tablet-landscape-up: new-breakpoint(min-width $medium 16);
$desktop-up: new-breakpoint(min-width $large 16);
$desktop-large-up: new-breakpoint(min-width $x-large 16);

//smaller than
$mobile-portrait-down: new-breakpoint(max-width $xx-small 16);
$mobile-down: new-breakpoint(max-width $x-small 16);
$tablet-portrait-down: new-breakpoint(max-width $small 16);
$tablet-landscape-down: new-breakpoint(max-width $medium 16);
$desktop-down: new-breakpoint(max-width $large 16);
$desktop-large-down: new-breakpoint(max-width $x-large 16);

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
