@include media($tablet-landscape-down) {

  html.hoozzi,
  html.hoozzi body {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

}


html.hoozzi,
html.hoozzi body {
  background-color: $ui-light-grey;
  
  @include media($tablet-landscape-up) {
    overflow: hidden;
  }
}

.outer-container {
  @include outer-container(100%);
  height: 100%;
  min-height: 100%;
}

.admin-view {

  .sidebar-container {
    @include span-columns(16 of 16);

    @include media($tablet-landscape-up) {
      @include span-columns(3 of 16, block-collapse);
      @include omega();
    }

    @include media($desktop-large-up) {
      @include span-columns(2 of 16, block-collapse);
      @include omega();
    }
  }

  .content-container {
    @include span-columns(16 of 16);
    overflow: scroll;
    height: 100%;

    @include media($tablet-landscape-up) {
      @include span-columns(13 of 16, block-collapse);
    }

    @include media($desktop-large-up) {
      @include span-columns(14 of 16, block-collapse);
      @include omega();
    }
  }

  .main-container {
    @include span-columns(16 of 16);
    padding-top: 120px;

    @include media($tablet-landscape-up) {
      @include span-columns(13 of 13);
    }

  @include media($desktop-large-up) {
    @include span-columns(14 of 14);
  }
  
  main {
    @include pad($spacing-small $spacing-large $spacing-medium $spacing-large);
    @include clearfix();
    margin-bottom: $spacing-large;

      //IE 11 fix
      float: left;
      width: 100%;
      box-sizing: border-box;
      //
    }
  }

  .header-container {
    @include span-columns(16 of 16);
    border-bottom: 1px solid $ui-grey;
    position: fixed;

    @include media($tablet-landscape-up) {
      @include span-columns(13 of 13);
    }

    @include media($desktop-large-up) {
      @include span-columns(14 of 14);
    }
  }

  .breadcrumb-container {
    @include span-columns(16 of 16);
    border-bottom: 1px solid $ui-grey;
    position: fixed;
    top: 66px;

    //For tablet portrait and up
    @include media($tablet-landscape-up) {
      @include span-columns(13 of 13);
    }

    //For large desktop up
    @include media($desktop-large-up) {
      @include span-columns(14 of 14);
    }

  }
}

.homeowner-view {
  .content-container {
    @include span-columns(16 of 16);
    overflow-y: scroll;
    height: 100%;
  }

  .header-container {
    @include span-columns(16 of 16);
  }

  .main-container {
    @include span-columns(14 of 16);
    @include shift(1);
  }
}

.row {
  @include span-columns(12 of 12);
  @include omega();

  .row-end {
    @include omega();
  }
}

.row-item {
  @include span-columns(12 of 12);

  @include media($tablet-landscape-down) {
    @include clearfix();
    @include omega();
    margin-bottom: $spacing-small;
    clear: both;
  }
}

.row-item.half {
  @include media($tablet-landscape-down) {
    @include span-columns(12 of 12);
  }

  @include media($tablet-landscape-up) {
    @include span-columns(6 of 12);
  }
}

.row-item.third {
  @include media($tablet-landscape-down) {
    @include span-columns(12 of 12);
  }

  @include media($tablet-landscape-up) {
    @include span-columns(4 of 12);
  }
}

.row-item.two-thirds {
  @include media($tablet-landscape-down) {
    @include span-columns(12 of 12);
  }

  @include media($tablet-landscape-up) {
    @include span-columns(8 of 12);
  }
}

.row-item.quarter {
  @include media($tablet-landscape-down) {
    @include span-columns(12 of 12);
  }

  @include media($tablet-landscape-up) {
    @include span-columns(3 of 12);
  }
}
