$row-padding: $spacing-medium;
$row-bg-color: $ui-white;

.outer-container {
  @include outer-container(100%);
}

.admin-view {

  .sidebar-container {
    @include span-columns(16 of 16);

    @include media($tablet-landscape-up) {
      @include span-columns(3 of 16, block-collapse);
      @include omega();
    }

    @include media($desktop-large-up) {
      @include span-columns(2 of 16, block-collapse);
      @include omega();
    }
  }

  .content-container {
    @include span-columns(16 of 16);
    overflow: scroll;
    height: 100%;

    @include media($tablet-landscape-up) {
      @include span-columns(13 of 16, block-collapse);
    }

    @include media($desktop-large-up) {
      @include span-columns(14 of 16, block-collapse);
      @include omega();
    }
  }

  .main-container {
    @include span-columns(16 of 16);
    padding-top: 120px;

    @include media($tablet-landscape-up) {
      @include span-columns(13 of 13);
    }

  @include media($desktop-large-up) {
    @include span-columns(14 of 14);
  }

  main {
    @include pad($spacing-small $spacing-large $spacing-medium $spacing-large);
    @include clearfix();
    margin-bottom: $spacing-large;

      //IE 11 fix
      float: left;
      width: 100%;
      box-sizing: border-box;
      //
    }
  }

  .header-container {
    @include span-columns(16 of 16);
    border-bottom: 1px solid $ui-grey;
    position: fixed;

    @include media($tablet-landscape-up) {
      @include span-columns(13 of 13);
    }

    @include media($desktop-large-up) {
      @include span-columns(14 of 14);
    }
  }

  .breadcrumb-container {
    @include span-columns(16 of 16);
    border-bottom: 1px solid $ui-grey;
    position: fixed;
    top: 66px;

    //For tablet portrait and up
    @include media($tablet-landscape-up) {
      @include span-columns(13 of 13);
    }

    //For large desktop up
    @include media($desktop-large-up) {
      @include span-columns(14 of 14);
    }
  }
}

.homeowner-view {
  .main-container {
    @include outer-container;
    padding: 0 20px;
  }
}

.row {
  @include span-columns(12 of 12);
  @include omega();

  .row-end {
    @include omega();
  }
}

.row-item {
  background-color: $row-bg-color;
  border-radius: $border-radius;
  padding: $row-padding;
  border: none;

  @include media($tablet-landscape-down) {
    @include clearfix();
    @include omega();
    margin-bottom: $spacing-small;
    clear: both;
  }

  span {
    font-size: $base-font-size;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
  }
}

.half {
  @include media($tablet-landscape-down) {
    @include span-columns(12 of 12);
  }

  @include media($tablet-landscape-up) {
    @include span-columns(6 of 12);
  }
}

.third {
  @include media($tablet-landscape-down) {
    @include span-columns(12 of 12);
  }

  @include media($tablet-landscape-up) {
    @include span-columns(4 of 12);
  }
}

.two-thirds {
  @include media($tablet-landscape-down) {
    @include span-columns(12 of 12);
  }

  @include media($tablet-landscape-up) {
    @include span-columns(8 of 12);
  }
}

.quarter {
  @include media($tablet-landscape-down) {
    @include span-columns(12 of 12);
  }

  @include media($tablet-landscape-up) {
    @include span-columns(3 of 12);
  }
}

.three-quarters {
  @include span-columns(9 of 12)
}

.sixth {
  @include media($desktop-up) {
    @include span-columns(2 of 12);
    @include omega(6n);
  }

  @include media($desktop-down) {
    @include span-columns(2 of 10);
    @include omega-reset(4n);
    @include omega(5n);
  }

  @include media($tablet-landscape-down) {
    @include span-columns(3 of 12);
    @include omega-reset(5n);
    @include omega(4n);
  }

  @include media($tablet-portrait-down) {
    @include span-columns(3 of 12);
    @include omega-reset(4n);
    @include omega(4n);
  }

  @include media($mobile-down) {
    @include span-columns(4 of 12);
    @include omega-reset(2n);
    @include omega(3n);
  }
}

.fifth {
  @include span-columns(2 of 10);
}

.two-fifths {
  @include span-columns(4 of 10);
}

.three-fifths {
  @include span-columns(6 of 10);
}
