// SCSS classes might not have finished loading, so don't use variables

.cookies-eu {
  margin-top: 46px;
}

.cookies-eu-content-holder {
  font-size: 12px;
}

.cookies-eu-link {
  font-size: 12px;
  cursor: pointer;
}

.cookies-table {
  color: #67747C; // $type-grey;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
    border-style: solid;
    border-width: 1px;
    border-color: #B3B5B7; // $ui-dark-grey;
    padding: 8px 12px;
  }

  td {
    font-size: 12px;
  }
}

.ts-and-cs-file {
  .fa-file-word-o {
    font-size: 40px;
  }
}

.policy {
  width: 50%;
  margin: 0 auto;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  background-color: #FFFFFF; // $ui-white;
  border-color: $pale-navy;
  padding: 38px; // $spacing-large;
  text-align: center;
  color: #002A3A;

  p, li, a {
    font-size: 12px; // $base-small-font-size;
  }

  h3, h4, p {
    margin-bottom: 10px; // $spacing-small;
  }

  h2 {
    font-size: $title-font-size-3;
  }

  ul {
    list-style-position: outside;
    margin-left: 1em;
  }

  i {
    font-size: 40px;
  }

  .secondary {
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.confirm {
  text-align: center;
}

.information {
  a {
    color: #FFFFFF; // $ui-white;
    text-decoration: none;
  }
}
