@font-face {
  font-family: "Trade Gothic";
  src: url(/assets/TradeGothicLTStd.otf) format("truetype");
}

$base-font-family: 'Trade Gothic LT Std', 'Open Sans', sans-serif;
$base-small-font-size: 12px;
$base-font-size: 14px;
$base-font-line-height: 22px;
$base-small-font-line-height: 18px;
$base-font-weight: 400;
$ultra-small-font: 10px;

$icon-font-line-height: 28px;

$title-font-size-1: 38px;
$title-font-size-2: 28px;
$title-font-size-3: 20px;
$title-font-size-4: 18px;
$title-font-size-5: 16px;

$title-margin-large:  0 0 $spacing-large;
$title-margin-medium: 0 0 $spacing-medium;
$title-margin-small: 0 0 $spacing-small;

$font-title-color: $type-grey;
$font-copy-color: $type-grey;
$font-link-color: $primary-background;

$paragraph-padding: 0;
$paragraph-margin: 0 0 $spacing-medium;

$list-padding: 0;
$list-margin: 0 0 $spacing-medium;

$list-title-padding: 0;
$list-title-margin: 0 0 $spacing-small;
$list-title-color: $default-text-color;
$list-item-padding: 0;
$list-item-margin: 0;


body {
  font-family: $base-font-family;
}

// Title Styles
h1, h2, h3, h4, h5 {
  color: $font-title-color;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  text-transform: uppercase;
}

h1 {
  font-size: $title-font-size-1;
  margin: $title-margin-large;
}
h2 {
  font-size: $title-font-size-2;
  margin: $title-margin-medium;
}
h3 {
  font-size: $title-font-size-3;
  margin: $title-margin-medium;
}
h4 {
  font-size: $title-font-size-4;
  margin: $title-margin-medium;
}
h5 {
  font-size: $title-font-size-5;
  margin: $title-margin-small;
}

//Paragraph Styles
p {
  padding: $paragraph-padding;
  margin: $paragraph-margin;
  color: $font-copy-color;
  font-size: $base-font-size;
  line-height: $base-font-line-height;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
}

//List Styles
ul,
ol,
dl {
  color: $font-copy-color;
  padding: $list-padding;
  margin: $list-margin;
  font-family: $base-font-family;
}

li {
  padding: $list-item-padding;
  margin: $list-item-margin;
  font-size: $base-font-size;
  line-height: $base-font-line-height;
  font-weight: $base-font-weight;
}

dt {
  display: list-item;
  color: $list-title-color;
  padding: $list-item-padding;
  margin: $list-item-margin;
  font-size: $base-font-size;
  line-height: $base-font-line-height;
  font-weight: $base-font-weight;
}

dd {
  display: list-item;
  padding: $list-item-padding;
  margin: $list-item-margin;
  list-style-type: disc;
  font-size: $base-font-size;
  line-height: $base-font-line-height;
  font-weight: $base-font-weight;
  color: $font-copy-color;
}

//Link Styles

a {
  font-size: $base-font-size;
  line-height: $base-font-line-height;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
}

.larger {
  font-size: 19px;
}