
.breadcrumb-container,
.header-container,
.form-actions-footer-container,
.avatar-menu {
  z-index: 5;
}

.field {
  z-index: 2;
}

.navbar-trigger-label {
  z-index: 11;
}

.dashboard-article .favourite-article {
  z-index: 12;
}

.card-content,
.card-header {
  position: relative;
  z-index: 15;
}

@include media($tablet-landscape-down) {
  .navbar {
    z-index: 20;
  }
}
