<p><%= t("expiry_email.intro", name: @name) %></p>

Your full Spaciable access has now expired but that doesn’t mean you can’t still enjoy its benefits!

You will still be able to use your login details to access the portal and download documents, but you will notice many of the features you have used up to this point will no longer be available.

Thankfully, you can renew your access on an annual basis for just £<%=@payment_charge%>, which will provide you with continued access to:

  Library
  Contacts
  Rooms
  How To articles
  Home Designer
  FAQs
  Buyers' Club

If you want to use Spaciable to continue to make the most of your home and retain key information for a future home sale, you can renew your access using this secure link below:

<%=@payment_link%>

We hope you’ve enjoyed using Spaciable and continue to do so.

Kind regards,

The Spaciable Team