<div class="full services branded-content branded-border">
  <h3><%= t("homeowners.services.index.title") %></h3>
  <p><%= t("homeowners.services.index.description") %></p>
  <% services.each_with_index do | service, index | %>
    <%= render 'homeowners/residents/service', service: service, index: index %>
  <% end %>
</div>
