<% breadcrumb :admin_how_to_edit, @how_to %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "question-circle" %>
    <%= t(".title", title: @how_to.title) %>
  </div>
</div>

<%= render 'form', how_to: @how_to, sub_categories: @how_to_sub_categories %>
