<% breadcrumb :admin_how_tos %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<!-- Add tabs for countries -->
<%= render 'components/tabs', tabs: country_tabs(@country) %>

<%= render_collection @how_tos, path_prefix: "admin", country: @country%>
