<% breadcrumb :admin_how_to_new %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "question-circle" %>
    <%= t(".title") %>
  </h3>
</div>

<%= render 'form', how_to: @how_to %>
