<% breadcrumb :admin_user_edit, @user %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title", user_email: @user.email) %>
  </h3>
</div>

<%= render 'form', user: @user %>
