
<p><%= t("devise.mailer.access_extended.hello", name: @name) %></p>

<p><%= t("devise.mailer.access_extended.paragraph_one", until: @until) %></p>

<p><%= t("devise.mailer.access_extended.goodbye") %></p>
<p><%= t("devise.mailer.access_extended.team") %></p>
