<% breadcrumb :phases, @development %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", development_name: @development.name) %>
  </div>
</div>

<%= render_collection @phases, parent: @development %>
