<% breadcrumb :phase_new, @development %>

<div class="section-header">
  <div class="section-title">
    <%= fa_icon "vcard" %>
    <%= t(".title") %>
  </div>
</div>

<%= render 'form', phase: @phase, development: @development %>
