<% breadcrumb :phase, @phase %>

<div class="section-header">
  <%= render @phase %>
</div>

<%= render_collection @collection, parent: @phase %>

<%= link_to t(".back"), development_phases_path, class: "btn" %>
