<% content_for :hero_text_primary do %>
  <%= t('.title') %>
<% end %>

<%= render "components/homeowner/hero" %>
<div class="branded-body">
  <div class="home-designer">
    <iframe src="https://planner5d.com/app/?prcode=5524d8" class="iframe" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
    <div class="new-tab">
      <a href="https://planner5d.com/?prcode=5524d8" target="_blank"><%= t(".new_tab") %></a>
    </div>
  </div>
</div>
