<% breadcrumb :manufacturer_edit, @manufacturer %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "industry" %>
    <%= t(".title", name: @manufacturer.name) %>
  </h3>
</div>

<%= render "form", manufacturer: @manufacturer, finish_categories: @finish_categories %>
