<% breadcrumb :manufacturer, @manufacturer %>

<%= render @manufacturer %>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), manufacturers_path, class: "btn" %>
  </div>
</div>
