<div style="width: 600px; margin: 0 auto; font-family: arial">

  <%= image_tag('logo.png', style: "display: block;width:120px;margin: 20px auto 20px") %>

  <div style="padding: 60px 40px;border-top:1px solid #999;border-bottom:1px solid #999;">
    <%= yield %>
  </div>

  <p style="text-align: center;font-size: 12px">Hoozzi &copy; <%= Time.now.year %></p>

</div>