  <%= render partial: 'layouts/head', locals: { title: t(".title") } %>
  <body class="hoozzi homeowner-view">
    <div class="outer-container">
      <div class="content-container">
        <div class="header-container">
          <%= render 'components/homeowner/header', brand: @brand %>
        </div>

          <%= render "components/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
