<!DOCTYPE html>
<html class="hoozzi">
  <%= render partial: 'layouts/head', locals: { title: t(".title") } %>
  <body class="homeowner-view">
    <div class="outer-container">
      <div class="content-container">
        <div class="header-container">
          <%= render 'components/homeowner/header' %>
        </div>

        <div class="main-container">
            <%= render "components/flashes" %>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
