  <%= render partial: 'layouts/homeowner_head', locals: { title: t(".title"), brand: @brand, plot: @plot } %>
  <body class="login-view">
    <% if @brand&.branded_login_image %>
      <div class="login-background" style="background-image: url('<%= image_path(@brand.branded_login_image) %>')" >
    <% else %>
      <div class="default-login-background" style="background-image: url('<%= asset_path('Spaciable_pink_corner.svg') %>');">
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
