  <%= render partial: 'layouts/homeowner_head', locals: { title: t(".title"), brand: @brand } %>
  <body class="login-view">
    <%= render 'components/homeowner/carousel' %>

    <%= yield %>
  </body>
</html>
