<head>
  <script src="https://kit.fontawesome.com/94bc1487c5.js" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag 'manifest_homeowner', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<!DOCTYPE html>
<div>
  <%= yield %>
</div>